<div class="modal-header">
  <h4 class="modal-title">Collaborators</h4>

</div>
<div class="clearfix">
  <div class="collaborators-list">
    <div class="add-collaborator">
      <span class="icon"><i class="fa fa-plus"></i></span>
      <span (click)="addCollaborator(app)" class="title cursor-pointer">Add Collaborators</span>
    </div>
    <div *ngFor="let collaborator of collaborators" class="collaborator-item">
      <img [src]='collaborator.path' width="20" height="20">
      <span class="title">
      {{collaborator.name}}
      </span>
      <span class="actions">
        <button  (click)="editCollaboratorAcess(collaborator)">
          <i class="fa fa-pencil"></i>
        </button>
        <button (click)="removeCollaborator(app,collaborator)">
          <i class="fa fa-trash"></i>
        </button>
      </span>
    </div>
  </div>
</div>
