<div class="row">
  <div class="col-2">
    <breadcrumb></breadcrumb>
  </div>
</div>
<div class="workbench-container">
    <div class="row workbench">
        <div class="bench-column">
            <drag-drop
            (dropItem)="itemDropped($event)"
            [type]="'requested'"
            [title]="'Requested'"
            [items]="items1"></drag-drop>
        </div>
        <div class="bench-column">
            <drag-drop
            (dropItem)="itemDropped($event)"
            [type]="'progress'"
            [title]="'In Progress'"
            [items]="items2"></drag-drop>
        </div>
        <div class="bench-column">
            <drag-drop
            (dropItem)="itemDropped($event)"
            [type]="'published'"
            [title]="'Published'"
            [items]="items3"></drag-drop>
        </div>
        <div class="bench-column">
            <drag-drop
            (dropItem)="itemDropped($event)"
            [type]="'unpublished'"
            [title]="'Unpublished'"
            [items]="items4"></drag-drop>
        </div>
        <div class="bench-column">
            <drag-drop
            (dropItem)="itemDropped($event)"
            [type]="'expired'"
            [title]="'Expired'"
            [items]="items5"></drag-drop>
        </div>
    </div>
</div>