<div class="modal-header">
  <h4 class="modal-title">Delete Gallery</h4>

</div>
<div class="modal-body">
  Are you sure you want to delete {{p3.name}} Gallery?
</div>
<div class="modal-footer">
  <button type="button" [disabled]="isSubmitting" class="btn btn-danger" (click)="delete(p3)">
    <span *ngIf="!isSubmitting">Delete</span><span *ngIf="isSubmitting">Deleting...</span></button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Close</button>
</div>
