<div class="row">
  <div class="col-12">
    <breadcrumb></breadcrumb>
  </div>
</div>
<div class="row">
  <div class="col-2">
    <div class="page-left-sidebar">
      <ul class="list-group">
        <li class="list-group-item" routerLinkActive="active ">
          <a class="title" routerLink="/suggestion/datatypes" >DATA TYPE</a>
        </li>
        <li class="list-group-item"  routerLinkActive="active ">
          <a class="title"  routerLink="/suggestion/labels">LABELS</a>
        </li>
        <li class="list-group-item"  routerLinkActive="active" >
          <a class="title" routerLink="/suggestion/labelstype">LABEL-TYPES</a>
        </li>
        <li class="list-group-item"  routerLinkActive="active" >
          <a class="title" routerLink="/suggestion/file">IMAGE SUGGESTION</a>
        </li>
        <li class="list-group-item"  routerLinkActive="active" >
          <a class="title" routerLink="/suggestion/string">TEXT SUGGESTION</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-10">
    <router-outlet></router-outlet>
  </div>
</div>
