<div class="modal-header">
  <h4 class="modal-title">Delete {{user.name}} User</h4>
</div>
<div class="modal-body">
  Are you sure you want to delete  {{user.name}} Users ?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="deleteUser(user)">DELETE</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
</div>
