@import './../../scss/variables.scss';
notification-page{

.notifications-container{
    overflow: auto;
    display: flex;
    justify-content: center;
    .notification-column{
        flex: 0 0 600px;
        max-width: 600px;
        overflow: hidden;
        .notification{
            height: 400px;
            height: calc(100vh - 160px);
            margin: -20px;
            padding: 20px 35px 20px 20px;
            overflow-y:auto;
        }
        .item{
            display: flex;
            cursor: pointer;
            padding: 10px 15px;
            border-bottom: 1px solid #ddd;
            &:hover{
                background: $light-background;
            }
            &.un-read{
                background: #f7f8f9;
            }
            .user-data{
                flex: 0 0 45px;
                max-width: 45px;
                img{
                width: 45px;
                height: 45px;
                }
            }
            .app-data{
                padding-left:0px;
                padding-right:0px;
                flex: 0 0 12%;
                max-width:12%;
                text-align: center;
                img{
                width: 45px;
                height: 45px;
                display: block;
                margin: 0 auto;
                }
                p{
                font-size: 12px;
                margin-bottom: 0px;
                line-height: 12px;
                margin-top: 0px;
                }
            }
            .content{
                flex: 0 0 94%;
                max-width: 94%;
                padding-left:10px;
                padding-right:12px;
                &.has-image{
                    flex: 0 0 82%;
                    max-width:82%;
                }
                .title{
                margin-top: 6px;
                margin-bottom:0px;
                font-size: 12px;
                line-height: 9px;
                color: $light-text;
                }
                .desc{
                    margin-bottom:0px;
                    color: $dark-text;
                    font-size: 14px;
                    line-height: 14px;
                    margin-top: 0px;
                    .user{
                        color:$secondary-color;
                        }
                }
            }
        }
    }
}

}
