<div class="notifications-container">
  <div class="notification-column">
        <div class="notification"
             infiniteScroll
             [infiniteScrollDistance]="2"
             [infiniteScrollThrottle]="400"
             (scrolled)="onScroll()"
             [scrollWindow]="false">

              <div *ngFor="let notification of notifications;let index=index;trackBy:notification?.id">
                <announcement-card *ngIf="notification['announcement']" [announcement]="notification['announcement']"></announcement-card>
                <notification-card *ngIf="notification['postNotification']" [notification]="notification['postNotification']"></notification-card>
              </div>
    </div>
  </div>
</div>