<div class="row">
    <div class="col-md-3">
        <div class="page-left-sidebar">
    bar        <ul class="list-group">
                <li class="list-group-item" routerLinkActive="active">
                    <a routerLink="/application/wallet/transaction">Transaction</a>
                </li>
                <li class="list-group-item" routerLinkActive="active">
                    <a routerLink="/application/wallet/addmoney">Add Money</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="col-md-9">
       <router-outlet></router-outlet>
    </div>
</div>

