<form name="Form" [formGroup]="P3P1Form" (ngSubmit)="submitForm()" novalidate >
  <div class="modal-header">
    <h4 class="modal-title">{{p3p1.id?'Edit':'Add'}} Photo</h4>

  </div>
  <div class="modal-body">
    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(P3P1Form.controls.name.invalid)}">
      <label class="col-3 col-form-label">Name</label>
      <div class="col-9">
        <input type="text" name="name" formControlName="name" class="form-control" >
        <div *ngIf="(isSubmited)&&(P3P1Form.controls.name.invalid)" class="form-control-feedback">Name is required!</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-3 col-form-label">path</label>
      <div class="col-6">
        <div class="image-uploader btn">
          <i [hidden]="imagePreview" class="fa fa-camera"></i>
          <input type="file" (change)="selectFile($event)" />
          <!--<img *ngIf="imagePreview" [src]="imagePreview" width="100" height="100" />-->
          <img *ngIf="imagePreview || p3p1.path" [src]="imagePreview || p3p1.path" width="100" height="100" />

        </div>
        <content-suggestion
          ngbTooltip="Suggestion"
          [categoryID]="categoryID"
          [componentID]="componentID"
          [parentReference]="selfReference"
          [type]="'file-1'"
          (onContentSelected)="onContentSelected($event)"
        ></content-suggestion>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-4 col-form-label">select</label>
      <div class="col-8 mt-10">
        <input type="checkbox" id="cover" name="cover" formControlName="cover" [checked]="true"  class="form-control">
        <label for="cover">Make this poster as a folder</label>
      </div>
    </div>

  </div>
    <div class="modal-footer">
      <button type="button" (keypress)="eventHandler($event)" [disabled]="isSubmitting" class="btn btn-primary" type="submit"><span *ngIf="!isSubmitting">SAVE</span><span *ngIf="isSubmitting">SAVING...</span></button>
      <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
    </div>
</form>



