 <div class="row">
  <div class="col-4">
    <h4 class="primary-title"></h4>
  </div>
  <div class="col-8 text-right">
    <button class="btn btn-sm btn-secondary" (click)="add()">+ Add File</button>
  </div>
</div>


 <div class="table-data-wrapper mask-data" style="height:400px;" infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="400"
      (scrolled)="onScroll()"
      [scrollWindow]="false">
        <div class="row mt-10">
          <div class="col-12">
            <div class="file-container" *ngFor="let file of files;let index = index;">
              <div class="file-item">
                <div class="actions">
                  <a (click)="deletefile(file)" placement="top" ngbTooltip="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
                <div class="file-bg-image cursor-pointer" (click)="viewLabelTypes(file._id)" [style.background-image]="getBackground(file.data)"></div>
                <div class="file-content">
                  <h3 class="title">name</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
 </div>
