<div class="modal-header">
  <h4 class="modal-title">{{collaborator._id?'Edit':'Add'}} Collaborator</h4>


</div>
<div class="modal-body">
  <div *ngIf="collaborator.name" class="collaborator">
    <img  *ngIf="!collaborator.path" [src]='collaborator.path' width="25" height="25">
    <span *ngIf="collaborator.name" class="title">{{collaborator.name}}</span>
    <span *ngIf="!collaborator.name" class="title">{{collaborator.email}}</span>
  </div>
  <div *ngIf="!collaborator.name" class="collaborator">
    <span  class="title">{{collaborator.email}}</span>
  </div>
  <div *ngIf="!collaborator._id" class="collaborator">
    <input  type="text"  class="form-control" (keypress)="eventHandler($event, app)" placeholder="Enter Email Address" #email>
    <button (click)="submitForm(app)" placement="top" ngbTooltip="Submit">
      <i [hidden]="!isSubmitting" class="fa fa-check"></i>
      <span [hidden]="!isSubmitted" class="saving"><span>.</span><span>.</span><span>.</span></span>
    </button>
  </div>
  <div *ngIf="collaborator._id" class="collaborator-access">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th class="text-center"></th>
        </tr>
      </thead>
      <tbody>

      <tr  *ngFor="let collaborators of collaboratorPrivilege">
        <td>{{collaborators.name}}</td>
        <td class="text-center">
          <input [id]="'hasPrivilege_'+collaborators._id" (click)="setCollaborator($event,collaborators._id)" [checked]="collaborators.checked" type="checkbox" >
          <label [for]="'hasPrivilege_'+collaborators._id"></label>
        </td>
        <td>private</td>
        <td class="text-center">
          <input [id]="'hasAccess_'+collaborators._id+'private'" (click)="setPrivate($event,collaborators._id)" [disabled]="!collaborators.checked" [checked]="collaborators.private" type="checkbox">
          <label [for]="'hasAccess_'+collaborators._id+'private'" ></label>
        </td>
      </tr>

        <!--<tr  *ngFor="let collaborator of collaboratorPrivilege">-->
          <!--<td>{{collaborator.name}}</td>-->
          <!--<td class="text-center">-->
            <!--<input [id]="'hasPrivilege_'+collaborator._id" (click)="setCollaborator($event,collaborator._id)" [checked]="getCollaboratorCheckedStatus(collaborator._id)"type="checkbox" >-->
            <!--<label [for]="'hasPrivilege_'+collaborator._id"></label>-->
          <!--</td>-->
          <!--<td>private</td>-->
          <!--<td class="text-center">-->
            <!--<input [id]="'hasAccess_'+collaborator._id+'private'" (click)="setPrivate($event,collaborator._id)" [checked]="getCheckedStatus(collaborator._id)"type="checkbox">-->
            <!--<label [for]="'hasAccess_'+collaborator._id+'private'" ></label>-->
          <!--</td>-->
        <!--</tr>-->


      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <!--<button *ngIf="!collaborator.name" type="button" class="btn btn-primary" type="submit">ADD</button>-->
</div>
