<form name="Form" [formGroup]="labelTypeForm" (ngSubmit)="submitForm()" novalidate >
  <div class="modal-header">
    <h4 class="modal-title">{{labelType._id?'Edit':'Add'}} Label Type</h4>
  </div>
  <div class="modal-body">

    <!--<div  class="form-group row">-->
      <div *ngIf="!labelType.categoryID._id"  class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(labelTypeForm.controls.categoryID.invalid)}">
      <label class="col-3 col-form-label">Category*</label>
      <div class="col-9">
        <select  (change)="getComponent($event)" formControlName="categoryID" class="form-control" >
          <option *ngFor="let categoryID of categories " [value]="categoryID._id" >{{categoryID.name}}</option>
        </select>
        <div *ngIf="(isSubmited)&&(labelTypeForm.controls.categoryID.invalid)" class="form-control-feedback">categoryID is required!</div>
      </div>
    </div>

    <div *ngIf="labelType.categoryID._id" class="row">
      <label class="col-3 col-form-label">Category*</label>
      <div class="col-9">{{labelType.categoryID.name}}</div>
    </div>

    <div  *ngIf="!labelType.componentID._id" class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(labelTypeForm.controls.componentID.invalid)}">
      <label class="col-3 col-form-label">Component*</label>
      <div class="col-9">
        <select  (change)="setComponent($event)" formControlName="componentID" class="form-control" >
          <option *ngFor="let componentID of components " [value]="componentID._id" >{{componentID.name}}</option>
        </select>
        <div *ngIf="(isSubmited)&&(labelTypeForm.controls.componentID.invalid)" class="form-control-feedback">componentID is required!</div>
      </div>
    </div>

    <div *ngIf="labelType.componentID._id" class="row">
      <label class="col-3 col-form-label">Component*</label>
      <div class="col-9">{{labelType.componentID.resourceID.name}}</div>
    </div>

    <div  *ngIf="!labelType.labelID._id" class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(labelTypeForm.controls.labelID.invalid)}">
      <label class="col-3 col-form-label">Label*</label>
      <div class="col-9">
        <select  (change)="setComponent($event)" formControlName="labelID" class="form-control" >
          <option *ngFor="let labelID of labels " [value]="labelID._id" >{{labelID.name}}</option>
        </select>
        <div *ngIf="(isSubmited)&&(labelTypeForm.controls.labelID.invalid)" class="form-control-feedback">labelID is required!</div>
      </div>
    </div>

    <div *ngIf="labelType.labelID._id" class="row">
      <label class="col-3 col-form-label">Label*</label>
      <div class="col-9">{{labelType.labelID.name}}</div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(labelTypeForm.controls.typeID.invalid)}">
      <label class="col-3 col-form-label">Type*</label>
      <div class="col-9">
        <select  (change)="setComponent($event)" formControlName="typeID" class="form-control" >
          <option *ngFor="let typeID of types " [selected]="labelType.typeID._id  == typeID._id? labelType.typeID.name: labelType.typeID.name" [value]="typeID._id+' '+typeID.name" >{{typeID.name}}</option>
        </select>
        <div *ngIf="(isSubmited)&&(labelTypeForm.controls.typeID.invalid)" class="form-control-feedback">typeID is required!</div>
      </div>
    </div>

    <div class="form-group row" >
      <div class="col-3 col-form-label">Min Length</div>
      <div class="col-9">
        <input  type="number" name="route" formControlName="minlength"  class="form-control">
      </div>
    </div>

    <div class="form-group row" >
      <div class="col-3 col-form-label">Max Length</div>
      <div class="col-9">
        <input  type="number" name="route" formControlName="maxlength"  class="form-control">
      </div>
    </div>

    <div class="modal-footer">
      <button (keypress)="eventHandler($event)" type="button" class="btn btn-primary"  type="submit">SAVE<span [hidden]="!isSubmited">ING...</span></button>
      <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
    </div>
  </div>

</form>

