<form name="Form" [formGroup]="P5Form" (ngSubmit)="submitForm()" novalidate >
  <div class="modal-header">
    <h4 class="modal-title"> {{p5._id?'Edit':'Add'}} {{pageName}}</h4>

  </div>

  <div class="modal-body">
    <div class="form-group row" [ngClass]="{'has-danger':(isSubmited)&&(!p5.path && !imagepreview)}">
        <label class="col-md-3 col-form-label">Photo *</label>
        <div class="col-md-6">
          <div class="image-uploader btn">
            <i [hidden]="imagepreview" class="fa fa-camera"></i>
            <input type="file" (change)="selectFile($event)" />
            <img *ngIf="p5.path || imagepreview " [src]="p5.path || imagepreview" width="100" height="100" />
          </div>
          <content-suggestion
          ngbTooltip="Suggestion"
          [categoryID]="categoryID"
          [componentID]="componentID"
          [parentReference]="selfReference"
          [type]="'file'"
          (onContentSelected)="onContentSelected($event)"
        ></content-suggestion>
          <div *ngIf="(isSubmited)&&(!p5.path && !imagepreview)" class="form-control-feedback">Photo is required!</div>
        </div>
    </div>
    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(P5Form.controls.title.invalid)}">
      <label class="col-md-3 col-form-label">Title *</label>
      <div class="col-md-8">
        <input type="text" name="title" formControlName="title" class="form-control" >
        <div *ngIf="(isSubmited)&&(P5Form.controls.title.invalid)" class="form-control-feedback">title is required!</div>
        <content-suggestion
          ngbTooltip="Suggestion"
          [categoryID]="categoryID"
          [componentID]="componentID"
          [type]="'title'"
          (onContentSelected)="onContentSelected($event)"
        ></content-suggestion>
      </div>
    </div>
    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(P5Form.controls.description.invalid)}">
      <label class="col-md-3 col-form-label">Description *</label>
      <div class="col-md-8">
        <textarea type="text" name="description" formControlName="description" class="form-control" rows="5" ></textarea>
        <content-suggestion
          ngbTooltip="Suggestion"
          [componentID]="componentID"
          [categoryID]="categoryID"
          [parentReference]="selfReference"
          [type]="'description'"
          (onContentSelected)="onContentSelected($event)"
          ></content-suggestion>
        <div *ngIf="(isSubmited)&&(P5Form.controls.description.invalid)" class="form-control-feedback">Description is required!</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type ="button" (keypress)="eventHandler($event)" [disabled]="isSubmitting" class="btn btn-primary" type="submit">SUBMIT<span [hidden]="!isSubmited">ING...</span></button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
  </div>
</form>
