    <form name="Form"  class="app-feature-form" [formGroup]="p1Form" (ngSubmit)="submitForm()"  novalidate >
      <div class="row">
        <div class="col-5">
    <!-- box -->
          <div class="box pt-20">
              <div class="row">
                <div class="col-8">
                  <h2 class="primary-title">{{pageName}}</h2>
                </div>
                <div class="col-4 edit-form-action">
                  <a *ngIf="!editMode" placement="top" ngbTooltip="Edit" (click)="activateEditMode()"><i class="fa fa-pencil"></i> edit</a>
                </div>
              </div>
              <div >
                <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(p1Form.controls.title.invalid)}">
                  <div class="col-3 control-label">Title</div>
                  <div [hidden]="!editMode"  class="col-8">
                    <input #title type="text" name="title" formControlName="title" class="form-control" />
                    <div *ngIf="(isSubmited)&&(p1Form.controls.title.invalid)" class="form-control-feedback">Title is required!</div>
                  </div>
                  <div [hidden]="editMode" class="col-8">
                    <div class="form-control dummy-control">{{p1Form.controls.title.value}}</div>
                  </div>
                </div>
              <div class="form-group row" [ngClass]="{'has-danger':(isSubmited)&&(!p1.path && !imagePreview)}">
                  <div class="col-3 control-label">Icon</div>
                  <div class="col-9">
                    <div class="image-uploader">
                      <i *ngIf="(!imagePreview)&&(!p1.path)" class="fa fa-camera"></i>
                         <input *ngIf="editMode" type="file" (change)="selectFile($event)" />
                      <img *ngIf="p1 && p1.path && imagePreview==''" [src]="p1.path" width="100" height="100" />
                      <img *ngIf="imagePreview !=''" [src]="imagePreview" width="100" height="100" />
                    </div>
                    <div *ngIf="(isSubmited)&&(!p1.path && !imagePreview)" class="form-control-feedback">Icon is required!</div>
                  </div>
              </div>
          </div>
            <div *ngIf="editMode" class="form-group row">
              <div class="col-12 text-center">

                <button class="btn btn-primary" [disabled]="isSubmitting" type="submit">
                  <span *ngIf="!isSubmitting">SUBMIT</span>
                  <span *ngIf="isSubmitting">SUBMITING...</span></button>
              </div>
            </div>
              </div>
    <!-- box -->


        </div>
      </div>
    </form>
