<table class="table table-header active">
  <thead>
    <tr>
      <th width="100%">
        <div class="row">
          <div class="col-10 text-left">
            <span class="sub-title">Resource Privilege</span>
          </div>
          <div class="col-2 text-right">
            <button class="btn btn-primary" (click)="cancel()">Back</button>
          </div>
        </div></th>
    </tr>
  </thead>
</table>
<div class="table-data-wrapper mask-data" style="height: 300px;">
    <table class="table" >
      <tr><td><input (click)="selectAll($event)" id="select" name="select"  type="checkbox" /><label for="select">Select All</label></td>
      <td><input (click)="unSelectAll($event)" id="unSelect" name="select"  type="checkbox" /><label for="unSelect">UnSelect All</label></td></tr>

      <tr *ngFor="let privilege of privileges;let i = index;">
        <th class="text-left" colspan="2">
          <input (click)="checkboxClick($event,privilege._id)" type="checkbox" [id]="privilege._id" [value]="privilege._id"  [checked]="getCheckedStatus(privilege._id)" [disabled]="getDisabledStatus(privilege._id)" />
          <label [for]="privilege._id"> {{privilege.name}}</label>
        </th>
      </tr>
    </table>
</div>
