<div class="modal-header">
  <h4 class="modal-title">Delete Address</h4>

</div>
<div class="modal-body">
  Are you sure you want to delete {{address.name}} this address?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-sm btn-danger" (click)="deleteAddress(address)">DELETE</button>
  <button type="button" class="btn btn-sm btn-secondary" (click)="activeModal.close()">CANCEL</button>
</div>
