<div class="row">
  <div class="col-6">
    <h4 class="primary-title">{{p2FolderName.substr(0,45)}}<span *ngIf="p2FolderName.length>45">...</span></h4>
  </div>
  <div class="col-6 text-right">
    <button (click)="addP2P1()" class="btn btn-sm btn-secondary">+ Add Member</button>
    <button fullScreen [container]="'.app-page'" class="btn btn-sm full-screen-action btn-secondary">
      <i class="fa fa-window-maximize"></i>
      <i class="fa fa-window-minimize"></i>
    </button>
  </div>
</div>
<div class="row mt-10">
  <div class="col-12">
      <!-- folders -->
      <div class="file-container">
        <div class="table-data-wrapper" infiniteScroll
             [infiniteScrollThrottle]="400"
             [infiniteScrollContainer]="'.app-page'"
             (scrolled)="onScroll()"
             [scrollWindow]="false">
        <div class="file-item" *ngFor="let p2p1data of p2p1; let index = index;">
          <div class="actions">
            <a (click)="editP2P1(p2p1data)" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a (click)="deleteP2P1(p2p1data)" placement="top" ngbTooltip="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
          </div>
          <img class="file-image" [src]="p2p1data.path" />
          <div class="file-content">
            <h3 class="title">
              {{p2p1data.name.substr(0,10)}}<span *ngIf="p2p1data.name.length>10">...</span>
              <span [hidden]="!p2p1data.relation">, {{p2p1data.relation.substr(0,10)}}<span *ngIf="p2p1data.relation.length>10">...</span></span></h3>
            <div class="desc">{{p2p1data.description.substr(0,100)}}<span *ngIf="p2p1data.description.length>100">...</span></div>
          </div>
        </div>
        </div>
      </div>
      <!-- folders -->

    <!-- <div class="p2p1-container clearfix">
      <div class="p2p1-item" *ngFor="let p2p1data of p2p1; let index = index;">
        <img class="p2p1-image" [src]="p2p1data.path">
        <div class="p2p1-content">
          <h3 class="title">{{p2p1data.name}} <span [hidden]="!p2p1data.relation">, {{p2p1data.relation}}</span></h3>
          <div class="desc">{{p2p1data.description}}</div>
        </div>
        <div class="actions">
          <a (click)="editP2P1(p2p1data)" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a (click)="deleteP2P1(p2p1data)" placement="top" ngbTooltip="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </div>
      </div>
    </div> -->
  </div>



  <!-- <div class="col-6 right-border">
    <h3 class="page-items-title">People</h3>
    <div class="app-page-items grey-items" style="height:200px;overflow-y:scroll;overflow-x:hidden;">
      <div class="item" *ngFor="let p2p1data of p2p1;let index = index;">
        <div class="row">
          <div class="col-3">
            <img [src]="p2p1data.path" width="40" height="40" class="rounded-circle" />
          </div>
          <div class="col-8">
            <p>{{p2p1data.name}}<br>{{p2p1data.relation}}</p>
          </div>
        </div>
        <div class="actions">
          <a (click)="getSinglep2p1(p2p1data)"><i class="fa fa-eye" aria-hidden="true"></i></a>
          <a (click)="editP2P1(p2p1data)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a (click)="deleteP2P1(p2p1data)"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="app-page-item-add pd-10" (click)="addP2P1()">+ Add People</div>
</div> -->
  <!-- <div class="col-6" *ngIf="singleP2P1Data">
    <h3 class="page-items-title">Details</h3>
    <div class="box grey text-center">
        <img [src]="singleP2P1Data.path" width="100" height="100" class="rounded-circle" />
        <p class="mt-10 mb-10">{{singleP2P1Data.name}}<br/>{{singleP2P1Data.relation}}</p>
        <p>{{singleP2P1Data.description}}</p>
    </div>
  </div> -->
</div>

