<form name="Form" [formGroup]="P2Form" (ngSubmit)="submitForm()" novalidate >
  <div class="modal-header">
    <h4 class="modal-title"> {{p2._id ? 'Edit':'Add'}} Group</h4>

  </div>

  <div class="modal-body">
    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(P2Form.controls.name.invalid || invalidName)}">
      <label class="col-3 col-form-label">Name</label>
      <div class="col-9">
        <input type="text" name="name" formControlName="name" (keyup)="checkNameNotChanged($event)" class="form-control" >
        <div *ngIf="(isSubmited)&&(P2Form.controls.name.invalid)" class="form-control-feedback">Name is required!</div>
        <div *ngIf="(isSubmited)&&(invalidName)" class="form-control-feedback">Please make Changes!</div>
      </div>
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" (keypress)="eventHandler($event)" [disabled]="isSubmitting" class="btn btn-primary" type="submit">
      <span *ngIf="!isSubmitting">SAVE</span><span *ngIf="isSubmitting">SAVING...</span></button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
  </div>
</form>
