<div class="row">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">
          <form action="" class="master-search-form">
            <input #input type="text" class="site-search" placeholder="Search">
          </form>
        </a>
      </div>
    </div>
  </nav>
</div>
<div class="row">
  <div class="col-3">
       <img src="">
  </div>
  <div class="col-2">
    <img (click)="searchfromFlickr()" src="assets/img/flickr.png" width="50" height="30">
  </div>
  <div class="col-2">
    <img (click)="searchfromGiphy()" src="assets/img/giphy.PNG"  width="50" height="30">
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="row">
      <div *ngFor="let photo of photos">
        <div class="col s4">
          <div class="card">
            <div (click)="saveIntoDB(photo)" class="card-image">
              <img  class="cursor-pointer" [src]="getImagesfromApi(photo)" width="180" height="130">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
