

<div class="row">
  <div class="col-md-12">
    <table class="table table-header active">
      <thead>
      <tr>
        <th>#</th>
        <th>ADDRESS1  <sorter [config]="getListSortData('address1')" (sortData)="setListSorting($event)"></sorter></th>
        <th>ADDRESS2  <sorter [config]="getListSortData('address2')" (sortData)="setListSorting($event)"></sorter></th>
        <th>CITY  <sorter [config]="getListSortData('city')" (sortData)="setListSorting($event)"></sorter>
          <span class="sort">
                <i class="fa fa-caret-up"></i>
                <i class="fa fa-caret-down"></i>
            </span></th>
        <th>STATE  <sorter [config]="getListSortData('state')" (sortData)="setListSorting($event)"></sorter>
          <span class="sort">
                <i class="fa fa-caret-up"></i>
                <i class="fa fa-caret-down"></i>
            </span></th>
        <th>COUNTRY  <sorter [config]="getListSortData('country')" (sortData)="setListSorting($event)"></sorter>
          <span class="sort">
                <i class="fa fa-caret-up"></i>
                <i class="fa fa-caret-down"></i>
            </span></th>
        <th>PINCODE  <sorter [config]="getListSortData('pincode')" (sortData)="setListSorting($event)"></sorter></th>
        <th>PRIMARY  <sorter [config]="getListSortData('primary')" (sortData)="setListSorting($event)"></sorter></th>
        <th>ACTION</th>
      </tr>
      </thead>
    </table>
    <div class="table-data-wrapper mask-data" style="height:400px;" infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="400"
         (scrolled)="onScroll()"
         [scrollWindow]="false">
      <table class="table ">
      <tbody>
      <tr *ngFor="let address of addresses;let index = index;">

        <td scope="row">{{index+1}}</td>
        <td>{{address.address1}}</td>
        <td>{{address.address2}}</td>
        <td>{{address.city}}</td>
        <td>{{address.state}}</td>
        <td>{{address.country}}</td>
        <td>{{address.pincode}}</td>
        <td *ngIf="address.primary == true">Primary</td>
        <td *ngIf="address.primary == false">Secondary</td>
        <td>
          <a (click)="editAddress(address)" class="row-action"><i class="fa fa-user-plus" aria-hidden="true"></i> Edit</a>
          <a (click)="deleteAddress(address)" class="row-action"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
        </td>
      </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>

<div class="page-actions top-align">
  <button (click)="addAddress()" class="btn btn-secondary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i> Add Address</button>
</div>

