<div class="modal-header">
  <h4 class="modal-title">Delete</h4>

</div>
<div class="modal-body">
  Are you sure you want to delete ?
</div>
<div class="modal-footer">
  <button type="button" [disabled]="isSubmitting" class="btn btn-danger" (click)="deletep2p1(p2p1)">
    <span *ngIf="!isSubmitting">Delete</span><span *ngIf="isSubmitting">Deleting...</span></button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Close</button>
</div>
