<div class="row">
  <div class="col-md-4">
    <breadcrumb></breadcrumb>
  </div>
</div>
<div class="row">
  <div class="col-md-2 flex-20">
    <div class="page-left-sidebar">
      <ul class="list-group">
        <li class="list-group-item" routerLinkActive="active">
          <a class="title" [routerLink]="'/user-details/'+id+'/application-status'" >APPLICATION STATUS</a>
        </li>
        <li class="list-group-item" routerLinkActive="active" >
          <a class="title" [routerLink]="'/user-details/'+id+'/address'">ADDRESSES</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-10 flex-80">
    <router-outlet></router-outlet>
  </div>
</div>
