<form name="Form" [formGroup]="categoryForm" (ngSubmit)="submitForm()" novalidate >
  <div class="modal-header">
    <h4 class="modal-title">{{category.id?'Edit':'Add'}} Category</h4>
  </div>
  <div class="modal-body">
    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(categoryForm.controls.name.invalid)}">
      <div class="col-md-3">Name</div>
      <div class="col-md-9">
        <input type="text" name="name" formControlName="name" class="form-control" >
        <div *ngIf="(isSubmited)&&(categoryForm.controls.name.invalid)" class="form-control-feedback">Name is required!</div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-3">Icon</div>
      <div class="col-md-8">
        <div class="image-uploader btn">
          <i [hidden]="imagePreview" class="fa fa-camera"></i>
          <input type="file" (change)="selectFile($event)" />
          <img *ngIf=" category.path || imagePreview" [src]="imagePreview  || category.path" width="100" height="100" />
          <!--<img *ngIf="imagePreview !=''" [src]="imagePreview" width="100" height="100" />-->
        </div>
      </div>
    </div>
    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(categoryForm.controls.description.invalid)}" >
      <div class="col-md-3">Description</div>
      <div class="col-md-9">
        <textarea type="text" name="description" formControlName="description" class="form-control" rows="4"></textarea>
        <div *ngIf="(isSubmited)&&(categoryForm.controls.description.invalid)" class="form-control-feedback">Description is Required</div>
        <!--<input type="text" name="name" formControlName="name" class="form-control">-->
      </div>
      </div>
  </div>
  <div class="modal-footer">
    <button (keypress)="eventHandler($event)" type="button" [disabled]="isSubmitting" class="btn btn-sm btn-primary" type="submit">
      <span *ngIf="!isSubmitting">SAVE</span>
      <span *ngIf="isSubmitting">SAVING</span>
    </button>
    <button type="button" class="btn btn-sm btn-secondary" (click)="activeModal.close()">CANCEL</button>
  </div>
</form>

