<div class="row justify-content-center">
    <div class="col-11">
        <table class="table table-header active">
            <thead>
                <tr>
                    <th>#</th>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>IMAGES</th>
                   <th>LAST LOGIN</th>
                    <th>ROLE</th>
                </tr>
            </thead>
        </table>
        <div class="table-data-wrapper mask-data">
            <table class="table">
                <tbody>
                <tr *ngFor="let f2data of userData; let index = index;">
                <th>{{index+1}}</th>
                <td>{{f2data.name}} </td>
                <td>{{f2data.email}}</td>
                <td><img *ngIf="f2data.path" [src]="f2data.path" width="30" height="30"></td>
                <td>{{f2data.lastLoggedIn}}</td>
                <td>
                    <!-- <ng-selectize
                    [(ngModel)]="f2data.role._id"
                    (change)="setDefaultRole($event,f2data)"
                    [errorClass]="'has-error'"
                    [config]="singleSelectConfig"
                    [options]="role"
                    [hasOptionsPlaceholder]="'Click to select...'"></ng-selectize> -->

                     <select  (change)="setDefaultRole($event,f2data)" [(ngModel)]="f2data.role._id" class="custom-select" >
                    <option *ngFor=" let roledata of  role;" [value]="roledata._id">{{roledata.name}}</option>
                    </select> 
                </td>
                </tr>
                </tbody>
            </table>
        </div>
  </div>
</div>
