<form name="Form" [formGroup]="appForm" (ngSubmit)="submitForm()" novalidate >
  <div class="modal-header">
    <h4 class="modal-title">{{app._id?'Edit':'Add'}} App Name</h4>

  </div>
  <div *ngIf="app.android.status === 'UNPUBLISHED' && app.ios.status === 'UNPUBLISHED'" class="modal-body">
    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(appForm.controls.name.invalid)}">
      <label class="col-md-3 col-form-label">Name</label>
      <div class="col-md-9">
        <input type="text" name="name" formControlName="name" class="form-control" >
        <div *ngIf="(isSubmited)&&(appForm.controls.name.invalid)" class="form-control-feedback">Name is required!</div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3">Icon</div>
      <div class="col-md-8">
        <div class="image-uploader btn">
          <i [hidden]="imagePreview" class="fa fa-camera"></i>
          <input type="file" (change)="selectFile($event)" />
          <img *ngIf="imagePreview  ||  app.path" [src]="imagePreview || app.path" width="100" height="100" />
        </div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(appForm.controls.name.invalid)}">
      <label class="col-md-3 col-form-label">Description</label>
      <div class="col-md-9">
        <input type="text" name="description" formControlName="description" class="form-control" >
        <div *ngIf="(isSubmited)&&(appForm.controls.description.invalid)" class="form-control-feedback">Description is required!</div>
      </div>
    </div>

  </div>

  <div class="text-center" *ngIf="app.android.status != 'UNPUBLISHED' || app.ios.status != 'UNPUBLISHED'">
      <h6>This App can't be Update</h6>
  </div>
  <div class="modal-footer">
    <button  *ngIf="app.android.status === 'UNPUBLISHED' && app.ios.status === 'UNPUBLISHED'"  type="button"  [disabled]="isSubmitting" class="btn btn-primary" type="submit">SAVE<span [hidden]="!isSubmited">..ING</span></button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
  </div>
</form>

