<div class="box category selection">
    <h4 class="sub-title">Select Category</h4>
    <div class="clearfix">
        <div *ngFor="let category of categories" class="category-item">
            <div (click)="view(category)" class="app-category btn">
                <img [src]="category.path||'/assets/img/categories/Icon-1.png'" alt="">
            </div>
            <h3 class="category-title">{{category.name}}</h3>
        </div>
        <!-- <div class="category-item">
            <div class="app-category btn">
                <img src="/assets/img/categories/Icon-1.png" alt="">
            </div>
            <h3 class="category-title">Healthcare</h3>
        </div>
        <div class="category-item">
            <div class="app-category btn">
                <img src="/assets/img/categories/Icon-1-1.png" alt="">
            </div>
            <h3 class="category-title">Music</h3>
        </div>
        <div class="category-item">
            <div class="app-category btn">
                <img src="/assets/img/categories/Icon-1-1-1.png" alt="">
            </div>
            <h3 class="category-title">Photography</h3>
        </div>
        <div class="category-item">
            <div class="app-category btn">
                <img src="/assets/img/categories/Icon-1-1-1-1.png" alt="">
            </div>
            <h3 class="category-title">Retail</h3>
        </div>
        <div class="category-item">
            <div class="app-category btn">
                <img src="/assets/img/categories/Icon-1-1-1-1-1.png" alt="">
            </div>
            <h3 class="category-title">Lifestyle</h3>
        </div>
        <div class="category-item">
            <div class="app-category btn">
                <img src="/assets/img/categories/Icon-1-1-1-1-1-1.png" alt="">
            </div>
            <h3 class="category-title">Personal</h3>
        </div>
        <div class="category-item">
            <div class="app-category btn">
                <img src="/assets/img/categories/Icon-1-1-1-1-1-1-1.png" alt="">
            </div>
            <h3 class="category-title">Video</h3>
        </div>
        <div class="category-item">
            <div class="app-category btn">
                <img src="/assets/img/categories/Icon-1-1-1-1-1-1-1-1.png" alt="">
            </div>
            <h3 class="category-title">Games</h3>
        </div>
        <div class="category-item">
            <div class="app-category btn">
                <img src="/assets/img/categories/Icon-1-1-1-1-1-1-1-1-1.png" alt="">
            </div>
            <h3 class="category-title">Business</h3>
        </div> -->
    </div>
</div>