<div class="row">
    <div class="col-2 flex-20">
        <div class="page-left-sidebar">  
            <ul class="list-group">
                <li *ngFor="let p4 of p4Data;let index = index;" class="list-group-item" routerLinkActive="active">
                    <a class="title" [routerLink]="'/application/'+appID+'/p4f1/'+p4['_id']">{{p4.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-10 flex-80">
        <router-outlet></router-outlet>
    </div>
</div>