<div class="row">
     <div class="col-md-12">
        <table class="table table-header active">
          <thead>
            <tr>
              <th width="10%"># <sorter [config]="getListSortData('createdOn')" (sortData)="setListSorting($event)"></sorter></th>
              <th width="25%">PRIVILEGES <sorter [config]="getListSortData('privileges')" (sortData)="setListSorting($event)"></sorter></th>
              <th width="25%">CODE <sorter [config]="getListSortData('code')" (sortData)="setListSorting($event)"></sorter></th>
              <th width="25%">ACTION</th>
            </tr>
          </thead>
        </table>

         <div class="table-data-wrapper mask-data" style="height: calc(100vh - 200px);" infiniteScroll
              [infiniteScrollDistance]="2"
              [infiniteScrollThrottle]="400"
              [scrollWindow]="false">
          <table class="table ">
            <tbody>
              <tr *ngFor="let privilege of privileges;let index = index;" >
                <th width="10%">{{index+1}}</th>
                <td width="25%">{{privilege.name}}</td>
                <td width="25%">{{privilege.code}}</td>
                <td width="25%">
                  <a (click)="editComponent(privilege)" class="row-action"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  <a (click)="deleteComponent(privilege)" class="row-action"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

  </div>
  <div class="page-actions top-align text-right">
    <button (click)="addComponent()" class="btn btn-sm btn-secondary ">+ Add Privileges</button>
  </div>
</div>

