<div class="overlay-modal-container">


  <div class="web-uploading">
    <sticky [sticky-offset-top]="20">
      <div class="header">
        <div class="search-box">
          <input #input type="text" class="form-control" placeholder="Flat Images">
          <!-- <input type="text" placeholder="Flat Images" class="form-control"> -->
        </div>

        <div class="search-options text-center">
          <div class="option btn" [ngClass]="{'btn-primary':activeClass=='flickr'}" (click)="searchfromFlickr()">
            <span class="logo">
              <i class="fa fa-flickr" aria-hidden="true"></i>
            </span>
            Flickr <span *ngIf="activeClass=='flickr' && fetchingData">...</span>
          </div>
          <div class="option btn" [ngClass]="{'btn-primary':activeClass=='giphy'}"  (click)="searchfromGiphy()">
            <span class="logo">
              <i class="fa fa-gift" aria-hidden="true"></i>
            </span>
            Giphy  <span *ngIf="activeClass=='giphy' && fetchingData">...</span>
          </div>
        </div>
      </div>
    </sticky>
    <div class="body">
        <div class="content">
          <div class="file-container clearfix" style="padding-top: 20px;width: 795px;margin: 0 auto;">
            <div *ngFor="let photo of photos" class="file-item">
              <div (click)="selectPhoto(photo)" class="file-bg-image cursor-pointer" [style.background-image]="getImagesfromApi(photo)"></div>
              <div class="file-content">
                <h3 class="title">{{getTitlefromApi(photo).length > 20 ? getTitlefromApi(photo).substr(0,20)+'...':getTitlefromApi(photo)}}</h3>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>

  <!-- <div class="modal-header">
    <h4 class="modal-title"> Crop the Image to Continue</h4>

  </div>
  <div class="row mt-10">
    <div class="col-12">
        some good image goes here
    </div>
  </div> -->


</div>
