<div class="row">
  <div class="col-12">
    <breadcrumb></breadcrumb>
  </div>
</div>
      <div class="row">
        <div class="col-9 checkout-table-container align-content-center" >
          <table class="table table-header active">
            <thead>
            <tr>
              <th width="5%">#<sorter [config]="getListSortData('createdOn')" (sortData)="setListSorting($event)"></sorter> </th>
              <th width="15%">APP<sorter [config]="getListSortData('name')" (sortData)="setListSorting($event)"></sorter></th>
              <th width="10%">USER<sorter [config]="getListSortData('name')" (sortData)="setListSorting($event)"></sorter></th>
              <th width="18%">ITEM</th>
              <th width="10%">QTY.</th>
              <th width="12%">UNIT PRICE<sorter [config]="getListSortData('price')" (sortData)="setListSorting($event)"></sorter></th>
              <th width="10%">DISC.<sorter [config]="getListSortData('discount')" (sortData)="setListSorting($event)"></sorter></th>
              <th width="10%">TOTAL</th>
              <th width="10%">ACTIONS</th>
            </tr>
            </thead>
          </table>
          <div class="table-data-wrapper mask-data" style="height:calc(100vh - 223px);" infiniteScroll
               [infiniteScrollDistance]="2"
               [infiniteScrollThrottle]="400"
               (scrolled)="onScroll()"
               [scrollWindow]="false">
            <table class="table ">
              <tbody *ngFor="let bill of billings;let index = index;"  >
              <tr class="data-row" *ngIf="bill.templateID">
                <th width="5%" class="text-center">{{index+1}}</th>
                <td width="15%">{{bill.appID.name.substr(0,10)}}{{bill.appID.name.length>10?'...':''}}</td>
                <td width="10%" [title]="bill.userID.name">{{bill.userID.name.substr(0,10)}}{{bill.userID.name.length>10?'...':''}}</td>
                <td width="18%" class="text-left">
                   <div class="bill-item">
                      <div class="name">{{bill.applicationID.name}}</div>
                      <!-- <div class="desc">Template: {{bill.templateID.name}}</div> -->
                   </div>
                </td>
                <td width="10%" class="text-center">
                  <div class="adder-btns clearfix">
                    <button *ngIf="bill.incrementQty" class="btn cursor-pointer"  (click)="hitApiIncrement(bill)">+</button>
                    <span class="adder-title">{{bill.qty}}</span>
                    <button *ngIf="bill.incrementQty" class="btn cursor-pointer" (click)="hitApiDecrement(bill)">-</button>
                  </div>
                </td>
                <td width="12%" class="text-right">&#8377; {{bill.templateID.price.toFixed(2)}}</td>
                <td width="10%" class="text-right">&#8377; {{bill.templateID.discount.toFixed(2)}}</td>
                <td width="10%" class="text-right">&#8377; {{totalAmount(bill)}}</td>
                <td width="10%" class="actions text-center">
                    <i title="Add" (click)="removeitemaddintoCheckout(bill)" class="fa fa-plus"></i>
                    <i title="Remove From Billing" class="fa fa-trash"></i>
                </td>
              </tr>
              <tr class="description-row">
                <td colspan="9" class="text-left">
                  <div class="bill-item">
                      <div class="desc">Template: {{bill.templateID.name}}</div>
                   </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-3">
          <div class="checkout-details">
            <div class="header" *ngIf="checkedCheckboxes.length>0">
              <table class="table">
                <tr>
                  <td>
                    ITEM
                  </td>
                  <td>
                    AMOUNT
                  </td>
                </tr>
              </table>
            </div>
            <div class="body" *ngIf="checkedCheckboxes.length>0 ">
              <div class="table-body">
                <table class="table active">
                  <tbody class="bill-items">
                    <tr *ngFor="let singleCheckBox of checkedCheckboxes"  >
                      <td class="item">
                          <div class="title">{{singleCheckBox.userID.name.substr(0,10)}}{{singleCheckBox.userID.name.length>10?'...':''}}</div>
                          <div class="desc">Some kind of Description will go here do not worry</div>
                        </td>
                      <td class="item-actions">&#8377; {{getCheckedAmount(singleCheckBox)}}
                        <div class="remove-action">
                          <i title="Remove" (click)="addIntoBillingsRemoveSelcted(singleCheckBox)" class="fa fa-times"></i>
                      </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <table class="table active">
                <tbody class="highlight">
                  <tr>
                    <td>SubTotal</td>
                    <td class="text-right">&#8377; {{getSubTotal(checkedCheckboxes)}}</td>
                  </tr>
                  <tr>
                    <td>Tax (GST {{this.taxCount}}%)</td>
                    <td class="text-right">&#8377; {{getTax()}}</td>
                  </tr>
                  <tr>
                    <td>GrandTotal</td>
                    <td class="text-right">&#8377; {{getGrandTotal(checkedCheckboxes, total)}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="body empty text-center" [hidden]="checkedCheckboxes.length>0">
              <img src="assets/img/shopping-cart.png" alt="">
              <h3 class="title">Cart is empty!</h3>
              <p>Click <span class="add-btn">+</span> button, to add items to the cart!</p>
            </div>
            <div *ngIf="checkedCheckboxes.length>0" class="footer">
              <button (click)="checkOut(checkedCheckboxes)" class="btn btn-secondary">
                CHECKOUT
              </button>
            </div>
          </div>
        </div>
      </div>
