<div class="modal-header">
  <h4 class="modal-title"> Please Select Type </h4>

</div>
<div class="row mt-10 justify-content-md-center">
  <div class="col-4 text-center">
    <div class="suggestion-selector">
      <div class="circle">
        <i class="fa fa-desktop"></i>
        <p class="title">Image</p>
      </div>
      <input type="file" class="upload" (change)="selectImageFile($event)">
    </div>
  </div>
  <div class="col-4">
    <div class="suggestion-selector">
      <div class="circle">
        <i class="fa fa-video-camera"></i>
        <p class="title">Video</p>
      </div>
      <input type="file" class="upload" (change)="selectVideoFile($event)">
    </div>
  </div>
</div>
