<div [ngClass]="{'post-item':true,'active':post.status=='ACTIVE','in-active':post.status=='INACTIVE'}">

        <div class="post-header">
            <div class="info row">
                <div class="col-2">
                    <img *ngIf="post.userID.path" [src]="post.userID.path" >
                </div>
                <div class="col-6">
                    <a  class="margin-right-5">{{post.userID.name}}</a>
                    <i class="fa fa-play"></i>
                    <a>{{post.appID.name}}</a>
                </div>
                <div class="col-4 text-right">
                    <span class="duration-ago">{{post.createdOn | timeAgo }}</span>
                    <div *ngIf="post.status=='ACTIVE'" ngbDropdown class="dropdown post-actions d-inline-block">
                    <a ngbDropdownToggle></a>
                    <span class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownBasic1">
                        <a class="dropdown-item" (click)="deletePost(post)">Delete</a>
                    </span>
                    </div>
                </div>
            </div>
            <div class="post-description">
                <p>{{post.postID.title}}</p>
            </div>
        </div>
        <div *ngIf="post && post.postID" class="post-body">
            <img *ngIf="post.postID.path" [src]="post.postID.path" class="img-fluid" alt="">
        </div>
        <div class="post-footer">
            <div class="post-data" *ngIf="post && post.postID && ( (post.postID.likes && post.postID.likes.length>0) || post.postID.comment) >0">
                    <div class="likes">
                        <span *ngFor="let likeDetail of post.postID.likes;">
                            <img placement="top" ngbTooltip="{{likeDetail.userID.name}}" class="like-person" [src]="likeDetail.userID.path">
                        </span>
                        <span *ngIf="(post.postID)&&(post.postID.like>0)&&(post.postID.like-post.postID.likes.length>0)" class="like-count">+{{post.postID.like-post.postID.likes.length}}</span>
                    </div>
                    <div class="actions">
                        <a class="margin-right-5">{{post.postID ? post.postID.comment:''}} Comments</a>
                    </div>
            </div>
    <div class="post-actions">
    <div class="row">
        <div class="col-4">
        <a (click)="hitLike(post.postID._id, post.appID._id )" class="active"><i class="fa fa-heart"></i> Liked</a>

        </div>
        <div class="col-4 text-center">
        <a [ngClass]="{'active': addComment}" (click)="toggleCommentForm()" ><i class="fa fa-comment"></i> Comment</a>
        </div>
        <div class="col-4 text-right">
        <a href="#"><i class="fa fa-share"></i> Share</a>
        </div>
    </div>
    </div>
    <div [hidden]="!addComment" class="post-add-comment">
        <div class="row">
            <div class="col-2 user">
            <img class="user-image" [src]="userData.path" alt="">
            </div>
            <div class="col-10">
            <input  [disabled]="submitting" #comment placeholder="Comment..." (keypress)="eventHandler($event, comment.value, post.postID._id ,post.appID._id )" class="user-comment form-control" type="text" >
            <button [disabled]="submitting" (click)="postComment(comment.value, post.postID._id ,post.appID._id)"  class="btn btn-submit">Submit<span [hidden]="!submitting">ing...</span></button>
            </div>
        </div>
    </div>
    <div *ngFor="let comment of post.postID.comments;" class="post-comments">
    <div  class="row">
        <div class="col-2 user">
        <img class="user-image" [src]="comment.userID.path">
        </div>
        <div  class="col-8">
            <p class="user-name">{{comment.userID ? comment.userID.name:''}}</p>
            <p class="user-comment">{{comment.message}}</p>
        </div>
        <div class="col-2 time-ago">
            {{comment.createdOn | timeAgo}}
        </div>
    </div>
    </div>
    <div *ngIf="!hideShowMore && post && post.postID && post.postID.comments && post.postID.comments.length>0" class="show-more">
        <button [disabled]="loadingComments" (click)="loadMoreComments(post.postID._id, post.appID._id)">Show More</button>
    </div>
</div>
</div>