<div class="row">
  <div class="col-8">
    <h4 class="primary-title">{{pageName}}</h4>
  </div>
  <div class="col-4 text-right">
    <div class="btn btn-sm btn-secondary" (click)="addP3()">
       + Add Album
      </div>
    <button fullScreen [container]="'.app-page-outlet'" class="btn btn-sm full-screen-action btn-secondary">
      <i class="fa fa-window-maximize"></i>
      <i class="fa fa-window-minimize"></i>
    </button>
  </div>
</div>
  <!-- folders -->
  <div class="file-container clearfix">
    <div class="table-data-wrapper mask-data" style="height: calc(100vh - 265px);" infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="400"
         (scrolled)="onScroll()"
         [infiniteScrollContainer]="'.app-page'"
         [scrollWindow]="false">
    <div class="file-item" *ngFor="let p3data of p3;let index = index;" >
      <div class="actions">
        <a (click)="editP3(p3data)" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        <a (click)="deleteP3(p3data)" placement="top" ngbTooltip="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
      </div>
      <div (click)="getP3Data(p3data)" class="file-bg-image cursor-pointer" [style.background-image]="getBackground(p3data.path)"></div>


      <div class="file-content">
        <h3 class="title">{{p3data.name.substr(0,20)}}<span *ngIf="p3data.name.length>20">...</span></h3>
        <div class="desc desc-sm">
          <p>{{p3data.image}} Images | {{p3data.video}} Videos</p>
        </div>
      </div>
    </div>
    </div>
  </div>
  <!-- folders -->
