
    <div class="modal-header">
      <h4 class="modal-title">Delete Component</h4>

    </div>
    <div class="modal-body">
      Are you sure you want to delete "{{component.name}}" component?
    </div>
    <div class="modal-footer">
      <button type="button" [disabled]="isSubmited"  class="btn btn-danger" (click)="deleteComponent(component)">DELETE</button>
      <button type="button"  class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
    </div>

