<div class="row">
    <div class="col-3 flex-20">
        <div class="page-left-sidebar fade-in-small">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let component of appComponents;let index = index;" routerLinkActive="active">
                    <a [title]="component.pageName" class="title" [routerLink]="'/application/'+appID+'/f1'+component['componentID']['route']">{{component.pageName.substr(0,12)}}<span [hidden]="component.pageName.length<12">...</span></a>
                    <span class="actions">
                        <a (click)="editPageName(component)" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil"></i></a>
                        <a (click)="deletePageName(component)" placement="top" ngbTooltip="Delete"><i class="fa fa-trash"></i></a>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-9 flex-80">
        <router-outlet></router-outlet>
    </div>
</div>
