<div class="row">
  <div class="col-4">
    <h4 class="primary-title">Groups</h4>
  </div>
  <div class="col-8 text-right">
    <button class="btn btn-sm btn-secondary" (click)="addP2()">+ Add Group</button>
    <button fullScreen [container]="'.app-page'" class="btn btn-sm full-screen-action btn-secondary">
      <i class="fa fa-window-maximize"></i>
      <i class="fa fa-window-minimize"></i>
    </button>
  </div>
</div>
<div class="row mt-10">
  <div class="table-data-wrapper" infiniteScroll
       [infiniteScrollThrottle]="400"
       [infiniteScrollContainer]="'.app-page'"
       (scrolled)="onScroll()"
       [scrollWindow]="false">
    <div class="col-12">
      <!-- folders -->
      <div class="file-container">
        <div class="file-item" *ngFor="let p2data of p2;let index = index;">
          <div class="actions">
            <a (click)="editP2(p2data)" placement="top" #t="ngbTooltip" (click)="t.close()" container="body" ngbTooltip="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a (click)="deleteP2(p2data)" placement="top" ngbTooltip="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
          </div>
          <div class="file-bg-image cursor-pointer" (click)="showp2p1(p2data)" [style.background-image]="getBackground('./assets/img/group.jpg')"></div>
          <div class="file-content">
            <h3 class="title">{{p2data.name.substr(0,20)}}<span *ngIf="p2data.name.length>20">...</span></h3>
          </div>
        </div>
      </div>
      <!-- folders -->

    </div>
  </div>
  </div>
