  <div class="row">
    <div class="col-8">
      <!-- <h1 class="page-title">
        Category
      </h1> -->
      <breadcrumb></breadcrumb>
    </div>
    <div class="col-4 page-actions">
      <button (click)="addCategory()" class="btn btn-sm btn-secondary">+ Add Category</button>
      <!--<p>PageNumber:{{entityListConfig.params.pageNumber}}</p>-->
      <!--<p>Remaining Items:{{entityListConfig.remainingItems}}</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-header active">
        <thead>
        <tr>
          <th width="10%"># <sorter [config]="getListSortData('createdOn')" (sortData)="setListSorting($event)"></sorter> </th>
          <th width="25%">NAME <sorter [config]="getListSortData('name')" (sortData)="setListSorting($event)"></sorter> </th>
          <th width="12%">ICON <sorter [config]="getListSortData('path')" (sortData)="setListSorting($event)"></sorter></th>
          <th width="33%">DESCRIPTION <sorter [config]="getListSortData('description')" (sortData)="setListSorting($event)"></sorter></th>
          <th width="13%">ACTION</th>
        </tr>
        </thead>
      </table>

<div class="table-data-wrapper mask-data" style="height:calc(100vh - 200px);" infiniteScroll
		    [infiniteScrollDistance]="2"
		    [infiniteScrollThrottle]="400"
        (scrolled)="onScroll()"
        [infiniteScrollDisabled]="fetchingData"
		    [scrollWindow]="false">
      <table class="table ">
        <tbody *ngFor="let category of categories;let index = index;">
        <tr [ngClass]="{'emphasis': (category)&&(!category.isLeaf||category.hasTemplate )}">
          <th width="10%">{{index+1}}</th>
          <td width="25%" class="cursor-pointer" (click)="view(category)">
            {{category.name}}
          </td>
          <td width="12%"><img [src]="category.path" width="30" height="30"></td>
          <td width="33%">{{category.description}}</td>
          <td width="13%">
            <button  (click)="editCategory(category)" class="row-action"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            <button  (click)="deleteCategory(category)" class="row-action"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </td>
        </tr>

        </tbody>
      </table>
</div>
    </div>
  </div>
