<div class="box mail">
  <div class="row ">
    <div class="col-12">
      <h6>Invite via Mail</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row form-group">
        <div class="col-4">
          Custom Message
        </div>
        <div class="col-8">

          <textarea rows="3" cols="50" class="form-control"></textarea>

        </div>
      </div>
      <div class="row">
        <div class="col-4">
          Choose Template
        </div>
        <div *ngFor="let images of filetemplate" class="col-8">
          <img [src]="images.data" width="100" height="100">
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="col-4">
          Select freind
        </div>
        <div class="col-8">
        <input type="text">
        </div>
      </div>
      <div class="row">
        <div class="box" align="center">
          Selcted Box
        </div>
        <div class="col-4">
        </div>
        <div class="col-8" *ngFor="let user of userData">
          <div *ngIf="user.email" class="facebook-box">
            <img [src]='user.path' width="20" height="20">
            <span class="title">{{user.email? user.email: 'unknown'}}</span>
            <span  class="title">{{user.name ? user.name: 'unknown'}}</span>
            <span  class="title">{{user.phoneNumber}}</span>
            <!--<input type="checkbox" id="test">-->
            <!--<label for="test">Create</label>-->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-md-center">
      <button type="button" class="btn btn-primary">INVITE</button>
    </div>
  </div>
</div>
