<div dnd-droppable (onDropSuccess)="ItemDropped($event)">
    <div class="panel">
        <div class="panel-header">
            <span [hidden]="searchMode" class="title">
                {{title}} ({{items.length}})
            </span>
            <input [hidden]="!searchMode" placeholder="search" class="form-control" type="text">
            <span class="actions">
                <a class="search" (click)="searchMode = true;">
                    <i class="fa fa-search"></i>
                </a>
                <!-- <a [hidden]="!searchMode" class="calendar" (click)="d.toggle()" title="calendar">
                    <i class="fa fa-calendar"></i>
                </a> -->
                <a [hidden]="!searchMode" class="device-type" title="ios">
                    <i class="fa fa-apple"></i>
                </a>
                <a [hidden]="!searchMode" class="device-type" title="android">
                    <i class="fa fa-android"></i>
                </a>
                <a [hidden]="!searchMode" class="app-status up" title="published">
                    <i class="fa fa-rocket"></i>
                </a>
                <a [hidden]="!searchMode" (click)="searchMode = false;" title="close">
                    <i class="fa fa-times"></i>
                </a>
            </span>
            <!-- calendar -->
            <input [hidden]='true'
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                [(ngModel)]="model"
                ngbDatepicker
                #d="ngbDatepicker">
            <!-- calendar -->
        </div>
        <div  class="panel-body">
            <div class="scrollbar">
            <ul class="list-group">
                <li
                    dnd-draggable
                    [dragEnabled]="true"
                    *ngFor="let item of items"
                    [dragData]="{item:item,sourceType:type}"
                    class="list-group-item">
                    <div dnd-droppable class="droppable-zone" (onDropSuccess)="ItemDropped($event)">
                        <span class="app-data">
                            <img [src]="item.path">{{item.name}}
                        </span>
                        <span class="actions">
                            <a class="date" title="15 Aug 2017, 10:40AM">15</a>
                            <a class="device-type">
                                <i class="fa fa-android"></i>
                            </a>
                            <a class="app-status active">
                                <i class="fa fa-rocket"></i>
                            </a>
                        </span>
                    </div>
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>
