<div class="row">
  <div class="col-5">
    <breadcrumb></breadcrumb>
  </div>
  <div class="col-7">
    <div class="row">
      <div class="col-12 page-actions mt-10">
            <form class="form-inline navbar-form form-inline pull-right">
              <div class="form-check form-check-inline">
                <div class="input-group add-on">
                  <input class="form-control" placeholder="Search" name="srch-term" id="srch-term"  type="text" #input>
                  <!-- <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                  </div> -->
                </div>
              </div>
              <div class="form-check form-check-inline">
                <button (click)="addUser()" class="btn btn-sm btn-secondary">Add</button>
              </div>
            </form>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-header active">
      <thead>
      <tr>
        <th width="10%"># <sorter [config]="getListSortData('createdOn')" (sortData)="setListSorting($event)"></sorter></th>
        <th width="10%">PHOTO </th>
        <th width="20%">NAME <sorter [config]="getListSortData('name')" (sortData)="setListSorting($event)"></sorter></th>
        <th width="30%">EMAIL <sorter [config]="getListSortData('email')" (sortData)="setListSorting($event)"></sorter></th>
        <th width="10%">MOBILE <sorter [config]="getListSortData('mobile')" (sortData)="setListSorting($event)"></sorter></th>
        <th width="10%">VERIFIED</th>
        <th width="10%">ACTION</th>
      </tr>
      </thead>
    </table>
    <div class="table-data-wrapper mask-data" style="height:calc(100vh - 180px);" infiniteScroll
		    [infiniteScrollDistance]="2"
		    [infiniteScrollThrottle]="400"
		    (scrolled)="onScroll()"
		    [scrollWindow]="false">
          <table class="table ">
            <tbody>
              <!-- <all-users-list [style.animation]="getAnimation(index)" *ngFor="let user of users ;let index = index;"
              [user]="user"
              [index]="index"
            ></all-users-list> -->
             <tr *ngFor="let user of users ;let index = index;">
              <td width="10%">{{index+1}}</td>
              <td width="10%"><img [src]="user.path" width="40" height="40"></td>
              <td width="20%" class="cursor-pointer" (click)="viewUser(user)">{{user.name}}</td>
              <td width="30%">{{user.email}}</td>
              <td width="10%">{{user.mobile}}</td>
              <td width="10%">
                <span *ngIf="user.verified"><i class="fa fa-check"></i> Yes</span>
                <span *ngIf="!user.verified"> No</span>
              </td>
              <td width="10%">
                <button placement="top" ngbTooltip="Edit User" (click)="editUser(user)"  class="row-action"><i class="fa fa-user" aria-hidden="true"></i></button>
                <button placement="top" ngbTooltip="Delete User" (click)="deleteUser(user)" [showAuthed]="{privilege:'user',access:'D'}" class="row-action"><i class="fa fa-trash" aria-hidden="true"></i></button>
              </td>
            </tr> 
            </tbody>
          </table>
    </div>
  </div>
</div>
