<form name="Form" [formGroup]="resourcesForm" (ngSubmit)="submitForm()" novalidate>
  <div class="modal-header">
    <h4 class="modal-title">{{resource._id?'Edit':'Add'}} Resources</h4>
  </div>
  <div class="modal-body">

     <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(resourcesForm.controls.name.invalid)}">
       <label class="col-4 col-form-label">Resources *</label>
       <div class="col-8">
         <input type="text" formControlName="name" class="form-control">
         <div *ngIf="(isSubmited)&&(resourcesForm.controls.name.invalid)" class="form-control-feedback">Resource is required!</div>
       </div>
     </div>
    <div class="form-group row">
      <label class="col-4 col-form-label">isComponent</label>
      <div class="col-8 mt-10">
        <input type="checkbox" id="isComponent" name="isComponent" formControlName="isComponent" class="form-control">
        <label for="isComponent">isComponent</label>
      </div>
    </div>
    </div>
  <div class="modal-footer">
    <button type="button" (keypress)="eventHandler($event)" class="btn btn-primary"  type="submit">SAVE</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
  </div>
</form>
