<div class="table-data-wrapper mask-data" style="height:400px">
    <table class="table table-hover">
        <tbody>
            <tr *ngFor="let templateResourcePrivilege of templateResourcePrivileges;let templateResourcePrivilegesIndex = index;">
              <td>
                <input type="checkbox" [id]="templateResourcePrivilege._id"
                         (click)="selectCheckboxClick($event,templateResourcePrivilege._id)"
                         [checked]="selectAllStatus(templateResourcePrivilege.privileges)"/>
                <label [for]="templateResourcePrivilege._id"></label>
              </td>
                <td scope="row">{{templateResourcePrivilegesIndex+1}}</td>
                <td width="6%" class="text-left">
                    {{templateResourcePrivilege.name}}
                </td>
                <td *ngFor="let privilege of templateResourcePrivilege.privileges">
                    <input type="checkbox"
                                    [checked]="privilege.checked"
                                    [id]="templateResourcePrivilege._id+'_'+privilege._id"
                                    (click)="checkboxClick($event,templateResourcePrivilege._id,privilege._id)" />
                    <label [for]="templateResourcePrivilege._id+'_'+privilege._id">{{privilege.name}}</label>
                </td>
            </tr>
        </tbody>
    </table>
</div>
