<div class="row">
  <div class="col-8">
    <h4 class="primary-title">{{p3p1PageName.substr(0,45)}}<span *ngIf="p3p1PageName.length>45">...</span></h4>
  </div>
  <div class="col-4 text-right">
    <div class="btn btn-sm btn-secondary" (click)="addP3P1()">
       + Add Photo
      </div>
    <button fullScreen [container]="'.app-page'" class="btn btn-sm full-screen-action btn-secondary">
      <i class="fa fa-window-maximize"></i>
      <i class="fa fa-window-minimize"></i>
    </button>
  </div>
</div>
  <!-- files -->
  <div class="file-container clearfix">
    <div class="table-data-wrapper" infiniteScroll
         [infiniteScrollContainer]="'.app-page'"
         [infiniteScrollThrottle]="400"
         (scrolled)="onScroll()"
         [scrollWindow]="false">
    <div class="file-item" *ngFor="let p3p1data of p3p1;let index = index;" >
      <div class="actions">
        <a (click)="deletep3p1(p3p1data)" placement="top" ngbTooltip="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
        <a (click)="editP3P1(p3p1data)" placement="top" ngbTooltip="Delete"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
      </div>
      <div *ngIf="p3p1data.type === 'image'" class="file-bg-image" [style.background-image]="getBackground(p3p1data.path)"></div>
      <div *ngIf="p3p1data.type === 'video'">
        <!--<video-app   [idx]="idx" [url]="p3p1data.path"></video-app>-->
        <!--<video><source [src]="p3p1data.path" type="video/mp4" width="100" height="100"></video>-->
      </div>

      <div class="file-content">
        <h3 class="title mt-0">{{p3p1data.name.substr(0,20)}}<span *ngIf="p3p1data.name.length>20">...</span></h3>
      </div>
    </div>
    </div>
  </div>
  <!-- files -->
