<table class="table table-mask">
            <thead class="dark-header">
                <tr>
                    <th>#</th>
                    <th>PLAN</th>
                    <th>PURCHASED ON</th>
                    <th>USERS</th>
                    <th>TOTAL HOURS</th>
                    <th>REMAINING HOURS</th>
                    <th>EXPIRED ON</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                <tr class="separator">
                    <th colspan="8"></th>
                </tr>
                <tr>
                    <td scope="row">01</td>
                    <td>
                        Starter
                    </td>
                    <td>13-05-2017</td>
                    <td>250</td>
                    <td>05:00</td>
                    <td>03:50</td>
                    <td>13-06-2017</td>
                    <td>
                        <a href="#" class="row-status">
                            <span class="success"></span>
                            Active</a>
                    </td>
                </tr>
                <tr>
                    <td scope="row">01</td>
                    <td>
                        Starter
                    </td>
                    <td>13-05-2017</td>
                    <td>250</td>
                    <td>05:00</td>
                    <td>03:50</td>
                    <td>13-06-2017</td>
                    <td>
                        <a href="#" class="row-status">
                            <span class="success"></span>
                            Active</a>
                    </td>
                </tr>
                <tr>
                    <td scope="row">01</td>
                    <td>
                        Starter
                    </td>
                    <td>13-05-2017</td>
                    <td>250</td>
                    <td>05:00</td>
                    <td>03:50</td>
                    <td>13-06-2017</td>
                    <td>
                        <a href="#" class="row-status">
                            <span class="success"></span>
                            Active</a>
                    </td>
                </tr>
                <tr>
                    <td scope="row">01</td>
                    <td>
                        Starter
                    </td>
                    <td>13-05-2017</td>
                    <td>250</td>
                    <td>05:00</td>
                    <td>03:50</td>
                    <td>13-06-2017</td>
                    <td>
                        <a href="#" class="row-status">
                            <span class="success"></span>
                            Active</a>
                    </td>
                </tr>
                <tr>
                    <td scope="row">01</td>
                    <td>
                        Starter
                    </td>
                    <td>13-05-2017</td>
                    <td>250</td>
                    <td>05:00</td>
                    <td>03:50</td>
                    <td>13-06-2017</td>
                    <td>
                        <a href="#" class="row-status">
                            <span class="success"></span>
                            Active</a>
                    </td>
                </tr>
                <tr>
                    <td scope="row">01</td>
                    <td>
                        Starter
                    </td>
                    <td>13-05-2017</td>
                    <td>250</td>
                    <td>05:00</td>
                    <td>03:50</td>
                    <td>13-06-2017</td>
                    <td>
                        <a href="#" class="row-status">
                            <span class="success"></span>
                            Active</a>
                    </td>
                </tr>
            </tbody>
        </table>