<form name="Form" (ngSubmit)="submitForm()" novalidate >
  <div class="modal-header">
    <h4 class="modal-title"> Crop the Image to Continue</h4>

  </div>
  <div class="row mt-10">
    <div class="col-12">
        <img-cropper #cropper [image]="data" [settings]="cropperSettings" (onCrop)="cropped($event)"></img-cropper>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="isSubmitting" class="btn btn-primary" type="submit">
      <span *ngIf="!isSubmitting">SAVE</span><span *ngIf="isSubmitting">SAVING...</span></button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
  </div>
</form>
