<div class="box">
  <div class="row">
    <div class="col-12">
      <h2 class="primary-title">AdMob</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form >
        <div class="form-group row">
          <label class="col-4 col-form-label">Android App ID</label>
          <div class="col-7">
            <input id="android" name="android" type="checkbox" [(ngModel)]="f5.android"  (change)="checkboxClick($event)" [checked]="f5.android"/>
            <label for="android"></label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label">Ios App ID</label>
          <div class="col-7">
            <input id="ios" name="ios" type="checkbox" [(ngModel)]="f5.ios"  (change)="checkboxClick($event)" [checked]="f5.ios" />
            <label for="ios"></label>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <img src="./assets/img/admob image.png" class="img-fluid">
    </div>
  </div>
</div>
<div class="box mt-10">
  <div class="col-md-12">
    <h2 class="secondary-title">Instruction</h2>
    <p>Helps you monetize your mobile app through in-app advertising.
      Ads can be displayed as banner ads, interstitial ads, video ads, or native ads—which are seamlessly added to platform native UI components.
      On Android, you can additionally display in-app purchase ads, which allow users to purchase advertised products from within your app.
      Before you can display ads within your app, you'll need to create an AdMob account and activate one or more Ad Unit IDs. This is a unique identifier for the places in your app where ads are displayed.
    </p>
  </div>
</div>










      <!--<div class="row">-->
          <!--<div class="col-md-3">-->
              <!--<div class="page-left-sidebar">-->
                  <!--<ul class="list-group">-->
                      <!--<li class="list-group-item" routerLinkActive="active">-->
                          <!--<a routerLink="/application/advertisements/adsense">AD-SENSE</a>-->
                      <!--</li>-->
                      <!--<li class="list-group-item" routerLinkActive="active">-->
                          <!--<a routerLink="/application/advertisements/admob">AD-MOB</a>-->
                      <!--</li>-->
                      <!--<li class="list-group-item" routerLinkActive="active">-->
                          <!--<a routerLink="/application/advertisements/bingads">BING ADS</a>-->
                      <!--</li>-->
                      <!--<li class="list-group-item" routerLinkActive="active">-->
                          <!--<a routerLink="/application/advertisements/outbrain">OUTBRAIN</a>-->
                      <!--</li>-->
                      <!--<li class="list-group-item" routerLinkActive="active">-->
                          <!--<a routerLink="/application/advertisements/triplelift">TRIPLELIFT</a>-->
                      <!--</li>-->
                  <!--</ul>-->
              <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-9">-->
             <!--<router-outlet></router-outlet>-->
          <!--</div>  -->
      <!--</div>-->
