    <table class="table table-header active">
      <thead>
      <tr>
        <th width="10%"># <sorter [config]="getListSortData('createdOn')" (sortData)="setListSorting($event)"></sorter></th>
        <th width="20%">PAGENAME <sorter [config]="getListSortData('pageName')" (sortData)="setListSorting($event)"></sorter></th>
        <th width="20%">COMPONENT NAME</th>
        <th width="10%">ORDER <sorter [config]="getListSortData('order')" (sortData)="setListSorting($event)"></sorter></th>
        <th width="20%">URL <sorter [config]="getListSortData('path')" (sortData)="setListSorting($event)"></sorter></th>
        <th width="20%">ACTION</th>
      </tr>
      </thead>
    </table>
    <div class="table-data-wrapper mask-data" style="height: 400px;">
      <table class="table ">
      <tbody>
      <tr *ngFor="let component of templateComponents;let index = index;">
        <th width="10%">{{index+1}}</th>
        <td width="20%">{{component.pageName}}</td>
        <td width="20%">{{component.componentID.resourceID.name}}</td>
        <td width="10%">{{component.order}}</td>
        <td width="20%"> <img [src]="component.path" width="30" height="30" /></td>
        <td width="20%">
          <a  (click)="editComponent(component)" class="row-action"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          <a  (click)="deleteComponent(component)" class="row-action"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </td>
      </tr>

      </tbody>
    </table>
    </div>
