<div class="row">
  <div class="col-md-8">
    <table class="table table-header active">
      <thead>
      <tr>
        <th># </th>
        <th >number</th>
      </tr>
      </thead>
    </table>
    <div  class="table-data-wrapper mask-data" style="height:400px;"  infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="400"
          [scrollWindow]="false">
      <table class="table ">
        <tbody>
        <tr *ngFor="let labelNumber of labelNumbers;let index = index;" >
          <th>{{index+1}}</th>
          <td>{{labelNumber.data}}</td>
          <td width="20%">
            <a placement="top" ngbTooltip="Edit Type" (click)="editFile(labelNumber)" class="row-action"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <a placement="top" ngbTooltip="Delete Type" (click)="deleteFile(labelNumber)" class="row-action"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="page-actions top-align text-right">
    <button (click)="addfile()" class="btn btn-sm btn-secondary"> + Add File</button>
  </div>
</div>

