<div>
  <breadcrumb></breadcrumb>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-header active">
      <thead>
      <tr>
        <th  dnd-droppable (onDropSuccess)="ItemDropped($event,'UNPUBLISH_REQUESTED')" class="cursor-pointer" (click)="getAllApps('UNPUBLISH_REQUESTED')" routerLinkActive="active">UNPUBLISH_REQUESTED &nbsp;{{workBenchCount.UNPUBLISH_REQUESTED?workBenchCount.UNPUBLISH_REQUESTED:'0'}}</th>
        <th  dnd-droppable (onDropSuccess)="ItemDropped($event,'PUBLISH_REQUESTED')" class="cursor-pointer" (click)="getAllApps('PUBLISH_REQUESTED')" routerLinkActive="active">PUBLISH_REQUESTED{{workBenchCount.PUBLISH_REQUESTED?workBenchCount.UNPUBLISH_REQUESTED:'0'}}</th>
        <th  dnd-droppable (onDropSuccess)="ItemDropped($event, 'UNPUBLISH_INPROGRESS')" class="cursor-pointer" (click)="getAllApps('UNPUBLISH_INPROGRESS')">UNPUBLISH_INPROGRESS{{workBenchCount.UNPUBLISH_INPROGRESS?workBenchCount.UNPUBLISH_INPROGRESS: '0'}}</th>
        <th  dnd-droppable (onDropSuccess)="ItemDropped($event, 'PUBLISH_INPROGRESS')" class="cursor-pointer" (click)="getAllApps('PUBLISH_INPROGRESS')">PUBLISH_INPROGRESS{{workBenchCount.PUBLISH_INPROGRESS?workBenchCount.PUBLISH_INPROGRESS: '0'}}</th>
        <th  dnd-droppable (onDropSuccess)="ItemDropped($event, 'PUBLISHED')" class="cursor-pointer" (click)="getAllApps('PUBLISHED')">PUBLISHED{{workBenchCount.PUBLISHED?workBenchCount.PUBLISHED: '0'}}</th>
        <th  dnd-droppable (onDropSuccess)="ItemDropped($event, 'UNPUBLISHED')" class="cursor-pointer" (click)="getAllApps('UNPUBLISHED')" routerLinkActive="active" >UNPUBLISHED{{workBenchCount.UNPUBLISHED?workBenchCount.UNPUBLISHED: '0'}}</th>
        <th  dnd-droppable (onDropSuccess)="ItemDropped($event,'REJECTED')" class="cursor-pointer" (click)="getAllApps('REJECTED')">REJECTED{{workBenchCount.REJECTED?workBenchCount.REJECTED: '0'}}</th>
        <th  dnd-droppable (onDropSuccess)="ItemDropped($event,'UNPUBLISH_DELETED')"  class="cursor-pointer" (click)="getAllApps('UNPUBLISH_DELETED')">UNPUBLISH_DELETED{{workBenchCount.UNPUBLISH_DELETED?workBenchCount.UNPUBLISH_DELETED: '0'}}</th>
      </tr>
      </thead>
    </table>
</div>
</div>
<div class="row">
  <div class="col-12">
  <workbench-status-page [apps]="apps"  (workbenchStatus)="getWorkBenchStatus($event)"></workbench-status-page>
  <router-outlet></router-outlet>
  </div>
</div>
