
<div class="all-apps">
    <div class="row">
        <div class="col-12">
            <breadcrumb></breadcrumb>
        </div>
        <!-- <div class="col-8">
            <h1 class="page-title facebook-color">
                <span><img [src]="singleApp.path" width="30" height="30"></span>&nbsp;{{singleApp.name}}
            </h1>
        </div>
        <div class="col-4 page-actions">
            <button href="#" class="btn btn-md btn-secondary"><span class="active">Preview</span></button>
            <button href="#" class="btn btn-md btn-secondary"><span class="active">Publish</span></button>
        </div> -->
    </div>
    <div class="row">
        <div class="col-12">
            <nav class="page-navbar navbar-toggleable-md">
                <ul class="navbar-nav">
                    <li class="nav-item" *ngFor="let component of appComponents;let index = index;" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="'/application/'+appID+component['componentID']['route']">{{component.pageName}}</a>
                    </li>
                    <!--<li class="nav-item">-->
                      <!--<a class="nav-link cursor-pointer" (click)="routeLink()" >ANNOUNCEMENT</a>-->
                    <!--</li>-->
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 app-page-outlet">
        <router-outlet></router-outlet>
    </div>
</div>