your have SuccesFully Paid .
by Using drop Down
 <h2>Amount: {{amount}}</h2>
<select  (change)="sendMode($event)" class="form-control" >
  <option *ngFor=" let modeSelected of  mode;" [value]="modeSelected">{{modeSelected}}</option>
</select>
<button (click)="hitApi()">click</button>
