<div class="app-page clearfix">
  <router-outlet></router-outlet>

  <!-- <div class="row">
    <div class="col-4 right-border">
      <h3 class="page-items-title">Groups</h3>
      <div class="app-page-items" style="height:200px;overflow-y:scroll;overflow-x:hidden;">
        <div class="item" *ngFor="let p2data of p2;let index = index;" (click)="showp2p1(p2data)">
          {{index+1}}. {{p2data.name}}
          <div class="actions">
            <a (click)="editP2(p2data)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a (click)="deleteP2(p2data)"><i class="fa fa-trash" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="app-page-item-add" (click)="addP2()">
          + Add Group
      </div>
    </div>

   <div class="col-8">
     <router-outlet></router-outlet>
   </div>

    </div> -->

</div>