<div class="modal-header">
  <h4 class="modal-title">Delete Template</h4>

</div>
<div class="modal-body">
  Are you sure you want to delete {{component.name}}template?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="delete(component)">Delete</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('component:updated')">Close</button>
</div>
