<div class="box category selection">
    <h4 class="sub-title">Fill Details</h4>
    <form name="Form" [formGroup]="detailsForm" (ngSubmit)="submitForm()" novalidate >
        <div class="form-group row">
            <div class="col-md-3">Icon</div>
            <div class="col-md-4">
                <div class="image-uploader btn">
                <i [hidden]="imagePreview" class="fa fa-camera"></i>
                <input type="file" (change)="selectFile($event)" />
                <img *ngIf="imagePreview" [src]="imagePreview" width="100" height="100" />
                </div>
            </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(detailsForm.controls.name.invalid)}">
            <div class="col-md-3">App Name</div>
            <div class="col-md-4">
                <input type="text" name="name" formControlName="name" class="form-control" >
                <div *ngIf="(isSubmited)&&(detailsForm.controls.name.invalid)" class="form-control-feedback">Name is required!</div>
            </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(detailsForm.controls.name.invalid)}">
            <div class="col-md-3">Description</div>
            <div class="col-md-4">
                <textarea type="text" name="name" formControlName="description" class="form-control"></textarea>
                <div *ngIf="(isSubmited)&&(detailsForm.controls.description.invalid)" class="form-control-feedback">Description is required!</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3"></div>
            <div class="col-4"><button  type="button" class="btn btn-primary" type="submit">SAVE</button></div>
        </div>
    </form>
</div>
