<div class="app-page clearfix">
  <router-outlet></router-outlet>
</div>
<!-- <div class="box">
  <div class="row">
    <div class="col-8">
      <h4 class="primary-title">{{pageName}}</h4>
    </div>
    <div class="col-4 text-right">
      <div class="btn btn-sm btn-secondary" (click)="addP3()">
       + Add Album
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div> -->
  


<!-- <div class="box">
  <div class="row">
    <div class="col-8">
      <h4 class="primary-title">{{pageName}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 right-border">
      <h3 class="page-items-title">Albums</h3>
      <div class="app-page-items" style="height:200px;overflow-y:scroll;overflow-x:hidden;">
        <div class="item" *ngFor="let p3data of p3;let index = index;" (click)="getP3Data(p3data)">
          {{index+1}}. {{p3data.name}}
          <div class="actions">
            <a (click)="editP3(p3data)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a (click)="deleteP3(p3data)"><i class="fa fa-trash" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="app-page-item-add" (click)="addP3()">
          + Add Group
      </div>
    </div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
  </div> -->