<div class="modal-header">
  <h4 class="modal-title">Delete Post</h4>

</div>
<div class="modal-body">
  Are you sure you want to delete {{post.userID.name}}  post?
</div>
<div class="modal-footer">
  <button type="button" [disabled]="submitting" class="btn btn-danger" (click)="deletePost(post)">DELETE</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
</div>
