<img placement="top" (click)="getSuggestions()" class="suggestion-img" src="assets/img/magic.png" />
<ng-template [ngTemplateOutlet]="getTemplate()" [ngOutletContext]="{ $implicit: ccld }"></ng-template>



<ng-template #dropdown let-ccld>
  <div class="d-inline-block dropdown show  btn-link">
    <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownConfig">
      <a (click)="eventfire(ccldContent.data, this.type)" *ngFor="let ccldContent of ccld.data" class="btn-link">{{ccldContent.data}}</a>
    </div>
  </div>
</ng-template>

