<div class="row justify-content-md-center min-height-90vh">
    <div class="col-10">
        <div class="row justify-content-md-center">
            <div class="col-4 text-center">
                <h2 class="page-title">Login</h2>
                <!-- <button type="button" class="btn btn-lg btn-google btn-block" (click)="loginWithGoogle()"><i class="fa fa-google"></i> Login with Google</button> -->
              <button type="button" class="btn btn-lg btn-google btn-block" (click)="assignActity()"><i class="fa fa-google"></i> Login with Google</button>
              <button type="button" class="btn btn-lg btn-facebook btn-block" (click)="loginWithFacebook()"><i class="fa fa-facebook"></i> Login with Facebook</button>
            </div>
        </div>
    </div>
</div>
