<form name="Form" [formGroup]="P4Form" (ngSubmit)="submitForm()" novalidate >
  <div class="modal-header">
    <h4 class="modal-title">{{p4._id?'Edit':'Add'}} Event</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-6">
        <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(P4Form.controls.name.invalid )}">
          <label class="col-3 col-form-label">Name *</label>
          <div class="col-9">
            <input type="text" name="name" formControlName="name"  class="form-control" >
            <div *ngIf="(isSubmited)&&(P4Form.controls.name.invalid)" class="form-control-feedback">Name is required!</div>
            <!--<div *ngIf="(isSubmited)&&(invalidName)" class="form-control-feedback">Please make Changes!</div>-->
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group row">
          <div class="col-md-3">Icon</div>
          <div class="col-md-7">
            <div class="image-uploader btn">
              <i  class="fa fa-camera"></i>
              <input type="file" (change)="selectFile($event)" />
              <img *ngIf="imagePreview || p4.path" [src]="imagePreview || p4.path" width="100" height="100" />
            </div>
          </div>
          <div class="col-3">
            <content-suggestion
              ngbTooltip="Suggestion"
              [categoryID]="categoryID"
              [componentID]="componentID"
              [parentReference]="selfReference"
              [type]="'file'"
              (onContentSelected)="onContentSelected($event)"
            ></content-suggestion>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group row">
            <label class="col-3 col-form-label">
              Date *
            </label>
            <div class="col-9">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" formControlName="date" name="date" ngbDatepicker #d="ngbDatepicker" disabled>
                <button class="input-group-addon" (click)="d.toggle()" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group row">
          <label class="col-3 col-form-label">Time *</label>
          <div class="col-9">
              <ngb-timepicker formControlName="time" name="time" [meridian]="true"></ngb-timepicker>
          </div>
        </div>
      </div>
    </div>





    <div class="form-group row">
      <label class="col-3 col-form-label">Venue *</label>
      <div class="col-9">
      <input type="text" formControlName= "venue"
             [options]='options'
             (setAddress) = "getAddress($event)"
             id="autocomplete"
             ng2-google-place-autocomplete/>
             <!--(street_number) = 'street_number=$event'-->
             <!--(street)= 'street=$event'-->
             <!--(city)= 'city=$event'-->
             <!--(state)='state=$event'-->
             <!--(district)='district=$event'-->
             <!--(country)='country=$event'-->
             <!--(postal_code)='postal_code=$event'-->
             <!--(lat)='lat=$event'-->
             <!--(lng)='lng=$event'-->
             <!--(adr_address)='adr_address=$event'-->
             <!--(name)='name=$event'-->
             <!--(place_id)='place_id=$event'-->
             <!--(types)='types=$event'-->
             <!--(url)='url=$event'-->
             <!--(utc_offset)='utc_offset=$event'-->
             <!--(vicinity)='vicinity=$event'-->
             <!--(photos)='photos=$event'-->
             <!--(airport)='airport=$event'-->
             <!--(CountryCodes)='CountryCodes=$event'-->

      </div>
    </div>


    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(P4Form.controls.address1.invalid)}" >
      <label class="col-3 col-form-label">Address1 *</label>
      <div class="col-9">
        <input type="text" name="address1" formControlName="address1" class="form-control" >
        <div *ngIf="(isSubmited)&&(P4Form.controls.address1.invalid)" class="form-control-feedback">Address1 is Required</div>
      </div>
    </div>


    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(P4Form.controls.address2.invalid)}" >
      <label class="col-3 col-form-label">Address2 *</label>
      <div class="col-9">
        <input type="text" name="address2" formControlName="address2" class="form-control" >
        <div *ngIf="(isSubmited)&&(P4Form.controls.address2.invalid)" class="form-control-feedback">Address2 is Required</div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(P4Form.controls.city.invalid)}" >
      <label class="col-3 col-form-label">City *</label>
      <div class="col-9">
        <input type="text" name="city" formControlName="city" class="form-control" >
        <div *ngIf="(isSubmited)&&(P4Form.controls.city.invalid)" class="form-control-feedback">City is Required</div>
      </div>
    </div>


    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(P4Form.controls.state.invalid)}" >
      <label class="col-3 col-form-label">state *</label>
      <div class="col-9">
        <input type="text" name="state" formControlName="state" class="form-control" >
        <div *ngIf="(isSubmited)&&(P4Form.controls.state.invalid)" class="form-control-feedback">State is Required</div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(P4Form.controls.pincode.invalid)}" >
      <label class="col-3 col-form-label">Pincode *</label>
      <div class="col-9">
        <input type="text" name="pincode" formControlName="pincode" class="form-control" >
        <div *ngIf="(isSubmited)&&(P4Form.controls.state.invalid)" class="form-control-feedback">Pincode is Required</div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(P4Form.controls.country.invalid)}" >
      <label class="col-3 col-form-label">Country *</label>
      <div class="col-9">
        <input type="text" name="country" formControlName="country" class="form-control" >
        <div *ngIf="(isSubmited)&&(P4Form.controls.country.invalid)" class="form-control-feedback">Country is Required</div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(P4Form.controls.website.invalid)}" >
      <label class="col-3 col-form-label">Website *</label>
      <div class="col-9">
        <input type="text" name="website" formControlName="website" class="form-control" >
        <div *ngIf="(isSubmited)&&(P4Form.controls.website.invalid)" class="form-control-feedback">Website is Required</div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(P4Form.controls.phoneNo.invalid)}" >
      <label class="col-3 col-form-label">Phone No. *</label>
      <div class="col-9">
        <input type="text" name="phoneNo" formControlName="phoneNo" class="form-control" >
        <div *ngIf="(isSubmited)&&(P4Form.controls.phoneNo.invalid)" class="form-control-feedback">Phone No. is Required</div>
      </div>
    </div>

    <!--<div class="form-group row">-->
      <!--<div class="col-md-3">path</div>-->
      <!--<div class="col-md-8">-->
        <!--<div class="image-uploader btn">-->
          <!--<i [hidden]="imagePreview" class="fa fa-camera"></i>-->
          <!--<input type="file" (change)="selectFile($event)" />-->
          <!--<img *ngIf="imagePreview" [src]="imagePreview" width="100" height="100" />-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="isSubmitting" class="btn btn-primary" type="submit">SUBMIT<span [hidden]="!isSubmitting">ING...</span></button>
    <!--<button type="button" (keypress)="eventHandler($event)" [disabled]="isSubmitting" class="btn btn-primary" type="submit">SUBMIT<span [hidden]="!isSubmitting">ING...</span></button>-->
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
  </div>
</form>


