<form name="Form" [formGroup]="privlegeForm" (ngSubmit)="submitForm()" novalidate>
  <div class="modal-header">
    <h4 class="modal-title">{{privilege._id?'Edit':'Add'}} Privileges</h4>
  </div>
  <div class="modal-body">

        <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(privlegeForm.controls.name.invalid)}">
          <label class="col-4 col-form-label">Privileges *</label>
          <div class="col-8">
            <input type="text" name="name" formControlName="name" class="form-control">
            <div *ngIf="(isSubmited)&&(privlegeForm.controls.name.invalid)" class="form-control-feedback">Privileges is required!</div>

          </div>
        </div>

        <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(privlegeForm.controls.code.invalid)}">
          <label class="col-4 col-form-label">Code *</label>
          <div class="col-8">
            <input type="text" name="code" formControlName="code" class="form-control">
            <div *ngIf="(isSubmited)&&(privlegeForm.controls.code.invalid)" class="form-control-feedback">Code is required!</div>
          </div>
        </div>


  </div>
  <div class="modal-footer">
    <button type="button" (keypress)="eventHandler($event)" class="btn btn-primary"   (click)="submitForm()">SAVE</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
  </div>
</form>
