<div class="modal-header">
  <h4 class="modal-title">Delete Component</h4>
</div>

<div class="modal-body">
  Are you sure you want to delete {{privilege.name}} privilege?
</div>
<div class="modal-footer">
  <button type="button"  class="btn btn-danger" (click)="deletePrivilege(privilege)">Delete</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Close</button>
</div>
