<form name="Form" [formGroup]="privilegeForm" (ngSubmit)="submitForm()" novalidate >
  <div class="modal-header">
    <h4 class="modal-title">{{privilege._id?'Edit':'Add'}} Privilege</h4>

  </div>
  <div class="modal-body">

    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(privilegeForm.controls.name.invalid)}">
      <div class="col-md-3">Privilege Name</div>
      <div class="col-md-9">
        <input type="text" name="name" formControlName="name" class="form-control" >
        <div *ngIf="(isSubmited)&&(privilegeForm.controls.name.invalid)" class="form-control-feedback">Privilege is required!</div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" (keypress)="eventHandler($event)"  class="btn btn-primary" type="submit">SAVE</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
  </div>
</form>

