
<div class="row justify-content-center">
    <div class="col-md-10">
        <table class="table table-mask">
            
            <thead class="dark-header">
                
                <tr>
                    <th>#</th>
                    <th>DATE</th>
                    <th>DESCRIPTION</th>
                    <th>FROM/TO</th>
                    <th>TYPE</th>
                    <th>AMOUNT</th>
                    <th>TRANS ID</th>
                    <th>BALANCE</th>
                </tr>
            </thead>
            <tbody>
                <tr class="separator">
                    <th colspan="6"></th>
                </tr>
                <tr>
                    <td scope="row">01</td>
                   
                    <td>12-05-2017</td>
                    <td>CASUAL TRANSFER</td>
                    <td>JACK COBB</td>
                    <td>SENT</td>
                    <td>$400</td>
                    <td>2973452</td>
                    <td>$4000</td>
                    
                </tr>
                <tr>
                    <td scope="row">01</td>
                   
                    <td>12-05-2017</td>
                    <td>CASUAL TRANSFER</td>
                    <td>JACK COBB</td>
                    <td>SENT</td>
                    <td>$400</td>
                    <td>2973452</td>
                    <td>$4000</td>
                    
                </tr>
                <tr>
                    <td scope="row">01</td>
                   
                    <td>12-05-2017</td>
                    <td>CASUAL TRANSFER</td>
                    <td>JACK COBB</td>
                    <td>SENT</td>
                    <td>$400</td>
                    <td>2973452</td>
                    <td>$4000</td>
                   
                </tr>
                <tr>
                    <td scope="row">01</td>
                    
                    <td>12-05-2017</td>
                    <td>CASUAL TRANSFER</td>
                    <td>JACK COBB</td>
                    <td>SENT</td>
                    <td>$400</td>
                    <td>2973452</td>
                    <td>$4000</td>
                   
                </tr>
                <tr>
                    <td scope="row">01</td>
                    
                    <td>12-05-2017</td>
                    <td>CASUAL TRANSFER</td>
                    <td>JACK COBB</td>
                    <td>SENT</td>
                    <td>$400</td>
                    <td>2973452</td>
                    <td>$4000</td>
                   
                </tr>
                <tr>
                    <td scope="row">01</td>
                    
                   <td>12-05-2017</td>
                    <td>CASUAL TRANSFER</td>
                    <td>JACK COBB</td>
                    <td>SENT</td>
                    <td>$400</td>
                    <td>2973452</td>
                    <td>$4000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>  