<div class="my_app.app_pagess">
    <div class="row">
        <div class="col-md-8">
            <!-- <h1 class="page-title">
                Components    
            </h1> -->
            <breadcrumb></breadcrumb>
        </div>
        <div class="col-md-4 page-actions">
            <button (click)="addComponent()" class="btn btn-sm btn-secondary">+ Add Component</button>
        </div>
        <div class="col-md-12">
            <component-list [entityListConfig]="entityListConfig" [components]="components" (setEntityConfig)="setEntityConfig($event)" (paginateListing)="paginateListing()" (viewComponent)="viewComponent($event)" (deleteComponent)="deleteComponent($event)" (editComponent)="editComponent($event)"></component-list>
        </div>
    </div>
</div>
