<div class="modal-header">
  <h4 class="modal-title">Adding Content</h4>

</div>
<div class="modal-body">
  <button  type="button" class="btn btn-primary" (click)="addCategory(category)">+Add Category</button>
  <button  type="button" class="btn btn-secondary" (click)="addTemplates(category)">+Add templates</button>
</div>
<div class="modal-footer">
</div>
