<form name="Form" [formGroup]="P2P1Form" (ngSubmit)="submitForm()" novalidate >
  <div class="modal-header">
    <h4 class="modal-title">{{p2p1._id?'Edit':'Add'}} Details</h4>

  </div>
  <div class="modal-body">
    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(P2P1Form.controls.name.invalid)}">
      <div class="col-3 col-form-label">Name</div>
      <div class="col-9">
        <input type="text" name="name" formControlName="name" class="form-control" >
        <div *ngIf="(isSubmited)&&(P2P1Form.controls.name.invalid)" class="form-control-feedback">Name is required!</div>
      </div>
    </div>
    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(P2P1Form.controls.relation.invalid)}" >
      <div class="col-3 col-form-label">Relation</div>
      <div class="col-9">
        <input type="text" name="relation" formControlName="relation" class="form-control" >
        <div *ngIf="(isSubmited)&&(P2P1Form.controls.relation.invalid)" class="form-control-feedback">Relation is Required</div>
      </div>
    </div>
    <div class="form-group row"  [ngClass]="{'has-danger': (isSubmited)&&(!p2p1.path && !imagePreview)}">
      <div class="col-3 col-form-label">path</div>
      <div class="col-6">
        <div class="image-uploader btn">
          <i [hidden]="imagePreview" class="fa fa-camera"></i>
          <input type="file" (change)="selectFile($event)" />
          <img *ngIf="p2p1.path || imagePreview" [src]="p2p1.path || imagePreview" width="100" height="100" />
        </div>
        <div *ngIf="(isSubmited)&&(!p2p1.path && !imagePreview)" class="form-control-feedback">Image is Required!</div>
      </div>
      <div class="col-3">
        <content-suggestion
          ngbTooltip="Suggestion"
          [categoryID]="categoryID"
          [componentID]="componentID"
          [parentReference]="selfReference"
          [type]="'file-1'"
          (onContentSelected)="onContentSelected($event)"
        ></content-suggestion>
      </div>
    </div>
    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(P2P1Form.controls.description.invalid)}" >
      <div class="col-3 col-form-label">Description</div>
      <div class="col-7">
        <textarea type="text" name="description" formControlName="description" class="form-control" rows="4"></textarea>
        <div *ngIf="(isSubmited)&&(P2P1Form.controls.description.invalid)" class="form-control-feedback">Description is Required</div>
      </div>
      <div class="col-2">
        <content-suggestion
          ngbTooltip="Suggestion"
          [categoryID]="categoryID"
          [componentID]="componentID"
          [parentReference]="selfReference"
          [type]="'description-1'"
          (onContentSelected)="onContentSelected($event)"
        ></content-suggestion>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (keypress)="eventHandler($event)" type="button" [disabled]="isSubmitting" class="btn btn-primary" type="submit">
      <span *ngIf="!isSubmitting">SUBMIT</span><span *ngIf="isSubmitting">SUBMITING...</span></button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
  </div>
</form>


