<div class="row">
  <div class="col-md-8">
    <breadcrumb></breadcrumb>
  </div>
  <div class="col-md-4 page-actions">
    <button (click)="ComponentStack()" class="btn btn-sm btn-secondary">+ ComponentStack</button>
  </div>
  <div class="col-md-12">
    <template-list-group [entityListConfig]="entityListConfig" [templateComponents]="templateComponents" (setEntityConfig)="setEntityConfig($event)" (deleteComponent)="deleteComponent($event)" (deleteComponent)="deleteComponent($event)" (editComponent)="editComponent($event)"></template-list-group>
  </div>
</div>
