<form name="Form" [formGroup]="labelNumberForm" (ngSubmit)="submitForm()" novalidate >
  <div class="modal-header">
    <h4 class="modal-title"> {{labelNumbers._id ? 'Edit':'Add'}} Group</h4>
  </div>


  <div class="modal-body">
    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(labelNumberForm.controls.data.invalid)}">
      <div class="col-md-3">Content</div>
      <div class="col-md-9">
        <textarea type="number" name="data" formControlName="data" class="form-control" ></textarea>
        <div *ngIf="(isSubmited)&&(labelNumberForm.controls.data.invalid)" class="form-control-feedback">Number is required!</div>
      </div>
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" [disabled]="isSubmitting" class="btn btn-primary" type="submit">
      <span (keypress)="eventHandler($event)" *ngIf="!isSubmitting">SAVE</span><span *ngIf="isSubmitting">SAVING...</span></button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
  </div>
</form>
