
  <div class="modal-header">
    <h4 class="modal-title">Select User for Creating App</h4>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-3 col-form-label">Enter email</label>
      <div class="col-9">
        <ng2-completer (change)="setDefaultUser($event)"
                       [(ngModel)]="searchStr"
                       pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                       [datasource]="dataService"
                       [minSearchLength]="0">
        </ng2-completer>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" routerLink="/create-app/category" (click)="closeModal()" class="btn btn-primary" type="submit">SAVE</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
  </div>
