<div class="modal-header">
  <h4 class="modal-title">Crop Image</h4>

</div>
<div class="modal-body">

</div>
<div class="modal-footer">
  <button type="button" [disabled]="submitting" class="btn btn-danger">Ok</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Close</button>
</div>
