<form name="Form" [formGroup]="pageNameForm" (ngSubmit)="submitForm()" novalidate >
  <div class="modal-header">
    <h4 class="modal-title">{{component._id?'Edit':'Add'}} PageName</h4>

  </div>
  <div class="modal-body">

    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(pageNameForm.controls.pageName.invalid)}">
      <div class="col-md-3">PageName</div>
      <div class="col-md-9">
        <input type="text" name="pageName" formControlName="pageName" class="form-control" >
        <div *ngIf="(isSubmited)&&(pageNameForm.controls.pageName.invalid)" class="form-control-feedback">PageName is required!</div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" (keypress)="eventHandler($event)"  class="btn btn-primary" type="submit">SAVE</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
  </div>
</form>

