<div class="modal-header">
  <h4 class="modal-title">Delete {{pageName}}</h4>
</div>
<div class="modal-body">
  Are you sure you want to delete {{f3.name}} role?
</div>
<div class="modal-footer">
  <button type="button" [disabled]="isSubmited" class="btn btn-sm btn-danger" (click)="delete(f3)">Delete</button>
  <button type="button" class="btn btn-sm btn-secondary" (click)="activeModal.close()">Close</button>
</div>
