<table class="table table-header active">
  <thead>
  <tr>
    <th width="10%"># <sorter [config]="getListSortData('createdOn')" (sortData)="setListSorting($event)"></sorter></th>
    <th width="20%">NAME<sorter [config]="getListSortData('name')" (sortData)="setListSorting($event)"></sorter></th>
    <th width="20%">TYPE<sorter [config]="getListSortData('type')" (sortData)="setListSorting($event)"></sorter></th>
    <th width="20%">DISCOUNT<sorter [config]="getListSortData('price')" (sortData)="setListSorting($event)"></sorter></th>
    <th width="20%">PRICE<sorter [config]="getListSortData('price')" (sortData)="setListSorting($event)"></sorter></th>
    <th width="20%">ACTION</th>
  </tr>
  </thead>
</table>
<div class="table-data-wrapper mask-data" style="height: calc(100vh - 200px);" infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="300"
     (scrolled)="onScroll()"
     [scrollWindow]="false">
  <table class="table ">
  <tbody>
  <tr *ngFor="let template of templates;let index = index;">
    <th width="10%">{{index+1}}</th>
    <td width="20%" class="cursor-pointer" (click)="selectTemplate(template)">
      {{template.name}}
    </td>
  <td width="20%">
    {{template.type}}
  </td>
    <td width="20%">{{template.discount}}</td>
    <td width="20%">{{template.price}}</td>
    <td width="20%">
      <a (click)="goToPrivileges(template)" class="row-action"><i class="fa fa-key" aria-hidden="true"></i></a>
      <a (click)="editTemplate(template)" class="row-action"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
      <a  (click)="deleteTemplate(template)" class="row-action"><i class="fa fa-trash" aria-hidden="true"></i></a>
    </td>
  </tr>

  </tbody>
</table>
</div>
