<div class="box">
  <div class="row">
    <div class="col-8">
      <h4 class="primary-title">SHAGUN</h4>
    </div>
  </div>

<div class="row">
  <div class="col-4">Shagun Type
    
      <div class="left-list">1. Gift Cards
          <span class="actions">
            <a href="#">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a href="#">
            <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </span>
      </div>
   
      <div class="left-list">2. Send Money
          <span class="actions">
            <a href="#"> 
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a href="#">
               <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </span>
      </div>
  

</div>

  <div class="col-8">Details
    <div class="row">
      <div class="col-12">
      <div class="middle-list">
        <div class="col-12">
        <div class="right-edit">
        <a href="#"> 
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </div>
        </div>
      Flipkart   : 
      <a href="https://www.flipkart.com">https://www.flipkart.com</a><br><br>
      SnapDeal   : 
      <a href="https://www.snapdeal.com">https://www.snapdeal.com</a><br><br>
      Amazon     : 
      <a href="https://www.amazon.in">https://www.amazon.in</a>
      
  </div>

</div>
</div>
   
      