<div class="modal-header">
  <h4 class="modal-title">Delete Role</h4>

</div>
<div class="modal-body">
  Are you sure you want to delete "{{role.name}}" Role?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="deleteRole(role)">Delete</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Close</button>
</div>
