<form name="Form" [formGroup]="dataTypesForm" (ngSubmit)="submitForm()" novalidate >
  <div class="modal-header">
    <h4 class="modal-title">{{dataType._id?'Edit':'Add'}} Type</h4>
  </div>
  <div class="modal-body">

    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(dataTypesForm.controls.name.invalid)}">
      <div class="col-md-3">Name</div>
      <div class="col-md-9">
        <input type="text" name="name" formControlName="name" class="form-control" >
        <div *ngIf="(isSubmited)&&(dataTypesForm.controls.name.invalid)" class="form-control-feedback">Name is required!</div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(dataTypesForm.controls.description.invalid)}">
      <div class="col-md-3">Description</div>
      <div class="col-md-9">
        <textarea type="text" name="description" formControlName="description" class="form-control" ></textarea>
        <div *ngIf="(isSubmited)&&(dataTypesForm.controls.description.invalid)" class="form-control-feedback">Description is required!</div>
      </div>
    </div>

    <div class="modal-footer">
      <button (keypress)="eventHandler($event)" type="button" class="btn btn-primary"  type="submit">SAVE</button>
      <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
    </div>
  </div>

</form>

