<div class="row" >
  <div class="col-md-7">
    <h1 class="page-title">
      <i class="fa fa-home" aria-hidden="true"></i> / App Stats
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="box">
      <thead>
      <tr>
        <th>ALL APPS:&nbsp; 2,59,963&nbsp;&nbsp;&nbsp;</th>
        <th>ANDROID:&nbsp; 2,59,963&nbsp;&nbsp;&nbsp;</th>
        <th>IOS: 2,59,963&nbsp;&nbsp;&nbsp;</th>
      </tr>
      </thead>
    </div>
    <table class="table table-header active">
      <thead>
      <tr class="separator">
        <th colspan="5"></th>
      </tr>
      <tr>
        <th>#</th>
        <th>STATUS</th>
        <th>TOTAL
          <span class="sort">
                      <i class="fa fa-caret-up"></i>
                      <i class="fa fa-caret-down"></i>
                  </span></th>
        <th>ANDROID
          <span class="sort">
                      <i class="fa fa-caret-up"></i>
                      <i class="fa fa-caret-down"></i>
                  </span></th>
        <th>IOS
          <span class="sort">
                      <i class="fa fa-caret-up"></i>
                      <i class="fa fa-caret-down"></i>
                  </span></th>
      </tr>
      </thead>
    </table>
    <table class="table">
      <tbody>
      <tr *ngFor="let appstate of appStatesConstant;let index = index;">
        <td scope="row">{{index+1}}</td>
        <td><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;{{appstate}}</td>
        <td>{{appstate.total}}</td>
        <td>{{appStatesObj.data[appstate]?appStatesObj.data[appstate]: '0' }}</td>
        <td>0</td>
        <td>0</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-1">

  </div>
  <div class="col-md-4 text-right">
    <div style="width:25em;height:33em">
      <donut-chart [items]="items" [radius]="80" [width]="10"
                [fontSize]="30" [centerText]="centerText"></donut-chart>

    </div>
  </div>
</div>

