<div class="row">
        <div class="col-md-12">
          <table class="table table-header active">
            <thead>
            <tr>
              <th width="20%"># <sorter [config]="getListSortData('createdOn')" (sortData)="setListSorting($event)"></sorter></th>
              <th width="20%">ROLE <sorter [config]="getListSortData('name')" (sortData)="setListSorting($event)"></sorter></th>
              <th width="20%">APP NAME</th>
              <th width="20%">DEFAULT</th>
              <th width="20%">ACTION</th>
            </tr>
            </thead>
          </table>
          <div  class="table-data-wrapper mask-data" style="height:calc(100vh - 200px)"  infiniteScroll
                [infiniteScrollDistance]="2"
                [infiniteScrollThrottle]="400"
                (scrolled)="onScroll()"
                [scrollWindow]="false">
            <table class="table">
              <tbody>
              <tr *ngFor="let role of roles;let index = index;" >
                <th width="20%">{{index+1}}</th>
                <td width="20%">{{role.name}}</td>
                <td width="20%">{{role.appID?role.appID.name:''}}</td>
                <td width="20%">{{role.default}}</td>
                <td width="20%">
                  <a placement="top" ngbTooltip="Resource Privilege" (click)="resourcePrivilege(role)" class="row-action"><i class="fa fa-key" aria-hidden="true"></i></a>
                  <a placement="top" ngbTooltip="Edit Role" (click)="editRole(role)" class="row-action"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  <a placement="top" ngbTooltip="Delete Role" (click)="deleteRole(role)" class="row-action"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="page-actions top-align text-right">
          <button (click)="addRole()" class="btn btn-sm btn-secondary btn-sm"> + Add Role</button>
        </div>
</div>

