<form name="Form" [formGroup]="userForm" (ngSubmit)="submitForm()" novalidate>
  <div class="modal-header">
    <h4 class="modal-title">{{user._id?'Edit':'Add'}} User</h4>

  </div>
  <div class="modal-body">

    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(userForm.controls.name.invalid)}">
      <label class="col-3 col-form-label">Name *</label>
      <div class="col-9">
        <input type="text" name="name" formControlName="name" pattern="[a-zA-Z][a-zA-Z ]+" class="form-control">
        <div *ngIf="(isSubmited)&&(userForm.controls.name.invalid)" class="form-control-feedback">Valid name is Required</div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(userForm.controls.mobile.invalid)}">
      <div class="col-3 col-form-label">Mobile *</div>
      <div class="col-9">
        <input type="number" name="mobile" formControlName="mobile"  pattern="[0-9]*"
               minlength="10"
               maxlength="10" class="form-control">
        <div *ngIf="(isSubmited)&&(userForm.controls.mobile.invalid)" class="form-control-feedback">Enter 10 Digit Mobile No.</div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3">User Image</div>
      <div class="col-8">
        <div class="image-uploader btn">
          <i [hidden]="imagePreview" class="fa fa-camera"></i>
          <input type="file" (change)="selectFile($event)" />
          <img *ngIf="imagePreview" [src]="imagePreview" width="100" height="100" />
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button [disabled]="submitting" (keypress)="eventHandler($event)" class="btn btn-primary"  type="submit">SAVE</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
  </div>
</form>
