<div class="row">
  <div class="col-md-12">
    <div  class="table-data-wrapper mask-data" style="height:400px;"  infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="400"
          [scrollWindow]="false">
      <div class="row mt-10">
        <div class="col-12">
          <div class="file-container" *ngFor="let file of text;let index = index;">
            <div class="file-item">
              <div class="actions">
                <a (click)="editFile(file)" placement="top" ngbTooltip="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <a (click)="deleteFile(file)" placement="top" ngbTooltip="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
              </div>
              <div class="file-bg-image cursor-pointer" (click)="viewLabelTypes(file._id)">{{file.data.substr(0,100)}}</div>
              <div class="file-content">
                <h3 class="title">name</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-actions top-align text-right">
    <button (click)="addFile()" class="btn btn-sm btn-secondary"> + Add Suggestion</button>
  </div>
</div>

