
<div class="table-data-wrapper mask-data" style="height: calc(100vh - 220px);" infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="500"
     (scrolled)="onScroll()"
     [scrollWindow]="false">
  <table class="table " >
    <tr dnd-draggable  [dragEnabled]="true" [dragData]="app" *ngFor="let app of apps; let index = index;">
      <th>{{index+1}}</th>
      <td><img [src]="app.path" width="40" height="40"></td>
      <td>{{app.name}}</td>
      <td>{{app.owner}}</td>
      <td>{{app.status}}</td>
      <td>{{app.type}}</td>
      <td>{{app.createdOn | date:'dd-MM-y'}}</td>
    </tr>
  </table>
</div>
