
  <form name="Form" [formGroup]="f4Form" (ngSubmit)="submitForm()"  novalidate >
  <div class="row justify-content-center">
    <div class="box col-7 app-page-overflow">
        <div class="form-group text-center">
          <h2 class="secondary-title">Google Analytics Tracking Id</h2>
          <div class="col-md-12">
            <div class ="row justify-content-center">
                <div class="col-md-7">
                    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(f4Form.controls.f4.invalid)}">
                          <div class="col-md-2"></div>
                          <div class="col-md-8">
                            <input type="text" name="GA_ID" formControlName="GA_ID" class="form-control"  >
                            <div *ngIf="(isSubmited)&&(f4Form.controls.f4.invalid)" class="form-control-feedback">Title is required!</div>
                          </div>
                    </div>
                </div>
                <div class ="col-md-6 mt-10">
                    <button class="btn btn-secondary" type="submit">UPDATE</button>
                </div>
            </div>
          </div>
        </div>
          <p>The first step to setting up tracking for a website is to create an Analytics property.<br>
            Create one Analytics property for each website you want to track.<br>
            Creating an Analytics property generates a tracking ID and a JavaScript tracking code snippet.<br>
            The next step to set up tracking for a website is to do one of the following:<br>
            Add the entire tracking code snippet to each web page you want to track.<br>
            Add the tracking code snippet just before the closing "HEAD" tag on each page.<br>
            OR<br>
            Enter the tracking ID into a field that asks for the Google Analytics tracking ID.<br>
            (For some web-hosting services, you don't need to add the entire tracking code snippet to each web page on your site.<br>
            Instead, you'll simply need to enter the tracking ID into a field.<br>
            If this field exists, you can usually find it in the "Admin" or "Analytics" section of your web hosting.
          </p>
          <h2 class="secondary-title">Instruction</h2>
          <p>Sign Up for free on Google Analytics and follow this steps to get a custom tracking Id for your App.</p>
        </div>
    </div>
  </form>
