<div class="row">
  <div class="col-md-8">
    <table class="table table-header active">
      <thead>
      <tr>
        <th width="20%"># </th>
        <th width="20%">NAME </th>
        <th width="20%">DESCRIPTION</th>
        <th width="20%">ACTION</th>
      </tr>
      </thead>
    </table>
    <div  class="table-data-wrapper mask-data" style="height:calc(100vh - 200px);"  infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="400"
          (scrolled)="onScroll()"
          [scrollWindow]="false">
      <table class="table ">
        <tbody>
        <tr *ngFor="let label of labels;let index = index;" >
          <th width="20%">{{index+1}}</th>
          <td width="20%">{{label.name}}</td>
          <td width="20%">{{label.description}}</td>
          <td width="20%">
            <a placement="top" ngbTooltip="Edit Label" (click)="editLabels(label)" class="row-action"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <a placement="top" ngbTooltip="Delete Label" (click)="deleteLabels(label)" class="row-action"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="page-actions top-align text-right">
    <button (click)="addLabels()" class="btn btn-sm btn-secondary"> + Add Labels</button>
  </div>
</div>


