<div class="row">
    <div class="col-md-3 flex-20">
        <div class="page-left-sidebar">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let f3 of allF3Data;let index = index;" routerLinkActive="active">
                    <a class="title" [routerLink]="'/application/'+appID+'/f3/'+f3._id">{{f3.name}}
                    </a>
                    <span class="actions">
                        <a (click)="editF3(f3)" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil"></i></a>
                        <a (click)="deleteF3(f3)" placement="top" ngbTooltip="Delete"><i class="fa fa-trash"></i></a>
                    </span>
                </li>
                <li class="list-group-item cursor-pointer" >
                    <a  (click)="addF3()" class="title text-center">+ ADD</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-9 flex-80">
        <router-outlet></router-outlet>
    </div>
</div>
