<div class="row mt-10">
  <div class="col-2">
    <breadcrumb></breadcrumb>
  </div>
    <div class="col-10">

        <form class="form-inline app-search pull-right">
            <!--<div class="filters form-inline">-->
                <!--<div class="form-check form-check-inline">-->
                    <!--<label class="mr-3 control-label">Status : </label>-->
                     <!--<ng-selectize-->
                    <!--name="searchByApplicationStatusData"-->
                    <!--(change)="valueChanged()"-->
                    <!--[(ngModel)]="searchByApplicationStatusData"-->
                    <!--[errorClass]="'has-error'"-->
                    <!--[config]="singleSelectConfig"-->
                    <!--[options]="appStatus"-->
                    <!--[hasOptionsPlaceholder]="'Click to select...'"></ng-selectize>-->
                 <!--&lt;!&ndash; <select [(ngModel)]="searchByApplicationStatusData" (change)="searchByApplicationStatus($event)" class="custom-select">-->
                    <!--<option *ngFor=" let state of  appStatus;" [value]="state.value">{{state.label}}</option>-->
                <!--</select>  &ndash;&gt;-->
                <!--</div>-->
                <!--<div class="form-check form-check-inline">-->
                    <!--<label class="mr-3 control-label">Type : </label>-->
                <!--<div class="btn-group" (click)="searchByApplicationName($event)"  data-toggle="buttons">-->
                    <!--<label class="btn btn-sm" [ngClass]="{'active': applicationStatus.type == 'android'}" >-->
                    <!--<input type="radio" [(ngModel)]="applicationStatus.type" name="type" value="android" >ANDROID-->
                    <!--</label>-->
                    <!--<label class="btn btn-sm" [ngClass]="{'active': applicationStatus.type == 'ios'}" >-->
                    <!--<input type="radio" [(ngModel)]="applicationStatus.type" name="type" value="ios">IOS-->
                    <!--</label>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="form-check form-check-inline filter-actions">-->
                    <!--<button (click)="filter()" class="btn btn-sm btn-secondary"><i class="fa fa-filter"></i> Filter</button>-->
                    <!--<button (click)="clearFilter()" class="btn btn-sm btn-danger">Clear Filter</button>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-check form-check-inline app-search-input">-->
                <!--<input class="form-control" name="app_name" type="text"  placeholder="Search App" #input>-->
                <!--<button type="submit"><i class="fa fa-search"></i></button>-->
            <!--</div>-->
            <div class="form-check form-check-inline">
              <button (click)="selectUser()" class="btn btn-sm btn-secondary">Create App</button>
            </div>
        </form>
    </div>
</div>

      <div class="row">
        <div class="col-12">
            <!-- draggable component -->
            <app-details-draggable [app]="draggableAppData" [appStatus]="appStatus" [hidden]="hideDraggableAppComponent" (setDefaultAndroidStatus)="changeAndroidDefaultStatus($event)" (setDefaultIosStatus)="changeIosDefaultStatus($event)" (close)="closeAppDraggableComponent()"></app-details-draggable>
            <!-- draggable component -->
            <table class="table table-header active">
                <thead>
                    <tr>
                        <th width="5%" class="text-center"># <sorter [config]="getListSortData('createdOn')" (sortData)="setListSorting($event)"></sorter>
                        </th>
                        <th width="9%">ICON <sorter [config]="getListSortData('icon')" (sortData)="setListSorting($event)"></sorter>
                        </th>
                        <th width="10%">NAME <sorter [config]="getListSortData('name')" (sortData)="setListSorting($event)"></sorter>
                        </th>
                        <th width="8%">OWNER <sorter [config]="getListSortData('owner')" (sortData)="setListSorting($event)"></sorter>
                        </th>
                        <th width="10%">TYPE <sorter [config]="getListSortData('type')" (sortData)="setListSorting($event)"></sorter>
                        </th>
                        <th width="15%">ANDROID STATUS <sorter [config]="getListSortData('android_status')" (sortData)="setListSorting($event)"></sorter>
                        </th>
                        <th width="14%">IOS STATUS <sorter [config]="getListSortData('ios_status')" (sortData)="setListSorting($event)"></sorter>
                        </th>
                        <th width="10%">EXPIRY DATE <sorter [config]="getListSortData('expiry_date')" (sortData)="setListSorting($event)"></sorter>
                        </th>
                        <th width="20%" class="text-center">ACTIONS</th>
                    </tr>
                </thead>
            </table>
            <div class="table-data-wrapper mask-data" style="height: calc(100vh - 250px);" infiniteScroll
		    [infiniteScrollDistance]="2"
		    [infiniteScrollThrottle]="500"
		    (scrolled)="onScroll()"
		    [scrollWindow]="false">
                <table class="table ">
                    <tbody>
                        <tr *ngFor="let app of apps let index = index;">
                            <th width="5%"  class="text-center">{{index+1}}</th>
                            <td width="9%"><img [src]="app.path" width="40"  height="40"></td>
                            <td width="10%" class="cursor-pointer" (click)="goToApp(app)">{{app.name}}</td>
                            <td width="8%">{{app.owner?app.owner.name:''}}</td>
                            <td width="10%">{{app.type}}</td>
                            <td width="15%">{{app.android.status}}</td>
                            <td width="14%">{{app.ios.status}}</td>
                            <td width="10%">{{app.createdOn | date:'dd-MM-y'}}</td>
                            <td width="20%" class="text-center">
                                <!--<a placement="top" ngbTooltip="Information"  class="row-action"><i class="fa fa-info-circle" aria-hidden="true"></i></a>-->
                                <a placement="top" ngbTooltip="Edit App" (click)="editApp(app)" class="row-action"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <a placement="top" ngbTooltip="Collaborator" (click)="openCollaborator(app)"  class="row-action"><i class="fa fa-user" aria-hidden="true"></i></a>
                                <!--<a placement="top" ngbTooltip="View App" (click)="viewApp(app)" class="row-action"><i class="fa fa-eye" aria-hidden="true"></i></a>-->
    <span ngbDropdown class="row-action">
      <i  class="fa fa-trash"  aria-hidden="true"></i>
      <!--<i  class="fa fa-trash" ngbDropdownToggle aria-hidden="true"></i>-->
      <!--<div class="dropdown-menu dropdown-menu-right" ngbDropdownMen>-->
        <!--<button class="dropdown-item">Unpublish Android App</button>-->
        <!--<button class="dropdown-item">Unpublish iPhone App</button>-->
      <!--</div>-->
    </span>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

