<div class="row">
  <div class="col-md-12">
  <table class="table table-header active">
    <thead>
    <tr>
      <th width="20%"># <sorter [config]="getListSortData('createdOn')" (sortData)="setListSorting($event)"></sorter></th>
      <th width="30%">RESOURCES <sorter [config]="getListSortData('name')" (sortData)="setListSorting($event)"></sorter></th>
      <th width="20%">IS COMPONENT</th>
      <th width="20%">HAS COMPONENT</th>
      <th width="10%">ACTION</th>
    </tr>
    </thead>
  </table>

  <div class="table-data-wrapper mask-data" style="height: calc(100vh - 165px)" infiniteScroll
       [infiniteScrollThrottle]="400"
       (scrolled)="onScroll()"
       [scrollWindow]="false">
    <table class="table table-hover" >
    <tbody>
    <tr *ngFor="let resource of resources;let index = index;" >
      <th width="20%">{{index+1}}</th>
      <td width="30%">{{resource.name}}</td>
      <td width="20%">{{resource.isComponent?'Yes':'No'}}</td>
      <td width="20%">{{resource.hasComponent?'Yes':'No'}}</td>
      <td width="10%">
        <a (click)="editResourcePrivileges(resource)" class="row-action"><i class="fa fa-key" aria-hidden="true"></i></a>
        <a (click)="editResource(resource)" class="row-action"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <a (click)="deleteResource(resource)" class="row-action"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
  <div class="page-actions top-align text-right">
    <button (click)="addResource()" class="btn btn-sm btn-secondary"><span class="active">+ Add Resources</span></button>
  </div>
</div>
