<div class="item">
        <div class="user-data">
            <img *ngIf="announcement.userPath" [src]="announcement.userPath" class="img">
        </div>
        <div class="content" [ngClass]="{'has-image':announcement.appPath}">
            <p class="desc">
                <span class="user">{{announcement.userName}} </span>{{announcement.text}}
            </p>
            <p class="title">{{ announcement.createdOn | timeAgo }} , {{announcement.appName}}</p>
        </div>
        <div class="app-data">
            <img *ngIf="announcement.appPath" [src]="announcement.appPath">
        </div>
</div>