<div class="item" [ngClass]="{'un-read':!notification.read}">
    <!-- post-notification -->
        <div class="user-data">
            <img *ngIf="notification.userPath" [src]="notification.userPath" class="img">
        </div>
        <div class="content" [ngClass]="{'has-image':notification.postPath}">
            <p class="desc">
                <span class="user">{{notification.userName }} : </span>{{notification.message}}
                <span class="post-title">{{notification.title}}</span>
            </p>
            <p class="title">{{ notification.createdOn | timeAgo }} , <em>{{notification.appName}}</em></p>
        </div>
        <div class="app-data">
            <img *ngIf="notification.postPath" [src]="notification.postPath">
        </div>
    <!-- post-notification -->
</div>