<div class="row">
  <div class="col-md-8">
    <div class="app-status-user">
      <h6 class="user">NAME: <span class="user-name">{{userData.name}}</span></h6>
    </div>
    <table class="table table-header active">
      <thead>
        <tr>
          <th width="20%" class="text-center">#</th>
          <th width="40%">
            APPLICATION  <sorter [config]="getListSortData('application')" (sortData)="setListSorting($event)"></sorter></th>
          <th width="20%">STATUS <sorter [config]="getListSortData('status')" (sortData)="setListSorting($event)"></sorter></th>
          <th width="20%">ROLE <sorter [config]="getListSortData('role')" (sortData)="setListSorting($event)"></sorter></th>
        </tr>
      </thead>
    </table>
    <div class="table-data-wrapper mask-data" style="height:400px;" infiniteScroll
		    [infiniteScrollDistance]="2"
		    [infiniteScrollThrottle]="400"
		    (scrolled)="onScroll()"
		    [scrollWindow]="false">
      <table class="table ">
        <tbody>
        <tr *ngFor="let appStatus of applicationstatus;let index = index;">
          <td width="20%" class="text-center">{{index+1}}</td>
          <td width="40%">{{appStatus.appID.name}}</td>
          <td width="20%">
            <select  (change)="setDefaultStatus($event,appStatus)" [(ngModel)]="appStatus.status" class="custom-select" >
              <option value="ACTIVE">ACTIVE</option>
              <option value="INACTIVE">INACTIVE</option>
            </select>
          </td>
          <td  width="20%">
            <select  (change)="setDefaultRole($event,appStatus)" [(ngModel)]="appStatus.roleID._id" class="custom-select" >
              <option *ngFor=" let role of  appStatus.roles;" [value]="role._id">{{role.name}}</option>
            </select>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
