<form name="Form" [formGroup]="roleForm" (ngSubmit)="submitForm()" novalidate >

  <div class="modal-header">
    <h4 class="modal-title">{{role._id?'Edit':'Add'}} Role</h4>

  </div>
  <div class="modal-body">

    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(roleForm.controls.name.invalid)}">
      <div class="col-md-3">Name</div>
      <div class="col-md-9">
        <input type="text" name="name" formControlName="name" class="form-control" >
        <div *ngIf="(isSubmited)&&(roleForm.controls.name.invalid)" class="form-control-feedback">Name is required!</div>
      </div>
    </div>

    <div *ngIf="!role._id" class="form-group row">
      <div class="col-3">App</div>
      <div class="col-9">
        <input ng2-auto-complete
                   formControlName="appID"
                   [source]="appsObservableSource.bind(this)"
                   [list-formatter]="autocompleListFormatter"
                   value-property-name="_id"
                   display-property-name="name"
                   placeholder="App"
                   class="form-control">
      </div>
    </div>


  <div class="modal-footer">
    <button type="button" (keypress)="eventHandler($event)" class="btn btn-primary"  type="submit">SAVE</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
  </div>
  </div>

</form>

