<ng2-slim-loading-bar [color]="'#0a5d7b'" [height]="'2px'"></ng2-slim-loading-bar>
<div class="page-container">
  <!--<user-ideal>-->
  <!-- page content -->
  <div class="page-content-wrapper">
    <layout-left-sidebar></layout-left-sidebar>
    <layout-header></layout-header>
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
    <layout-right-sidebar></layout-right-sidebar>
    <uploader></uploader>
  </div>
  <!-- page content -->
  <!--</user-ideal>-->
</div>
