<div class="box">
  <div class="row">
    <div class="col-8">
      <h4 class="primary-title">ACCOMMODATION</h4>
    </div>
  </div>

<div class="row">
  <div class="col-4">col-4
    
      <div class="left-list">1. Jab We Met
          <span class="actions">
            <a href="#">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a href="#">
            <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </span>
      </div>
   
      <div class="left-list">2. Our First Date
          <span class="actions">
            <a href="#"> 
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a href="#">
               <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </span>
      </div>
  

    
      <div _ngcontent-c2="" class="image-upload-box">
        <span>+</span>
        <input type="file" name="somename">
        </div>
       
      

</div>

  <div class="col-8">col-8
    <div class="row">
      <div class="col-4">
      <div class="middle-list">
      <img src="assets/img/avatar009_480.png" srcset="assets/img/avatar009_480.png ,
										assets/img/avatar009_480.png " width="100px" height="100px">
                    </div>
                    </div>
      <div class="col-8">
      <div class="middle-list">
      Jab We Met<br><br>
      lorem ipsum dollar sitlorem ipsum<br>
      lorem ipsum dollar sitlorem ipsum <br>
      lorem ipsum dollar sitlorem ipsum <br> 
      </div>
      </div> 
  </div>

</div>
</div>
   
      