/*** mixins ***/
/*** colors ***/
/*** dashboard colors ***/
/*** buttons colors ***/
/*** social icons ***/
.left-list {
  font-size: 13px;
  font-family: "Lato", sans-serif;
  color: #fff;
  background-color: #02a09a;
  padding: 15px 15px 20px 4px;
  margin: 15px 80px 15px 5px;
  border-radius: 2px; }

.left-list .actions {
  color: #5f5858; }

.left-list .actions > a {
  color: #6d6969; }

.image-upload-box {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 5px;
  border: 1px solid #ddd;
  text-align: center;
  background: #fff;
  position: relative;
  box-shadow: 2px 2px 1px #ddd;
  border-style: dashed;
  height: 100px;
  width: 100px; }

.image-upload-box span {
  font-size: 60px;
  color: #ddd; }

.image-upload-box input[type='file'] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  opacity: 0;
  top: 0px; }

.middle-list {
  background: #e6e6e6;
  padding: 75px; }
