<div class="row">
    <div class="col-12">
        <breadcrumb></breadcrumb>
    </div>
</div>
<div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th  width="6%">#</th>
                        <th  width="13%">INVOICE NO.</th>
                        <th  width="10%">DATE</th>
                        <th  width="14%">USER </th>
                        <th  width="7%">APP</th>
                        <th  width="7%">MODE</th>
                        <th  width="18%">TRANS. ID</th>
                        <th  width="10%">AMOUNT</th>
                        <th  width="16%">ACTION</th>
                    </tr>
                </thead>
            </table>
                    <div class="table-data-wrapper mask-data " style="height:calc(100vh - 191px);" infiniteScroll
                         [infiniteScrollDistance]="2"
                         [infiniteScrollThrottle]="400"
                         (scrolled)="onScroll()"
                         [scrollWindow]="false">
                    <table class="table ">
                      <tbody>
                          <tr *ngFor="let invoice of invoices; let index=index;">
                              <th  width="6%">{{index+1}}</th>
                              <td  width="13%">
                                 {{invoice.invoiceNumber}}
                              </td>
                              <td  width="10%">{{invoice.date | date:'dd-MM-y'}}</td>
                              <td  width="14%">{{invoice.userID.name}}</td>
                              <td  width="7%">{{invoice.appID.name}}</td>
                              <td  width="7%">{{invoice.transactionID.mode}}</td>
                              <td  width="18%">{{invoice.transactionID.transactionID}}</td>
                              <td  width="10%">{{invoice.transactionID.amount}}</td>
                              <td  width="16%">
                                    <a (click)="viewInvoice(invoice)" class="row-action"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                    <a (click)="downloadInvoice(invoice)" class="row-action"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                             </td>
                           </tr>
                     </tbody>
                  </table>
                    </div>
        </div>
    </div>
