<form name="Form" [formGroup]="templateComponentForm" (ngSubmit)="submitForm()" novalidate>
  <div class="modal-header">
    <h4 class="modal-title">{{component._id?'Edit':'Add'}} Template Component</h4>
  </div>
  <div class="modal-body">
    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(templateComponentForm.controls.pageName.invalid)}">
      <label class="col-3 col-form-label">Page Name *</label>
      <div class="col-9">
        <input type="text" name="pageName" formControlName="pageName" class="form-control" >
         <div *ngIf="(isSubmited)&&(templateComponentForm.controls.pageName.invalid)" class="form-control-feedback">Page Name is required!</div>
      </div>
    </div>
    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(templateComponentForm.controls.order.invalid)}" >
      <label class="col-3 col-form-label">Order *</label>
      <div class="col-9">
          <input type="number" name="order" formControlName="order" class="form-control" >
           <div *ngIf="(isSubmited)&&(templateComponentForm.controls.order.invalid)" class="form-control-feedback">Order is required!</div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-3 col-form-label">Image *</div>
      <div class="col-9">
        <input type="file" (change)="selectFile($event)" class="form-control">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" [disabled]="isSubmitting" class="btn btn-primary"  type="submit">
      <span *ngIf="!isSubmitting">SAVE</span>
      <span *ngIf="isSubmitting">SAVING</span>
    </button>
    <button type="button" (keypress)="eventHandler($event)" class="btn btn-secondary" (click)="activeModal.close()">Close</button>
  </div>
</form>


