


<form name="Form" [formGroup]="userInformationForm" (ngSubmit)="submitForm()"  novalidate >
        <div class="box col-5">
          <div class="row">
              <h6>User Information</h6>
          </div>

          <div class="form-group row">
            <div class="col-3">Image</div>
            <div class="col-9">
              <div class="image-uploader btn">
                <!--<i *ngIf="(imagePreview=='')&&(userInformation.path=='')" class="fa fa-camera"></i>-->
                <!--<input type="file" (change)="selectFile($event)" />-->
                <img  [src]="userInformation.path" width="100" height="100" />
                <!--<img *ngIf="userInformation && userInformation.path && imagePreview==''" [src]="userInformation.path" width="100" height="100" />-->
                <!--<img *ngIf="imagePreview !=''" [src]="imagePreview" width="100" height="100" />-->
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(userInformationForm.controls.name.invalid)}">
            <div class="col-3">Name</div>
            <div class="col-9">
              <input type="text" name="name" formControlName="name" class="form-control"  >
              <div *ngIf="(isSubmited)&&(userInformationForm.controls.name.invalid)" class="form-control-feedback">Name is required!</div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(userInformationForm.controls.email.invalid)}">
            <div class="col-3">Email</div>
            <div class="col-9">
              <input type="text" name="email" formControlName="email" class="form-control"  >
              <div *ngIf="(isSubmited)&&(userInformationForm.controls.email.invalid)" class="form-control-feedback">Email is required!</div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(userInformationForm.controls.mobile.invalid)}">
            <div class="col-3">Mobile No.</div>
            <div class="col-9">
              <input type="number" name="mobile" formControlName="mobile" class="form-control"  >
              <div *ngIf="(isSubmited)&&(userInformationForm.controls.mobile.invalid)" class="form-control-feedback">Mobile is required!</div>
            </div>
          </div>

        </div>
</form>
