<div class="row">
  <div class="col-md-8">
    <breadcrumb></breadcrumb>
  </div>
  <div class="col-md-4 page-actions">
    <button  (click)="addTemplate()" class="btn btn-sm btn-secondary">+ Add Templates</button>
  </div>
  <div class="col-md-12">
    <!-- <button [showAuthed]="true">showAuthed</button> -->
    <template-list [entityListConfig]="entityListConfig"
                    [templates]="templates"
                    (setEntityConfig)="setEntityConfig($event)"
                    (selectTemplate)="selectTemplate($event)"
                    (deleteTemplate)="deleteTemplate($event)"
                    (paginateListing)="paginateListing()"
                    (editTemplate)="editTemplate($event)"></template-list>
  </div>
</div>
