<form name="Form" [formGroup]="componentForm" (ngSubmit)="submitForm()" novalidate>
    <div class="modal-header">
      <h4 class="modal-title">{{component._id?'Edit':'Add'}} Component</h4>
    </div>
    <div class="modal-body">

      <div *ngIf="!component._id" class="form-group row">
        <label class="col-3 col-form-label">Resource*</label>
        <div class="col-9">
          <select  (change)="setRoute($event)" formControlName="resourceID" class="form-control" >
            <option *ngFor="let resourceID of resourceName " [value]="resourceID._id" >{{resourceID.name}}</option>
          </select>
        </div>
      </div>

      <div *ngIf="component._id" class="row">
        <label class="col-3 col-form-label">Name*</label>
        <div class="col-9">{{component.resourceID.name}}</div>
      </div>

        <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(componentForm.controls.type.invalid)}">
            <label class="col-3 col-form-label">Type *</label>
            <div class="col-9">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary" [ngClass]="{'active':componentForm.controls.type.value=='P'}">
                    <input type="radio" name="type" formControlName="type" value="P" autocomplete="off" > Page
                  </label>
                  <label class="btn btn-primary" [ngClass]="{'active':componentForm.controls.type.value=='F'}">
                    <input type="radio" name="type" formControlName="type"  value="F" autocomplete="off"> Feature
                  </label>
                  <label class="btn btn-primary" [ngClass]="{'active':componentForm.controls.type.value=='PF'}">
                    <input type="radio" name="type" formControlName="type" value="PF" autocomplete="off"> Page Feature
                  </label>
                </div>
                <div *ngIf="(isSubmited)&&(componentForm.controls.type.invalid)" class="form-control-feedback">Type is required!</div>
            </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(componentForm.controls.route.invalid)}">
            <div class="col-3 col-form-label">Route *</div>
            <div class="col-9">
                <input  type="text" name="route" formControlName="route"  class="form-control">
                <div *ngIf="(isSubmited)&&(componentForm.controls.route.invalid)" class="form-control-feedback">Route is required!</div>
            </div>
        </div>

        <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(componentForm.controls.description.invalid)}">
            <div class="col-md-3 col-form-label">Description *</div>
            <div class="col-9">
                <textarea type="text" name="description" formControlName="description" class="form-control" rows="4"></textarea>
                <div *ngIf="(isSubmited)&&(componentForm.controls.description.invalid)" class="form-control-feedback">Description is required!</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" (keypress)="eventHandler($event)"  class="btn btn-primary"  type="submit">SAVE</button>
      <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
    </div>
</form>
