<!--<div class="row">-->
  <!--<div class="col-12 text-center">-->
    <!--<h6>Invite people to our app</h6>-->
    <!--<p>Choose from below platform to invite your freinds</p>-->
<!--<img src="/assets/img/facebook.png" width="100" height="100">-->
<!--<img src="/assets/img/gmail.png" width="100" height="100">-->
<!--<img src="/assets/img/sms.png" width="100" height="100">-->
<!--</div>-->

<div class="row">
  <div class="col-2 flex-20">
    <div class="page-left-sidebar">
      <ul class="list-group">
        <li class="list-group-item" routerLinkActive="active ">
          <a class="title" [routerLink]="'/application/'+appID+'/invite/facebook/'+userData._id">FACEBOOK</a>
        </li>
        <li class="list-group-item"  routerLinkActive="active ">
          <a class="title"  [routerLink]="'/application/'+appID+'/invite/mail/'+userData._id">MAIL</a>
        </li>
        <li class="list-group-item"  routerLinkActive="active" >
          <a class="title">SMS</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-10 flex-80">
    <router-outlet></router-outlet>



  </div>
</div>

