
        <table class="table table-header active">
            <thead class="dark-header">
                <tr>
                    <th>#</th>
                    <th>INVITEES</th>
                    <th>RESPONSE</th>
                    <th>DATE</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
        </table>
                <div class="table-data-wrapper mask-data" style="height: calc(100vh - 220px)" infiniteScroll
                     [infiniteScrollDistance]="2"
                     [infiniteScrollThrottle]="400"
                     (scrolled)="onScroll()"
                     [scrollWindow]="false">
                  <table class="table">
                    <tbody>
                <tr *ngFor="let p4f1 of p4f1Data;let index = index;">
                    <td scope="row">{{index+1}}</td>
                    <td><img *ngIf="p4f1.path" [src]="p4f1.path" width="20" height="20" />{{p4f1.email}}</td>
                    <td>
                        <select [(ngModel)]="p4f1.accomodation" (change)="submitChange($event,p4f1)" class="form-control" >
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </td>
                    <td>{{p4f1.createdOn | date:'dd-MM-y' }}</td>
                    <td>
                        <select [(ngModel)]="p4f1.accept" (change)="submitChange($event,p4f1)" class="form-control">
                            <option *ngFor="let p4f1Type of p4f1Types" [value]="p4f1Type">{{p4f1Type}}</option>
                        </select>
                    </td>
                    </tr>
                </tbody>
                </table>
            </div>