<div class="modal-header">
  <h4 class="modal-title">Remove Collaborator</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true"></span>
  </button>
</div>
<div class="modal-body">
  Are you Sure you want to remove this collaborator?
</div>
<div class="modal-footer">
  <button type="button" (click)="deleteCollaborator(app, collaborator)" class="btn btn-danger" >CONFIRM<span [hidden]="!isSubmited">PROCESSING..</span></button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
</div>
