<form name="Form" [formGroup]="addressForm" (ngSubmit)="submitForm()" novalidate>
  <div class="modal-header">
    <h4 class="modal-title">{{address._id?'Edit':'Add'}} Address</h4>
  </div>
  <div class="modal-body">

    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(addressForm.controls.address1.invalid)}">
      <label class="col-3 col-form-label">Address1</label>
      <div class="col-9">
        <input type="text" name="address1" formControlName="address1" class="form-control">
        <div *ngIf="(isSubmited)&&(addressForm.controls.address1.invalid)" class="form-control-feedback">Address1 is required!</div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(addressForm.controls.address2.invalid)}">
      <label class="col-3 col-form-label">Address2</label>
      <div class="col-9">
        <input type="text" name="address2" formControlName="address2" class="form-control">
        <div *ngIf="(isSubmited)&&(addressForm.controls.address2.invalid)" class="form-control-feedback">Address2 is required!</div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(addressForm.controls.city.invalid)}">
      <label class="col-3 col-form-label">City</label>
      <div class="col-9">
        <input type="text" name="city" formControlName="city" class="form-control">
        <div *ngIf="(isSubmited)&&(addressForm.controls.city.invalid)" class="form-control-feedback">City is required!</div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(addressForm.controls.state.invalid)}">
      <label class="col-3 col-form-label">State *</label>
      <div class="col-9">
        <input type="text" name="state" formControlName="state" class="form-control">
        <div *ngIf="(isSubmited)&&(addressForm.controls.state.invalid)" class="form-control-feedback">State is required!</div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(addressForm.controls.country.invalid)}">
      <label class="col-3 col-form-label">Country </label>
      <div class="col-9">
        <input type="text" name="country" formControlName="country" class="form-control">
      <div *ngIf="(isSubmited)&&(addressForm.controls.country.invalid)" class="form-control-feedback">Country is required!</div>
    </div>
    </div>


    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(addressForm.controls.pincode.invalid)}">
      <label class="col-3 col-form-label">Pincode</label>
      <div class="col-9">
        <input type="text" name="pincode" formControlName="pincode" class="form-control">
        <div *ngIf="(isSubmited)&&(addressForm.controls.pincode.invalid)" class="form-control-feedback">Pincode is required!</div>
      </div>
    </div>

    <!--<div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(addressForm.controls.primary.invalid)}">-->
      <!--<label class="col-3 col-form-label">Primary</label>-->
      <!--<div class="col-9">-->
        <!--<div class="form-check">-->
          <!--<input id="primary" name="primary" type="checkbox"  />-->
          <!--<label for="primary"></label>-->
        <!--</div>-->
        <!--<div *ngIf="(isSubmited)&&(addressForm.controls.primary.invalid)" class="form-control-feedback">Primary is required!</div>-->
      <!--</div>-->
    <!--</div>-->

    <div class="form-group row">
      <label class="col-3 col-form-label">Primary</label>
      <div class="col-9 mt-10">
        <input type="checkbox" id="primary" name="primary" formControlName="primary" class="form-control">
        <label for="primary">Make Default</label>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary"  type="submit">SAVE</button>
    <button type="button" class="btn btn-sm btn-secondary" (click)="activeModal.close()">CANCEL</button>
  </div>
</form>
