<div class="box">
<div class="invite">
  <!-- row1-->
  <div class="row">
    <div class="col-12">
    <h3 class="page-title">Invite via Facebook</h3>
    </div>
  </div>
  <!-- row1-ends-->
  <!-- row2-->
  <div class="row">
    <div class="col-6">
       <div class="row form-group">
         <div class="col-4">
           <h2 class="message">Custom Message</h2>
         </div>
         <div class="col-8">
           <textarea rows="3" cols="50" class="form-control"></textarea>
         </div>
       </div>
      <div class="row">
        <div class="col-4">
          <h2 class="template">Choose Template</h2>
        </div>
        <div class="col-8">
          <img src="/assets/img/facebook.png" width="80" height="80">
          <img src="/assets/img/facebook.png" width="80" height="80">
          <img src="/assets/img/facebook.png" width="80" height="80">
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="col-4">
          <h2 class="friend">Select Friend</h2>
        </div>
        <div class="col-8">
          <input type="text" class="form-control" name="search" #search>
          <div class="SelectedBox form-group text-center"  >
            Selected Box
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8">
          <div class="from-group text-center img2">
            <img src='assets/img/facebook.png' width="20" height="20">
            <span class="title">Anamika Tomar</span>
            <input type="checkbox" id="label1">
            <label for="label1">Create</label>
          </div>
        </div>
      </div>
      </div>
  </div>
  <!-- row2-ends-->
  <!-- row3-->
  <div class="row">
    <div class="col-12 text-center">
      <button type="button" class="btn btn-primary">INVITE</button>
    </div>
  </div>
  <!-- row3-ends-->
</div>
