<div class="row">
  <div class="col-md-8">
    <breadcrumb></breadcrumb>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="row">
    <div class="col-12">
      <div class="table-data-wrapper mask-data" style="height:400px;">
      <table class="table ">
        <tbody>
        <tr *ngFor="let resource_privilege of resource_privileges_data;let resourceIndex = index;" >
          <td><input type="checkbox" [id]="resource_privilege._id" (click)="selectCheckboxClick($event,resource_privilege._id)" [checked]="selectAllStatus(resource_privilege.privileges)"/>
            <label [for]="resource_privilege._id">
            </label></td>
          <th>{{resourceIndex+1}}</th>
          <td class="text-center">{{resource_privilege.name}}</td>
          <td *ngFor="let privilege of resource_privilege.privileges;let privilegeIndex = index;">
            <input
              (click)="checkboxClicked($event,resource_privilege._id,privilege._id)"
              type="checkbox"
              [id]="resource_privilege._id+'_'+privilege._id"
              [checked]="privilege.checked" />
            <label
              [for]="resource_privilege._id+'_'+privilege._id">{{privilege.name}}</label>
            <label
              [for]="resource_privilege._id+'_'+privilege._id">{{privilege.code}}</label>
            <i class="fa fa-pencil-square-o"  *ngIf="privilege.name !== 'selectAll' && privilege.name !== 'unSelectAll'" (click)="changePrivilege(privilege, resource_privilege._id)" aria-hidden="true"></i>
          </td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
</div>

