   <div class="row">
     <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
    <div class="container">
      <div class="row">
        <div *ngFor="let ccldContent of ccld.data">
          <div class="col s4">
            <div class="card">
              <div class="card-image">

                <ng-template [ngTemplateOutlet]="getType(ccld.type)" [ngOutletContext]="{ $implicit: ccldContent, index: i }"></ng-template>
                <!--<div *ngIf="label === 'description'">{{ccldContent.data}}</div>-->
                <!--<span class="card-title">{{photo.title}}</span>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <ng-template #file let-ccldContent>
        <img (click)="saveImageToDB(ccldContent.data)" src={{ccldContent.data}} width="100" height="100">
      </ng-template>

        <ng-template #string let-ccldContent>
          <td class="cursor-pointer" (click)="saveImageToDB(ccldContent.data)" >{{ccldContent.data}}</td>
        </ng-template>
