<div class="row justify-content-center">
  <div class="col-8">
    <div class="row">
      <div class="col-4">
        <h4 class="sub-page-title">Announcements</h4>
      </div>
      <div class="col-8 page-actions mt-0 mb-10 text-right">
        <button (click)="addAnnouncement()" class="btn btn-sm btn-secondary">+ Add</button>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-8">
    <table class="table table-header active">
      <thead>
      <tr>
        <th width="10%"># <sorter [config]="getListSortData('createdOn')" (sortData)="setListSorting($event)"></sorter> </th>
        <th width="12%">DATE <sorter [config]="getListSortData('date')" (sortData)="setListSorting($event)"></sorter> </th>
        <th  width="25%">MESSAGE <sorter [config]="getListSortData('text')" (sortData)="setListSorting($event)"></sorter></th>
        <th width="33%">SEVERITY <sorter [config]="getListSortData('severity')" (sortData)="setListSorting($event)"></sorter></th>
        <th width="13%">RECEIVER</th>
      </tr>
      </thead>

    </table>
    <div class="table-data-wrapper mask-data" style="height:400px;" infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="400"
         (scrolled)="onScroll()"
         [scrollWindow]="false">
      <table class="table ">
        <tbody>
        <tr *ngFor="let announcement of announcements;let index = index;" >
          <th width="10%">{{index+1}}</th>
          <td width="12%">{{announcement.createdOn | date:'dd-MM-y'}}</td>
          <td width="25%">{{announcement.text}}</td>
          <td width="33%">{{announcement.severity}}</td>
          <td width="13%">{{getRoleReceiver(announcement.roleID)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
