<div  class="uploader" [ngClass]="{'open':getOpenStatus(),'minimize':minimizeMode}">
    <div class="header">
        <div class="title">
            <span *ngIf="getItemsUploading()>0">
                Uploading {{getItemsUploading()}} File<span *ngIf="getItemsUploading()>1">s...</span>
            </span>
            <span *ngIf="(getItemsUploading()<=0)">
                <span *ngIf="getUploadedItems()>0">
                     {{getUploadedItems()}} File<span *ngIf="getUploadedItems()>1">s</span> Uploaded Successfully...
                </span>
                <span *ngIf="getUploadedItems()<=0">
                    Upload failure ... 
                </span>
            </span>
        </div>
        <div class="actions">
            <i [hidden]="!minimizeMode" (click)="maximize()" class="fa fa-angle-up minimize-btn"></i>
            <i [hidden]="minimizeMode" (click)="minimize()" class="fa fa-angle-down maximize-btn"></i>
            <i (click)="cancelUploading()" class="fa fa-times close-btn"></i>
        </div>
    </div>
    <div class="upload-items">
        <div *ngFor="let item of items;let index = index;trackBy: trackByFn" class="item clearfix">
 <div class="progress">
    <div class="contour" [attr.data-pct]="item.progress" [ngClass]="{'completed':item.progress==100,'error':item.error==true}">
        <svg class="circle-svg" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
            <circle class="circle-bar" r="80" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" [style.stroke-dashoffset]="getOffset(item.progress)"></circle>
        </svg>
    </div>
</div> 
            <div class="content">
                <div class="meta">{{item.itemType}} , {{item.dateTime | date:'medium'}} , </div>
                <div class="title">{{item.title}}</div>
            </div>
        </div>
    </div>
</div>