
<form name="Form" [formGroup]="templatesForm" (ngSubmit)="submitForm()" novalidate>
      <div class="modal-header">
        <h4 class="modal-title">{{component.id?'Edit':'Add'}} Template</h4>

      </div>
      <div class="modal-body">

        <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(templatesForm.controls.name.invalid)}">
          <div class="col-md-3">Name</div>
          <div class="col-md-9">
            <input type="text" name="name" formControlName="name" class="form-control" >
            <div *ngIf="(isSubmited)&&(templatesForm.controls.name.invalid)" class="form-control-feedback">Name is required!</div>
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(templatesForm.controls.type.invalid)}">
          <label class="col-3 col-form-label">Type *</label>
          <div class="col-9">

            <div class="btn-group"  data-toggle="buttons">
              <label class="btn btn-primary" [ngClass]="{'active':templatesForm.controls.type.value=='PAID'}">
                <input type="radio" (click)="setValue('PAID')" name="type" formControlName="type" value="PAID" autocomplete="off"> PAID
              </label>
              <label class="btn btn-primary" [ngClass]="{'active':templatesForm.controls.type.value=='FREE'}">
                <input type="radio" (click)="setValue('FREE')" name="type" formControlName="type"  value="FREE" autocomplete="off"> FREE
              </label>
            </div>
            <div *ngIf="(isSubmited)&&(templatesForm.controls.type.invalid)" class="form-control-feedback">Type is required!</div>
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(templatesForm.controls.price.invalid)}">
          <div class="col-md-3">Price</div>
          <div class="col-md-9">
            <input type="number" name="price" formControlName="price" class="form-control" >
            <div *ngIf="(isSubmited)&&(templatesForm.controls.price.invalid)" class="form-control-feedback">Price is required!</div>
          </div>
        </div>

        <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(templatesForm.controls.discount.invalid)}">
          <div class="col-md-3">Discount</div>
          <div class="col-md-9">
            <input type="number" [disabled]="templatesForm.controls.type.value == 'FREE'" name="discount" formControlName="discount" class="form-control" >
            <div *ngIf="(isSubmited)&&(templatesForm.controls.discount.invalid)" class="form-control-feedback">Discount is required!</div>
          </div>
        </div>

      </div>
        <div class="modal-footer">
          <button type="button" (keypress)="eventHandler($event)" [disabled]="isSubmited" class="btn btn-primary"  type="submit">SAVE</button>
          <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Close</button>
        </div>

</form>
