<div [ng2-draggable]="true" class="app-details" *ngIf="app">
    <div class="header">
        Application Details
    </div>
    <div class="body">
      <div class="scrollbar">
        <div class="row">
            <label class="col-12">
                APP NAME
            </label>
            <div class="col-12">
    <div class="input-group">
      <input type="text" #appName class="form-control" [value]="app.name" placeholder="App Name">
       <span class="input-group-btn" placement="top" ngbTooltip="Copy">
        <button  (click)="copyToClipboard(app.name,appName)" class="btn btn-secondary" type="button">Copy</button>
      </span>
    </div>
            </div>
        </div>
        <div class="row">
            <label class="col-12">
                APP ICON
            </label>
            <div class="col-12">
                    <img [src]="app.path" width="40">
                <span class="actions" placement="top"  ngbTooltip="Click the icon to download">
                  <a [href]="app.path" download="appicon.png">(Click the icon to download)</a>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <label>CREATED ON</label>
                        {{app.createdOn | date:'dd-MM-y'}}
                    </div>
                    <div class="col-6">
                        <label>EXPIRED ON</label>
                        12/05/2020
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-12">
                DESCRIPTION
            </label>
            <div class="col-12">
                <p>Lorem ipsum dolor sit amet consecteur something to type upon here goes here!</p>
            </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>APP BANNER</label>
            <div><img src="assets/img/file.png" width="20px" height="30px" ></div>
          </div>
          <div class="col-6">
            <label>SCREENSHOT</label>
            <img src="assets/img/file.png"  width="20px" height="30px">
            <img src="assets/img/file.png"  width="20px" height="30px">
            <img src="assets/img/file.png"  width="20px" height="30px">
            <img src="assets/img/file.png"  width="20px" height="30px">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>ANDROID APK</label>
            <div><img src="assets/img/android apk.png" width="35px" height="40px" ></div>
          </div>
          <div class="col-6">
            <label>IOS APP</label>
           <div> <img src="assets/img/apple.jpg"  width="35px" height="40px"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label>LIVE Links</label>
            <div>
              <img src="assets/img/live.png" width="35px" height="40px" >
              <img src="assets/img/live.png" width="35px" height="40px" >
              <img src="assets/img/live.png" width="35px" height="40px" >
            </div>
          </div>
        </div>
        <div class="row">
            <label class="col-6">ANDROID STATUS</label>
          <div class="col-6">
            <select  (change)="setDefaultAndroidStatus($event,app.ios.status)" [(ngModel)]="app.android.status" class="form-control" >
              <option *ngFor=" let state of  appStatus;" [value]="state">{{state}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <label class="col-6">IOS STATUS</label>
          <div class="col-6">
            <select  (change)="setDefaultIosStatus($event,app.android.status)" [(ngModel)]="app.ios.status" class="form-control" >
              <option *ngFor=" let state of  appStatus;" [value]="state">{{state}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="footer" (click)="closeAppDetailsDraggable()">
        close
    </div>
</div>
