<!-- header -->
<!-- <div class="sticky-el" stickyEl="75"> -->
<header  class="page-header" *ngIf="authenticated">
    <div class="row">
        <div class="col-2">
            <div class="page-title">Master Board</div>
        </div>
        <div class="col-7">
            <!-- <form action="" class="master-search-form">
                <input #input type="text" class="site-search" placeholder="Search">
                <div #resultscontainer class="results-container">
                    <div class="suggest-result">
                        <div class="suggest-block">
                            <h4 class="suggest-title">Some Title</h4>
                            <div class="suggest-item">Some item goes here</div>
                            <div class="suggest-item">Some item goes here</div>
                            <div class="suggest-item">Some item goes here</div>
                            <div class="suggest-item">Some item goes here</div>
                        </div>
                    </div>
                </div>
            </form> -->
        </div>
        <div class="col-3">
            <ul class="nav top-nav pull-right">
                <li class="nav-item" [routerLinkActiveOptions]="{exact: true}" routerLinkActive='active'>
                    <a class="nav-link" routerLink="/">
                        <img src="assets/img/home.png"
srcset="assets/img/home@2x.png 2x,
        assets/img/home@3x.png 3x" class="home">
                    </a>
                </li>
                <li class="nav-item active" [ngClass]="{'active':getActiveRoute('wall')}">
                    <a class="nav-link" routerLink="/wall">
                        <img src="assets/img/wall.png"
srcset="assets/img/wall@2x.png 2x,
        assets/img/wall@3x.png 3x" class="wall">
                    </a>
                </li>
                <li ngbDropdown class="nav-item notifications" [ngClass]="{'active': notifications && notifications.length>0}">
                    <a ngbDropdownToggle class="nav-link">
                        <img src="assets/img/notification.png"
srcset="assets/img/notification@2x.png 2x,
        assets/img/notification@3x.png 3x" class="notification">
        <!-- <span class="noti-count" *ngIf="notifications && notifications.length>0">{{notifications.length>10 ? notifications.length-10: notifications.length+'+'}}</span> -->
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="notifications-title">
                            Notifications
                        </div>
                        <div class="notifications-container"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="400"
         (scrolled)="onScroll()"
         [scrollWindow]="false">
                            <div *ngFor="let notification of notifications">
                                <announcement-card *ngIf="notification['announcement']" [announcement]="notification['announcement']"></announcement-card>
                                <notification-card *ngIf="notification['postNotification']" [notification]="notification['postNotification']"></notification-card>
                            </div>
                            <!-- status -->
                            <div class="notifications-status" *ngIf="notifications.length==0">
                                All Catched Up!
                            </div>
                            <!-- status -->
                        </div>
                        <div class="view-all" routerLink="/notification">View All</div>
                    </div>
                </li>
                <li ngbDropdown class="nav-item user-pic">
                    <a ngbDropdownToggle class="nav-link">
<img *ngIf="currentUser.path" [src]="currentUser.path" class="user-pic-img">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownBasic1">
                        <a class="dropdown-item">Profile</a>
                        <a class="dropdown-item">Settings</a>
                        <a class="dropdown-item" (click)="logout()">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>
<!-- header -->
<!-- </div> -->