<!-- sidebar -->
	<div class="left-sidebar-wrapper" *ngIf="authenticated">
		<div class="sidebar">
			<ul class="sidebar-menu">
				<li class="sidebar-logo">
					<a  routerLink="/" placement="right" ngbTooltip="Home">
						<i class="fa fa-home"></i>
					</a>
				</li>

				<li class="link" [ngClass]="{active:getActiveRoute('all-apps')}">
					<a routerLink="/all-apps">
						<i class="fa fa-bars" aria-hidden="true"></i>
						<span class="title">All APPS</span>
						<span class="arrow"></span>
					</a>
				</li>

				<li class="link" [ngClass]="{active:getActiveRoute('all-users')}">
					<a routerLink="/all-users">
						<i class="fa fa-users" aria-hidden="true"></i>
						<span class="title"> ALL USERS</span>
						<span class="arrow"></span>
					</a>
				</li>

				<li class="link"  [ngClass]="{active:getActiveRoute('app-stats')}">
          <a routerLink="/app-stats">
            <i class="fa fa-line-chart"></i>
            <span class="title">APP STATS</span>
            <span class="arrow"></span>
          </a>
        </li>

				<li class="link"  [ngClass]="{active:getActiveRoute('invoices')}">
					<a routerLink="/invoices">
						<i class="fa fa-money" aria-hidden="true"></i>
						<span class="title">INVOICES</span>
						<span class="arrow"></span>
					</a>
				</li>

        <li class="link"  [ngClass]="{active:getActiveRoute('billing-renewals')}">
          <a routerLink="/billing-renewals">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
            <span class="title">BILING & RENEWALS</span>
            <span class="arrow"></span>
          </a>
        </li>

				<li class="link"  [ngClass]="{active:getActiveRoute('category')}">
					<a routerLink="/category">
            <i class="fa fa-telegram" aria-hidden="true"></i>
						<span class="title">CATEGORY</span>
						<span class="arrow"></span>
					</a>
				</li>

        <li class="link"  [ngClass]="{active:getActiveRoute('component')}">
            <a routerLink="/component">
            <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
            <span class="title">COMPONENT</span>
            <span class="arrow"></span>
          </a>
        </li>
        <li class="link"  [ngClass]="{active:getActiveRoute('roles')}">
          <a routerLink="/roles/privilege">
            <i class="fa fa-address-card"></i>
            <span class="title">ROLES</span>
            <span class="arrow"></span>
          </a>
        </li>
        <li class="link" [ngClass]="{active:getActiveRoute('suggestion')}">
          <a routerLink="/suggestion/datatypes">
            <i class="fa fa-info" aria-hidden="true"></i>
            <span class="title">SUGGESTION</span>
            <span class="arrow"></span>
          </a>
        </li>
        <li class="link" [ngClass]="{active:getActiveRoute('workbench')}">
          <a routerLink="/workbench">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <span class="title">WORKBENCH</span>
            <span class="arrow"></span>
          </a>
        </li>

				<li class="end">
					<a routerLink="/" placement="right" ngbTooltip="Help">
						<i class="fa fa-info-circle"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- sidebar -->
