<!-- sidebar -->
	<div class="right-sidebar-wrapper" *ngIf="authenticated">
		<div class="sidebar d-table-cell align-middle">
			<ul class="sidebar-menu">
				<li>
					<a href="#" placement="left" ngbTooltip="Ramesh">
						<img src="assets/img/avatar-009.png"
								srcset="assets/img/avatar-009@2x.png 2x,
										assets/img/avatar-009@3x.png 3x">
					</a>
				</li>
				<li>
					<a href="#" placement="left" ngbTooltip="Suresh">
						<img src="assets/img/avatar-009.png"
								srcset="assets/img/avatar-009@2x.png 2x,
										assets/img/avatar-009@3x.png 3x">
					</a>
				</li>
				<li class="active">
					<a href="#" placement="left" ngbTooltip="Bhupesh">
						<img src="assets/img/avatar-009.png"
								srcset="assets/img/avatar-009@2x.png 2x,
										assets/img/avatar-009@3x.png 3x">
					</a>
				</li>
				<li>
					<a href="#" placement="left" ngbTooltip="Ankit">
						<img src="assets/img/avatar-009.png"
								srcset="assets/img/avatar-009@2x.png 2x,
										assets/img/avatar-009@3x.png 3x">
					</a>
				</li>
				<li>
					<a href="#" placement="left" ngbTooltip="Sumit">
						<img src="assets/img/avatar-009.png"
								srcset="assets/img/avatar-009@2x.png 2x,
										assets/img/avatar-009@3x.png 3x">
					</a>
				</li>
				<li>
					<a href="#" placement="left" ngbTooltip="Chanchal">
						<img src="assets/img/avatar-009.png"
								srcset="assets/img/avatar-009@2x.png 2x,
										assets/img/avatar-009@3x.png 3x">
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- sidebar -->