<div class="row">
    <div class="col-8">
        <div class="box template selection">
            <h4 class="sub-title">Select Template</h4>
            <div class="clearfix" style="height: 300px;overflow-y: scroll;">
                <div *ngFor="let template of templates" class="template-item">
                    <div class="template-preview">
                        <img *ngIf="template.components.length>0" [src]="template.components[0].path" alt="">
                        <img *ngIf="template.components.length==0" src="assets/img/templates/001.jpg" alt="">
                        <div class="actions">
                            <button (click)="getTemplateComponents(template)" class="btn btn-striped">Preview</button>
                            <button (click)="selectTemplate(template)" class="btn btn-striped">Select</button>
                        </div>
                        <div class="backdrop"></div>
                    </div>
                    <h3 class="template-title">{{template.name}}</h3>
                    <h3 class="template-price">{{template.price}}</h3>
                </div>
                <!-- <div class="template-item">
                    <div class="template-preview">
                        <img src="/assets/img/templates/002.jpg">
                        <div class="actions">
                            <button class="btn btn-striped">Preview</button>
                            <button class="btn btn-striped">Select</button>
                        </div>
                        <div class="backdrop"></div>
                    </div>
                    <h3 class="template-title">Marigold</h3>
                </div>
                <div class="template-item">
                    <div class="template-preview">
                        <img src="/assets/img/templates/003.jpg">
                        <div class="actions">
                            <button class="btn btn-striped">Preview</button>
                            <button class="btn btn-striped">Select</button>
                        </div>
                        <div class="backdrop"></div>
                    </div>
                    <h3 class="template-title">Marigold</h3>
                </div>
                <div class="template-item">
                    <div class="template-preview">
                        <img src="/assets/img/templates/004.jpg">
                        <div class="actions">
                            <button class="btn btn-striped">Preview</button>
                            <button class="btn btn-striped">Select</button>
                        </div>
                        <div class="backdrop"></div>
                    </div>
                    <h3 class="template-title">Marigold</h3>
                </div>
                <div class="template-item">
                    <div class="template-preview">
                        <img src="/assets/img/templates/005.jpg">
                        <div class="actions">
                            <button class="btn btn-striped">Preview</button>
                            <button class="btn btn-striped">Select</button>
                        </div>
                        <div class="backdrop"></div>
                    </div>
                    <h3 class="template-title">Marigold</h3>
                </div> -->
            </div>
        </div>
    </div>
    <div class="col-4">
        <slick-carousel *ngIf="templateComponents.length > 0" class="carousel iphone-carousel">
            <div slick-carousel-item  *ngFor="let component of templateComponents" class="slide">
                <img [src]="component.path" [alt]="component.pageName" class="img-responsive">
            </div>
        </slick-carousel>
    </div>
</div>