<form [formGroup]="announcementForm">
  <div class="modal-header">
    <h4 class="modal-title"> Announcement</h4>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-4 col-form-label">Group *</label>
      <div class="col-8">
        <ng-selectize [errorClass]="'has-error'" formControlName="roleID" [config]="multiSelectConfig" [options]="this.roles" [hasOptionsPlaceholder]="'Click to select...'"></ng-selectize>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-4 col-form-label">Severity *</label>
      <div class="col-8">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary " [ngClass]="{'active': announcementForm.controls['severity'].value == 'LOW'}" >
            <input type="radio" formControlName="severity" value="LOW">LOW
        </label>
        <label class="btn btn-primary" [ngClass]="{'active': announcementForm.controls['severity'].value == 'HIGH'}" >
            <input type="radio" formControlName="severity" value="HIGH">HIGH
        </label>
        <label class="btn btn-primary" [ngClass]="{'active': announcementForm.controls['severity'].value == 'MEDIUM' }" >
            <input type="radio" formControlName="severity" value="MEDIUM">MEDIUM
        </label>
      </div>

      </div>
    </div>
    <div class="form-group row">
      <label class="col-4 col-form-label" [ngClass]="{'has-danger': (isSubmited)&&(announcementForm.controls.text.invalid)}">Announcement</label>
      <div class="col-8">
        <textarea rows="4" type="text" formControlName="text" class="form-control"></textarea>
        <div *ngIf="(isSubmited)&&(announcementForm.controls.text.invalid)" class="form-control-feedback">Announcement Text is required!</div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary"   (click)="submitForm()">SUBMIT<span [hidden]="!isSubmited">ING..</span></button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
  </div>
</form>