
<div class="wall-container">
   <div class="filter-column text-center">
    <h3 class="title">Filters</h3>
    <p>PageNumber:{{entityListConfig.params.pageNumber}}</p>
    <p>Remaining Items:{{entityListConfig.remainingItems}}</p>
    <em>Note: pageNumber will start from 0</em>
  </div> 
  <div class="wall-column">
        <div  class="wall"
             infiniteScroll
             [infiniteScrollDistance]="2"
             [infiniteScrollThrottle]="400"
             (scrolled)="onScroll()"
             [scrollWindow]="false">

              <wall-post
                      *ngFor="let post of posts;let index=index;trackBy:post?.id"
                      [(post)]="posts[index]"
                      [userData] = "userData"
                      (deletePost)="deletePost($event)"
                      ></wall-post>
              
    </div>
  </div>
    <button class="btn create-post" (click)="writeData()"><i class="fa fa-pencil"></i></button>
    <!-- <div class="notification-column"></div> -->
</div>