@import './../../scss/variables.scss';
wall-page{

.filter-column{
    flex: 0 0 25%;
    max-width: 25%;
}
.wall-column{
    flex: 0 0 500px;
    max-width: 500px;
    overflow: hidden;
}
.notification-column{
    flex: 0 0 35%;
    max-width: 35%;
    padding: 20px 35px 20px 20px;
    overflow: hidden;
}
.wall-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.wall{
    margin-right: -20px;
    padding: 15px;
    overflow-y: scroll;
    height: calc(100vh - 120px);
    .post-item{
        background: #fff;
        box-shadow: 0px 0px 5px #b1b1b1;
        border-radius: 2px;
        margin-bottom: 10px;
        &.in-active{
            border: 1px solid red;
        }
        .post-header{
            padding: 10px 15px 5px 15px;
            .info{
                border-bottom: 1px solid #ddd;
                padding-bottom: 10px;
                .col-2{
                    padding-right:0px;
                    flex: 0 0 13.666667%;
                    img{
                        border-radius: 50%;
                        width:40px;
                        height:40px;
                        }
                    }
                .col-6{
                    padding-left:6px;
                    padding-top:5px;
                    a,.fa{
                        color: $secondary-color;
                    }
                }
                .col-4{
                    padding-top: 6px;
                    padding-right: 0px;
                    font-size: 13px;
                    color: #757575;
                    .post-actions{
                        position: relative;
                        cursor: pointer;
                        .dropdown-menu{
                            position: absolute;
                            min-width: 110px;
                            left: inherit;
                            right:0;
                            border-radius: 0px;
                            border: 0px;
                            margin:0px;
                            .dropdown-item{
                                cursor: pointer;
                                &:active{
                                    background:$light-background;
                                }
                            }
                        }
                    }
                }
            }
            .post-description{
                p{
                    line-height:14px;
                    margin-top:10px;
                    margin-bottom:10px;
                }
            }
        }
        .post-body{
            padding: 0px 0 5px 0;
        }
        .post-footer{
            .post-data{
                padding: 0px 10px;
                display:flex;
                a{color: #484848;}
                .likes{
                    width:50%;
                    float:left;
                    .like-person{
                        display: inline-block;
                        width:21px;
                        border-radius:50%;
                        margin-right: 3px;
                    }
                    .like-count{
                        font-size: 13px;
                        vertical-align: middle;
                    }
                }
                .actions{
                    width:50%;
                    float:left;
                    text-align: right;
                    font-size: 12px;
                    margin-top:2px;
                }
            }
            .post-actions{
                background: #eaeaea;
                box-shadow: 0px 1px 1px #c1c1c1;
                padding: 5px 25px;
                a{
                    cursor: pointer;
                    color: #a2a2a2;
                    .fa{font-size:18px;}
                    &.active{
                        color: #b90000;
                    }
                }
            }
            .post-add-comment{
                padding:10px 15px 10px 15px;
                border-bottom: 1px solid $dark-background;
                .col-2{
                    flex: 0 0 13.666667%;
                    max-width: 13.666667%;
                    .user-image{
                        border-radius: 50%;
                        width: 35px;
                        height: 35px;
                    }
                }
                .col-10{
                    max-width: 86.333333%;
                    flex: 0 0 86.333333%;
                    padding-left: 0px;
                    position: relative;
                    padding-right: 50px;
                    .user-comment{
                        height: 35px;
                        margin-top: 0px;
                        border: 0px;
                        border-radius: 0px;
                        background: $light-background;
                        &:focus{
                            background: lighten($dark-background,10%);
                        }
                    }
                    .btn-submit{
                        background: $primary-color;
                        color: #fff;
                        border: 0;
                        border-radius: 0px 5px 5px 0px;
                        position: absolute;
                        right: 10px;
                        top: 0px;
                        height: 35px;
                        padding: 8px 10px 20px 14px;
                    }
                }
            }
            .post-comments{
                padding: 10px 15px 10px 15px;
                border-bottom: 1px solid #ddd;
                flex: 0 0 13.666667%;
                .col-2{
                    &.user{
                        flex: 0 0 13.666667%;
                        max-width: 13.666667%;
                        padding-right:0px;
                        img{width:35px;height:35px;border-radius:50%;}
                    }
                    &.time-ago{
                        padding-left:0px;
                        padding-right:15px;
                        flex: 0 0 23.666667%;
                        max-width: 23.666667%;
                        font-size:12px;
                        text-align:right;
                        color:$dark-text;
                    }
                }
                .col-8{
                    padding-left:0px;
                    flex: 0 0 62.666667%;
                    max-width: 62.666667%;
                    p{
                        line-height: 14px;
                        margin-bottom: 0px;
                        &.user-name{
                            color: $secondary-color;
                            margin-bottom:5px;
                        }
                        &.user-comment{
                            color:$dark-text;
                        }
                    }
                }
            }
            .show-more{
                background: $light-background;
                text-align: center;
                button{
                    display: block;
                    width: 100%;
                    color:$dark-text;
                    cursor: pointer;
                    margin: 0 auto;
                    background: none;
                    border: 0px;
                    padding: 0px;
                }
            }
        }
    }
}
.create-post{
    position: absolute;
    left: 72%;
    bottom: 10px;
    border-radius: 50%;
    padding: 15px;
    width: 50px;
    height: 50px;
    box-shadow: 3px 3px 6px $secondary-color;
    background: $secondary-color;
}

/*** notification ***/
.notification-column{
    .header{
        width: 105%;
        .title{
            font-size: 23px;
            font-weight: 300;
            color: $secondary-color;
        }
        .reload{
            cursor: pointer;
            float: right;
            opacity: 0.3;
            img{
                width: 16px;
                opacity: 0.5;
            }
        }
    }
    .body-container{
        height: calc(100vh - 274px);
        margin-right: -30px;
        padding-right: 10px;
        overflow: auto;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0.3)));
        .item{
            position: relative;
            padding: 20px;
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.5);
            .img{
                position: absolute;
                left: 10px;
                top: 20px;
                width: 40px;
                border-radius: 50%;
            }
            .content{
                padding-left: 40px;
                color: rgba(0, 0, 0, 0.5);
                font-weight:300;
                .title{
                    line-height: 16px;
                    color: #888888;
                    font-size: 16px;
                    color:$light-text;
                    margin-bottom: 0px;
                }
                .desc{
                    font-size: 17px;
                    line-height: 18px;
                    margin: 5px 0px;
                    color:$dark-text;
                }
            }
        }
    }
}

}
