<form name="Form" [formGroup]="f3Form" (ngSubmit)="submitForm()" novalidate>
  <div class="modal-header">
    <h4 class="modal-title">{{f3._id?'Edit':'Add'}} {{pageName}}</h4>
  </div>
  <div class="modal-body">

        <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(f3Form.controls.name.invalid)}">
          <label class="col-4">Name</label>
          <div class="col-8">
            <input type="text" name="name" formControlName="name" class="form-control">
            <div *ngIf="(isSubmited)&&(f3Form.controls.name.invalid)" class="form-control-feedback">f3 Name is required!</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label">Make Default</label>
          <div class="col-8 mt-10">
            <input type="checkbox" id="default" name="default" formControlName="default" class="form-control">
            <label for="default">Default</label>
          </div>
        </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary"   (click)="submitForm()">SUBMIT<span [hidden]="!isSubmited">ING..</span></button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
  </div>
</form>
