<table class="table table-header active">
  <thead>
    <tr>
      <th width="100%">
        <div class="row">
          <div class="col-10 text-left">
            <span class="sub-title">
              Role Resource Privilege : {{role && role.name}}
            </span>
          </div>
          <div class="col-2 text-right">
            <button (click)="cancel()" class="btn btn-primary">Back</button>
          </div>
        </div>
      </th>
    </tr>
  </thead>
</table>
<div class="table-data-wrapper mask-data" style="height: 300px;">
    <table class="table ">
      <tr *ngFor="let resource of roleResourcePrivilegeData;let resourceIndex = index;">
        <td><input type="checkbox" [id]="resource._id" (click)="selectCheckboxClick($event,resource._id)" [checked]="selectAllStatus(resource.privileges)"/>
          <label [for]="resource._id">
          </label></td>
        <td width="5" class="text-left">{{resourceIndex+1}}</td>
        <td width="15" class="text-left">{{resource.name}}</td>
        <td width="80%" class="text-left" >
          <ul class="checkbox-list-item">
            <li *ngFor="let privilege of resource.privileges;let privilegeIndex = index;">
              <input type="checkbox" [id]="resource._id+'_'+privilege._id" (click)="checkboxClick($event,resource._id,privilege._id)" [checked]="privilege.checked" />
              <label [for]="resource._id+'_'+privilege._id">
                {{privilege.name}}
              </label>
            </li>
          </ul>
        </td>
      </tr>
    </table>
</div>
