<div class="create-post">
<form name="Form" [formGroup]="postForm" (ngSubmit)="submitForm()" novalidate >
    <div class="modal-header">
        <div class="user">
          <img [src]="userData.path" alt="">
          <span class="user-name" [title]="userData.name">{{userData.name | slice:0:15}}</span>
        </div>
        <div class="select-app">
          <select formControlName="selectedAppID" class="custom-select" >
            <option *ngFor="let app of apps " [value]="app._id" >{{app.name}}</option>
          </select>
        </div>
      </div>

    <div class="modal-body">
      <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(postForm.controls.title.invalid)}">
      <textarea placeholder="Share your Moment..." [ngClass]="{'has-data':imagePreview}" class="post-text form-control" rows=10 cols="43" name="title" formControlName="title" required >
      </textarea>
        <div *ngIf="(isSubmited)&&(postForm.controls.title.invalid)" class="form-control-feedback">Please enter some text!</div>
      </div>
      <div class="upload-data" *ngIf="fileType=='image'&&imagePreview">
        <img [src]="imagePreview">
      </div>
    </div>


    <!--<div class="file-upload">-->
      <!--<span class="text">upload</span>-->
      <!--<input id="custom-input" type="file" (change)="fileChangeListener($event)">-->
    <!--</div>-->
    <!--<img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>-->
    <!--<br>-->
    <!--<span class="result rounded" *ngIf="data.image" >-->
    <!--<img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">-->
    <!--</span>-->
    <!--<img-cropper [image]="data1" [settings]="cropperSettings1"  (onCrop)="cropped($event)"></img-cropper>-->
    <!--<span class="result" *ngIf="data1.image" >-->
        <!--<img [src]="data1.image"-->
             <!--[width]="croppedWidth"-->
             <!--[height]="croppedHeight">-->
    <!--</span>-->


    <div class="modal-footer">
      <div class="col-2">
        <div class="upload-file" (click)="uploadFile()">
          <i class="fa fa-camera"></i>
           <!--<input type="file" (change)="selectFile($event)" />-->
        </div>
      </div>
      <div class="col-10">
        <button class="btn btn-cancel" (click)="activeModal.close()">Cancel</button>
        <button [disabled]="submitting" class="btn btn-submit" (click)="submitForm()">Submit</button>
      </div>
    </div>
  </form>
</div>
