@import './../../../scss/variables.scss';
.modal-header{
    .user{
        max-width: 50%;
        flex: 0 0 50%;
        img{float:left;width:40px;height: 40px;border-radius:50%;}
        .user-name{
            float:left;
            font-size:18px;
            width: 137px;
            color:$secondary-color;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: 10px;
            margin-top: 5px;
            white-space: nowrap;
        }
    }
    .select-app{
        max-width: 50%;
        flex: 0 0 50%;
        text-align: right;
    }
}
.modal-body{
    padding: 15px;
    position: relative;
    height: 230px;
    .form-group{
        position: relative;
        .form-control-feedback{
            position: absolute;
            bottom: 0;
            font-style: italic;
        }
    }
    .upload-data{
        position: absolute;
        bottom: 6px;
        left: 0px;
        img{width: 60px;height:60px;}
    }
}
.modal-footer{
    text-align:right;
    .col-2{padding-left:10px;}
    .col-10{padding-right:10px;text-align:right;}
    .btn{font-weight:bold;outline:none;box-shadow: none;border:0;font-size:20px;padding:10px 0px;}
    .btn-cancel{
        background:none;
        color:$dark-text;
        margin-right:15px;
    }
    .btn-submit{
        background:None;
        color:$secondary-color;
    }
    .upload-file{
        position:relative;
        width:50px;
        text-align:left;
        .fa{
            cursor: pointer;
            color:$dark-text;
            font-size:25px;
        }
        input{
            position: absolute;
            width: 100%;
            height: 100%;
            left:0px;
            top:0px;
            opacity: 0;
        }
    }
}

.post-text{
    height: 200px;
    padding: 10px;
    color: lighten($light-text,20%);
    background:#fff;
    font-size:20px;
    font-weight:bold;
    &:focus{
        font-weight: 400 !important;
        font-size:14px !important;
        color: #444 !important;
    }
    &.has-data{
        height: 140px;
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: lighten($light-text,20%);
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: lighten($light-text,20%);
    }
    &:-ms-input-placeholder { /* IE 10+ */
        color: lighten($light-text,20%);
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: lighten($light-text,20%);
    }
}
