<div class="row">
  <div class="col-md-12">
    <table class="table table-header active">
      <thead>
      <tr>
        <th  width="10"># </th>
        <th  width="20">CATEGORY </th>
        <th  width="20">COMPONENT</th>
        <th  width="20">LABEL</th>
        <th  width="10">ACTION</th>
      </tr>
      </thead>
    </table>

    <div class="table-data-wrapper mask-data" style="height:calc(100vh - 200px);" infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="400"
         (scrolled)="onScroll()"
         [scrollWindow]="false">
      <table class="table ">
        <tbody>
        <tr *ngFor="let suggest of suggested; let index = index;" >
          <th  width="10">{{index+1}}</th>
          <td  width="20"  >{{suggest.categoryID.name}}</td>
          <td  width="20">{{suggest.componentID.resourceID.name}}</td>
          <td  width="20">{{suggest.labelID.name}}</td>
          <td  width="10">
            <a placement="top" ngbTooltip="Delete suggested" (click)="deleteSuggested(suggest)" class="row-action">
              <i class="fa fa-trash-o" aria-hidden="true"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="page-actions top-align text-right">
    <button (click)="addSuggest()" class="btn btn-sm btn-secondary">+ Add Suggested</button>
  </div>
</div>




