<form name="Form" [formGroup]="suggestedForm" (ngSubmit)="submitForm()" novalidate >
  <div class="modal-header">
    <h4 class="modal-title">Add Suggested</h4>
  </div>
  <div class="modal-body">

    <!--<div  class="form-group row">-->
    <div  class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(suggestedForm.controls.categoryID.invalid)}">
      <label class="col-3 col-form-label">Category*</label>
      <div class="col-9">
        <select  (change)="getComponent($event)" formControlName="categoryID" class="form-control" >
          <option *ngFor="let categoryID of categories " [value]="categoryID._id" >{{categoryID.name}}</option>
        </select>
        <div *ngIf="(isSubmited)&&(suggestedForm.controls.categoryID.invalid)" class="form-control-feedback">categoryID is required!</div>
      </div>
    </div>


    <div   class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(suggestedForm.controls.componentID.invalid)}">
      <label class="col-3 col-form-label">Component*</label>
      <div class="col-9">
        <select  (change)="getLabel($event)" formControlName="componentID" class="form-control" >
          <option *ngFor="let componentID of components " [value]="componentID._id" >{{componentID.name}}</option>
        </select>
        <div *ngIf="(isSubmited)&&(suggestedForm.controls.componentID.invalid)" class="form-control-feedback">componentID is required!</div>
      </div>
    </div>


    <div   class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(suggestedForm.controls.labelID.invalid)}">
      <label class="col-3 col-form-label">Label*</label>
      <div class="col-9">
        <select  (change)="setComponent($event)" formControlName="labelID" class="form-control" >
          <option *ngFor="let labelID of labels " [value]="labelID._id" >{{labelID.name}}</option>
        </select>
        <div *ngIf="(isSubmited)&&(suggestedForm.controls.labelID.invalid)" class="form-control-feedback">labelID is required!</div>
      </div>
    </div>


    <div class="modal-footer">
      <button (keypress)="eventHandler($event)" type="button" class="btn btn-primary"  type="submit">SAVE<span [hidden]="!isSubmited">ING...</span></button>
      <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
    </div>
  </div>

</form>


