<div class="modal-header">
  <h4 class="modal-title">Delete App {{app.name}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true"></span>
  </button>
</div>
<div class="modal-body">
  <!--Are you sure you want to delete {{app.name}} App ?-->
  this is not possible to delete this app . For more query contact Vikas Sir.
</div>
<div class="modal-footer">
  <button type="button" (click)="deleteApp()" class="btn btn-danger" >DELETE<span [hidden]="!isSubmited">ING..</span></button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
</div>
