<div class="row">
  <div class="col-12">
    <breadcrumb></breadcrumb>
  </div>
</div>
<div class="row">
  <div class="col-8 ">
    <div class="box">
      <div class="row">
        <div class="col-4">
          <tr>
            <th>INVOICE NO &nbsp; {{invoiceno}}</th>
          </tr>
        </div>
        <div class="col-4">
          <tr>
            <th> DATE &nbsp; {{invoiceDate | date:'dd-MM-y'}}</th>
          </tr>
        </div>
        <div class="col-4">
          <tr>
            <th> GRAND TOTAL &nbsp;{{grandTotal()}}</th>
          </tr>
        </div>
      </div>
    </div>
  </div>
</div>


        <div class="row">
          <div class="col-8">
            <table class="table ">
              <thead>
              <tr >
                <th>#</th>
                <th>PRODUCT NAME</th>
                <th>UNIT PRICE</th>
                <th>QUANTITY</th>
                <th>DISCOUNT</th>
                <th>TOTAL PRICE</th>
              </tr>
              </thead>
              </table>
            <div class="table-data-wrapper mask-data" style="height:400px;" infiniteScroll
                 [infiniteScrollDistance]="2"
                 [infiniteScrollThrottle]="400"
                 (scrolled)="onScroll()"
                 [scrollWindow]="false">
            <table class="table ">
              <tbody>
              <tr *ngFor="let invoice of invoiceItem;let index = index;">
                <th >{{index+1}}</th>
                <ng-template [ngTemplateOutlet]="getTemplate(invoice)" [ngOutletContext]="{ $implicit: invoice, index: i }"></ng-template>
              </tr>
              </tbody>
            </table>
              <div class="row">
                <div class="col-8 ">
                  <div class="box">
                    <div class="row">
                      <div class="col-4">
                      </div>
                      <div class="col-4">
                      </div>
                      <div class="col-4">
                        SUBTOTAL: {{getSubTotal(invoiceItem)}}
                        TOTAL TAX: {{this.taxs[0].percent}}
                        GRAND TOTAL: {{getGrandTotal()}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <ng-template #template let-invoice>
          <td>{{invoice.description.name}}{{invoice.description.app}}{{invoice.description.type}}</td>
          <td>{{invoice.price}}</td>
          <td>{{invoice.qty}}</td>
          <td>{{invoice.discount}}</td>
          <td>{{invoice.total}}</td>
        </ng-template>

        <ng-template #tax let-invoice>
          <td>{{invoice.description}}</td>
          <td>{{invoice.percent}}</td>
          <td>{{getTaxAmount(invoice.total)}}</td>
        </ng-template>


