<!-- <h3 class="title">{{pageTitle}}</h3>
<div class="content">
    <ngb-tabset [justify]="'center'">

    <ngb-tab *ngIf="uploadSettings['local']">
        <ng-template ngbTabTitle>Upload Image</ng-template>
        <ng-template ngbTabContent>
                <media-upload [settings]="uploadSettings['local']" (close)="closeModal()" (submit)="submitMediaUpload($event)"></media-upload>
        </ng-template>
    </ngb-tab>

    <ngb-tab routerLink="/suggestion/webimages" *ngIf="uploadSettings['web']">
        <ng-template  ngbTabTitle>Search Web</ng-template>
        <ng-template ngbTabContent>
             <web-upload [settings]="uploadSettings['web']" (close)="closeModal()" (submit)="submitWebUpload($event)"></web-upload>
        </ng-template>
    </ngb-tab>

    </ngb-tabset>
</div> -->
<div class="file-upload">
    <form name="Form" novalidate >
    <div class="modal-header">
        <h4 class="modal-title"> Crop the Image to Continue</h4>

    </div>
    <div class="row mt-10">
        <div class="col-12 text-center">
            <img-cropper #cropper [image]="data" [settings]="cropperSettings" (onCrop)="cropped($event)"></img-cropper>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="submitForm()" class="btn btn-sm btn-primary">SAVE</button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-secondary">CANCEL</button>
    </div>
    </form>
</div>
