<div class="form-container"
        [ngClass]="{'drag-in':imageUploadDragIn}"
    (drop)="onDrop($event)"
    (dragenter)="dragenter($event)"
    (dragleave)="dragleave($event)"
    (dragover)="dragover($event)">
    <!-- before upload -->
    <div (click)="triggerInputClick()" [hidden]="imageSelected" class="image-upload">
        <input type="file" #inputFile (change)="processFile($event)" name="file" />
        <img src="assets/img/image.svg" alt="">
        <span>Select a photo from your computer</span>
    </div>
    <!-- /before upload -->
    <!-- after upload -->
    <div [hidden]="!imageSelected" class="image-preview">
        <img-cropper #localImageCropper (onCrop)="localImageCropped($event)" [image]="cropPreview" [settings]="cropperSettings"></img-cropper>
        <!-- <img [src]="localImagePreview.image" width="100" height="100" /> -->
    </div>
    <!-- after upload -->
    <!-- video upload preview -->
    <div class="video-preview">
        <video [hidden]="!videoUpload" #videoPreview controls autoplay></video>
    </div>
    <!-- video upload preview -->
    </div>
    <div class="form-footer">
    <button (click)="submit()" class="btn btn-sm btn-secondary">Submit</button>
    <button (click)="close()" class="btn btn-sm">Cancel</button>
    </div>