
<div class="form-container">
  <p>some good content goes here</p>
  <div class="container">
    <div class="row">
      <input type="search" #searchControl>
    </div>
    <div class="row">
      <div *ngFor="let photo of photos">
        <div class="col s4">
          <div class="card">
            <div class="card-image">
              <img src={{photo.url}}>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-footer">
    <button (click)="submit()" class="btn btn-sm btn-secondary">Submit</button>
    <button (click)="close()" class="btn btn-sm">Cancel</button>
</div>
