<div class="row">
  <div class="col-3">
    <breadcrumb></breadcrumb>
  </div>
</div>
<div class="row">
    <div class="col-2 flex-20">
      <div class="page-left-sidebar">
        <ul class="list-group">
          <li class="list-group-item" routerLinkActive="active ">
            <a class="title" routerLink="/roles/privilege">PRIVILEGE</a>
          </li>
          <li class="list-group-item"  routerLinkActive="active ">
            <a class="title" routerLink="/roles/resources">RESOURCE</a>
          </li>
          <li class="list-group-item"  routerLinkActive="active" >
            <a class="title" routerLink="/roles/role">ROLE</a>
          </li>
        </ul>
      </div>
    </div>
  <div class="col-10 flex-80">
    <router-outlet></router-outlet>
  </div>
</div>