<div class="row">
    <div class="col-md-3">
        <div class="page-left-sidebar">
            <ul class="list-group">
                <li class="list-group-item" routerLinkActive="active">
                    <a routerLink="/application/live-streaming/current-plan">CURRENT PLAN</a>
                </li>
                <li class="list-group-item" routerLinkActive="active">
                    <a routerLink="/application/live-streaming/streaming-history">STREAMING HISTORY</a>
                </li>
                <li class="list-group-item" routerLinkActive="active">
                    <a routerLink="/application/live-streaming/upgrade-plan">UPGRADE PLAN</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
       <router-outlet></router-outlet>
    </div>  
</div>