<form name="Form" [formGroup]="stringForm" (ngSubmit)="submitForm()" novalidate >
  <div class="modal-header">
    <h4 class="modal-title">{{stringContent._id?'Edit':'Add'}} Type</h4>

  </div>
  <div class="modal-body">


    <div class="form-group row" [ngClass]="{'has-danger': (isSubmited)&&(stringForm.controls.data.invalid)}">
      <div class="col-md-3">Content</div>
      <div class="col-md-9">
        <textarea type="text" name="data" formControlName="data" class="form-control" ></textarea>
        <div *ngIf="(isSubmited)&&(stringForm.controls.data.invalid)" class="form-control-feedback">Content is required!</div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" (keypress)="eventHandler($event)" class="btn btn-primary"  type="submit">SAVE</button>
      <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
    </div>
  </div>

</form>
