<div class="app-page clearfix">
  <div class="row">
    <div class="col-8">
      <h4 class="primary-title">{{pageName}}</h4>
    </div>
    <div class="col-4 text-right">
      <div class="btn btn-sm btn-secondary" (click)="addP4()">
       + Add Events
      </div>
      <button fullScreen [container]="'.app-page'" class="btn btn-sm full-screen-action btn-secondary">
        <i class="fa fa-window-maximize"></i>
        <i class="fa fa-window-minimize"></i>
      </button>
    </div>
  </div>
  <div class="clearfix">
    <!-- folders -->
    <div class="file-container clearfix">
      <div class="table-data-wrapper mask-data" style="height:calc(100vh - 300px);" infiniteScroll
           [infiniteScrollDistance]="2"
           [infiniteScrollThrottle]="400"
           (scrolled)="onScroll()"
           [scrollWindow]="false">
      <div class="file-item" *ngFor="let p4data of p4;let index = index;" (click)="selectedData(p4data)">
        <div class="actions">
          <a (click)="editp4(p4data)" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a (click)="deletep4(p4data)" placement="top" ngbTooltip="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </div>
        <!--<div class="file-bg-image" style="background-image: url('./assets/img/event.jpg')"></div>-->
       <div class="file-bg-image cursor-pointer" [style.background-image]="getBackground(p4data.path)"></div>
        <div class="file-content">
          <h3 class="title">{{p4data.name.substr(0,25)}}<span *ngIf="p4data.name.length>25">...</span></h3>
          <div class="desc">
            <p>{{p4data.dateTime | date: 'dd - MM - y'}}</p>
            <p>{{p4data.dateTime | date: 'hh : mm : a'}}</p>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- folders -->
    </div>

</div>

  <!-- folders -->
<!-- <div class="row">
  <div class="col-4 right-border">
    <h3 class="page-items-title">Event List</h3>
    <div class="app-page-items" style="height:200px;overflow-y:scroll;overflow-x:hidden;">
      <div class="item" *ngFor="let p4data of p4;let index = index;" (click)="selectedData(p4data)">
        {{index+1}}.{{p4data.name}}
        <div class="actions">
          <a (click)="editp4(p4data)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a (click)="deletep4(p4data)"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="app-page-item-add" (click)="addP4()">
       + Add Events
    </div>
  </div>
  <div *ngIf="singleP4data" class="col-8">
    <h3 class="page-items-title">Event Details</h3>
    <div class="box grey">
      <table class="col-12">
        <tr>
          <td width="40%">Event Name</td>
          <td width="10%">:</td>
          <td width="50%">{{singleP4data.name}}</td>
        </tr>
         <tr>
          <td>Date & Time</td>
          <td>:</td>
          <td>{{singleP4data.name}}</td>
        </tr> <tr>
          <td>Venue</td>
          <td>:</td>
          <td>{{singleP4data.datatime}}</td>
        </tr><tr>
        <td>City</td>
          <td>:</td>
          <td>{{singleP4data.city}}</td>
        </tr> <tr>
          <td>Address 1</td>
          <td>:</td>
          <td>{{singleP4data.address1}}</td>
        </tr> <tr>
          <td>Address 2</td>
          <td>:</td>
          <td>{{singleP4data.address2}}</td>
        </tr> <tr>
           <tr>
          <td>Pincode</td>
          <td>:</td>
          <td>{{singleP4data.pincode}}</td>
        </tr> <tr>
          <td>State</td>
          <td>:</td>
          <td>{{singleP4data.state}}</td>
        </tr> <tr>
          <td>Website</td>
          <td>:</td>
          <td>{{singleP4data.website}}</td>
        </tr>
      </table>
  </div>
</div> -->
