<form name="Form" [formGroup]="componentStackForm" (ngSubmit)="submitForm()" novalidate>
    <div class="modal-header">
        <h4 class="modal-title">Add Components</h4>  
    </div>
    <div class="modal-body">
    <div class="row form-group">
        <div class="col-12">
                <div *ngIf="componentStackForm['controls']['components']['controls'].length>0">
                    <div *ngFor="let control of componentStackForm['controls']['components']['controls'];let i = index;">
                        <div class="row form-group">
                            <div class="col-12"><strong>{{this.components[i]['name']}}</strong></div>
                        </div>
                        <div class="row form-group" [ngClass]="{'has-danger': (isSubmited)&&(control.controls.pageName.invalid)}">
                            <label class="col-5">Page Name *</label>
                            <div class="col-7">
                                <input type="text" class="form-control" [formControl]="control.controls.pageName" >
                                <span class="form-control-feedback" *ngIf="control.controls.pageName.invalid && isSubmited">Required Field!</span>
                            </div>
                        </div>
                        <div class="row form-group" [ngClass]="{'has-danger': (isSubmited)&&(control.controls.order.invalid)}">
                            <label class="col-5">Order *</label>
                            <div class="col-7">
                                <input type="number" class="form-control" [formControl]="control.controls.order" >
                                <span class="form-control-feedback" *ngIf="control.controls.order.invalid && isSubmited">Required Field!</span>
                            </div>
                        </div>
                        <div class="row form-group" [ngClass]="{'has-danger': (isSubmited)&&(control.controls.path.invalid)}">
                            <label class="col-5">Image *</label>
                            <div class="col-7">
                                <div class="image-uploader btn">
                                    <i [hidden]="imagePreview[i]" class="fa fa-camera"></i>
                                    <input type="file" (change)="selectFile($event,i)" [formControl]="control.controls.path" />
                                    <img *ngIf="imagePreview[i]" [src]="imagePreview[i]" width="100" height="100" />
                                    <span class="form-control-feedback" *ngIf="control.controls.path.invalid && isSubmited">Required Field!</span>
                                </div>
                                <!-- <input type="file" class="form-control" (change)="selectFile($event,i)" [formControl]="control.controls.path" > -->
                            </div>
                        </div>
                    
                </div>
        </div>
    </div>
    </div>
</div>
    <div class="modal-footer">
        <button [disabled]="disabled || isSubmited" type="submit" class="btn btn-secondary">Submit</button>
        <button type="button" class="btn btn-danger" (click)="close()">Close</button>
    </div>
</form>