<div class="row">
    <div class="col-8">
        <breadcrumb></breadcrumb>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8">
        <div class="row">
            <!-- template components -->
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading"><div class="page-title text-center">Page/Feature</div></div>
                    <div class="panel-body" dnd-droppable (onDropSuccess)="addComponentToTemplate($event)" [dropZones]="['source-dropZone']">
                        <ul class="list-group">
                            <li *ngFor="let component of templateComponents" class="list-group-item">
                                {{component.pageName}} - {{component.order}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- template components -->
            <!-- all components -->
            <div class="col-md-6">
                <div class="panel panel-warning"
                    dnd-sortable-container [sortableData]="allComponents" [dropZones]="['source-dropZone']">
                    <div class="panel-heading"><div class="page-title text-center">Component Stack</div></div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li *ngFor="let component of allComponents; let x = index"  class="list-group-item"
                                dnd-sortable [sortableIndex]="x" [dragEnabled]="true"
                                [dragData]="component">{{component.resourceID.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- all components -->
        </div>
    </div>
</div>
