/***/
.fade-in-pulse{
	animation: fade-in-pulse 0.5s forwards cubic-bezier(0.8, 0.02, 0.45, 0.91);
}
.fade-out-pulse{
    animation: fade-out-pulse 0.5s forwards cubic-bezier(0.8, 0.02, 0.45, 0.91);
}
.modal-backdrop.fade.show{
    animation: modalBackdropFade 0.5s forwards cubic-bezier(0.8, 0.02, 0.45, 0.91);
}
.table-data-wrapper.mask-data,.fade-in-small{
    animation-name: fadeInUpSmall;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes fade-in-pulse {
    0% {
        opacity: 0;
        transform: scale(.8)
    }
    50% {
        opacity: 1
    }
    100%,70% {
        transform: scale(1)
    }
}
@keyframes fade-out-pulse{
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0
    }
    100%,70% {
        transform: scale(.8)
    }
}
@keyframes modalBackdropFade {
    from { opacity: 0; }
    to   { opacity: 0.2; }
}
@keyframes fadeInUpSmall {
    0% {
        opacity: 0;
        transform: translate3d(0,10%,0)
    }

    to {
        opacity: 1;
        transform: none;
    }
}