@import './scss/variables.scss';

.right-border{
    border-right:1px solid $light-background;
  }
.checkbox-list-item{
  list-style: none;
  li{
    margin-left: 15px;
    float:left;
    min-width: 100px;
    label{
      padding-left:25px !important;
      text-transform: uppercase;
    }
  }
}
.emphasis{
  td,th{
    font-weight:900;
  }
}
a{
  &.disabled{
    color:#ddd;
    cursor: not-allowed;
  }
}
.pd-10{padding:10px !important;}
.pb-10{padding-bottom:10px !important;}
.margin-right-5{ margin-right:5px;}
.mt-10{margin-top: 10px;}
.pt-20{padding-top:20px;}
.mb-10{margin-bottom: 10px;}
.min-height-90vh{min-height: 90vh;}
.flex-20{
    flex: 0 0 20%;
    max-width: 20%;
    flex: 0 0 240px;
    max-width: 240px;
}
.flex-80{
    flex: 0 0 80%;
    flex: 0 0 calc(100% - 240px);
    max-width: 0 0 calc(100% - 240px);
    max-width: calc(100% - 240px);
}
.cursor-pointer{cursor: pointer;}
.app-page-overflow{
  height:calc(100vh - 200px);
  overflow-y: auto;
  overflow-x: hidden;
}
