/* You can add global styles to this file, and also import other style files */
@import './scss/variables';
.scrolly {
  overflow-y: auto;
}
// .table-striped tbody > tr:nth-child(odd) > td,
// .table-striped tbody > tr:nth-child(odd) > th{
//   background-color: #f9f9f9;
// }
textarea {
  border: 0px;
  width: 120px;
}
.completer-input {
  text-rendering: auto;
  width: 260px;
  height: 40px;
  color: #444444;
  font-weight: 400;
  border: 0px;
  background: none;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
body {
  overflow-x: auto;
  // overflow-y: hidden;
  margin:0;
  color: $dark-text;
  font-family: $font-stack;
  line-height: 2em;
  letter-spacing: 0.03em;
  font-size: 13px;
  position: relative;
  min-height:100vh;
  background: linear-gradient(180deg, $light-background 0%,$dark-background 100%) !important;
  background-image:url('assets/img/background.png') !important;
  background-size:cover;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;
  //background: linear-gradient(180deg, $primary-color 0%,$primary-color 100%);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack;
  font-weight: 400;
  color: $dark-text;
}
// page-root{
//   display: block;
//   // height: calc(100vh - 120px);
//   overflow-y: auto;
//   padding: 0px 15px 0px 15px;
//   margin-left: -15px;
// }
.adder-btns{
  width: 65px;
  margin: 0 auto;
  button{
    float:right;
    cursor: pointer;
    min-width:20px;
    background: $light-text;
    border:0px;
    padding: 0px;
    border-radius: 0px 3px 3px 0px;
    outline: none;
    &:hover{
      background-color: $secondary-color;
    }
  }
  button:first-child{
    float:left;
    border-radius: 3px 0px 0px 3px;
  }
  .adder-title{
    float: left;
    display: block;
    height: 20px;
    line-height: 19px;
    width: 24px;
  }
}
page-root{
  .sticky-wrapper{
    &.is-sticky{
      .sticky{
        z-index: 8 !important;
        position: fixed !important;
        bottom: inherit !important;
        top: 10px;
      }
    }
  }
}
.modal-backdrop.show{
  opacity: 0.1;
}
// .overlay-modal{
//   &.gradient-overlay{
//     .modal-dialog{
//       .modal-content{
//         overflow-y: auto;
//         /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+42,ffffff+100&1+0,0.84+43,0+100 */
//         background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.84) 42%,rgba(255,255,255,0.84) 43%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
//       }
//     }
//   }
//   .close{
//     position: absolute;
//     right: 20px;
//     top: 20px;
//     padding: 10px;
//     border-radius: 50%;
//     background: #ddd;
//     width: 44px;
//     height: 44px;
//   }
//   .overlay-content{
//     max-width: 900px;
//     margin: 0 auto;
//     margin-top: 30px;
//     margin-bottom: 30px;
//     height: 100%;
//     height: calc(100vh - 60px);
//     overflow-y: auto;
//   }
//   .modal-dialog{
//     width: 100%;
//     max-width: none;
//     height: 100%;
//     background: rgba(255, 255, 255, 0.63);
//     margin: 0px;
//     .modal-content{
//       margin: 0 auto;
//       padding:0px;
//       border-radius: 0px;
//       box-shadow: none;
//       background: rgba(255, 255, 255, 0.63);
//       width: 100%;
//       height: 100%;
//     }
//   }
// }
// .overlay-modal-container{
//   display: block;
//   height: 100vh;
//   max-width: 850px;
//   margin: 0 auto;
//   padding: 20px 0px;
// }
.overlay-modal{
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.69) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
  &:before{
    display:none;
  }
  .close{
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;
    border-radius: 50%;
    background: #ddd;
    width: 44px;
    height: 44px;
  }
  .overlay-content{
    background:none;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 100%;
    height: calc(100vh - 60px);
    overflow-y: auto;
  }
  .modal-dialog{
    width: 100%;
    max-width: none;
    height: auto;
    margin: 0px;
    .modal-content{
      max-width: 990px;
      width: auto;
      padding: 20px 0px;
      background: none;
      height: auto;
      margin: 0 auto;
      border-radius: 0px;
      box-shadow: none;
      .modal-title{
        padding: 5px 0px;
      }
    }
  }
}
/*** scrollbar ***/
*{
  &::-webkit-scrollbar-track{
    background-color: #ffffff;
    border-left: 1px solid #ddd;
  }
  &::-webkit-scrollbar{
    border-radius:5px;
    width: 10px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #cccccc;
  }
}
button, input, optgroup, select, textarea{
  font-family: $font-stack;
}
a,a:hover,a:focus,a:active{
  text-decoration:none;
}
.navbar-nav{
  flex-direction: row;
}
.dropdown{
  &.show{
    .dropdown-menu{
      opacity: 1;
      top: 100%;
      -webkit-transform: scale(1);
      transform: scale(1);
      transition: .3s top ease;
      box-shadow: 0px 0px 11px #ababab;
    }
  }
  .dropdown-menu{
    top: 80%;
    position: absolute;
    opacity: 0;
    transition: .3s top ease;
    display: block;
    transform: scale(0.01);
  }
}
/*** saving state animation ***/
.saving {
  font-size: 30px;
  overflow: hidden;
  display: inline;
  line-height: 20px;
  position: relative;
}
.saving span {
  font-size: 50px;
  position: relative;
  top: -9px;
  display: inline-block;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  color: $secondary-color;
}
.saving span:nth-child(2) {
  animation-delay: .2s;
}
.saving span:nth-child(3) {
  animation-delay: .4s;
}
@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
/*** selectrize css ***/
.selectize-control{
  line-height: 10px;
  min-width: 220px;;
  // .selectize-control.single .selectize-input, .selectize-dropdown.single{
  //   padding-right: 40px;
  // }
  .selectize-dropdown{
    top:36px !important;
  }
}
/***checkbox customization ***/
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.5em;
  cursor: pointer;
  line-height: 17px;
  /* margin-bottom: 0px; */
  vertical-align: super;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;;
  background: #d6d5d5;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  position: absolute;
  top: 2px;
  left: 2px;
  line-height: 0.8;
  color: #02a09a;
  transition: all cubic-bezier(0.18, 0.89, 0.32, 1.28) .2s;
  content: "\f00c";
  font: normal normal normal 16px/1 FontAwesome;
  font-weight: 100;
  font-size: 14px;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  box-shadow:1px solid #ddd;
}

/* hover style just for information */
label:hover:before {
  box-shadow: 1px 1px 1px #413e3e;
}
/* page loading */
ng2-slim-loading-bar{
  display:block;
  width:100%;
  position: absolute;
  z-index: 9998;
  .slim-loading-bar-progress{
    transition: 0.5s all ease;
  }
}




/*** image-uploader ***/
.image-uploader{
  position: relative;
  width: 100px;
  height: 100px;
  background-color: rgba(68, 68, 68, 0.11);
  border-radius: 4px;
  overflow: hidden;
  padding: 0px !important;
  .fa{
    position: absolute;
    font-size: 25px;
    margin-top: 39px;
    left: 38px;
    color: #b7b7b7;
  }
  input[type="file"]{
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    opacity: 0;
  }
}
/*** table ***/
.table-data-wrapper{
  overflow-x: hidden;
  &.mask-data{
    .table{
      position:relative;
      &:before{
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background: #fff;
        z-index: -1;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(64, 64, 64, 0.75)), to(rgba(0, 0, 0, 0.5)));
      }
      tr{
        position: relative;
        z-index: 1;
        td,th{
          background: transparent;
          position: relative;
          z-index: 1;
        }
        &:hover{
          td,th{
            background:rgba(#fff,0.7);
          }
        }
      }
    }
    // -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.5)));
  }
}
.table{
  margin-bottom:0px;
  position: relative;
  z-index:2;
  &.table-header{
    transition:0.5s all ease;
    margin-bottom: 5px;
    &.active{
      position: relative;
      z-index: 3;
      //box-shadow: 0px 2px 5px #b3b3b3;
      // box-shadow: 0 14px 26px -12px rgba(150, 150, 150, 0.42), 0 4px 23px 0 rgba(169, 169, 169, 0.12), 0 8px 10px -5px rgba(148, 148, 148, 0.2);
      box-shadow: 0 14px 26px -12px rgba(119, 119, 119, 0.17), 0 4px 23px 0 rgba(113, 113, 113, 0.12), 0 8px 10px -5px rgba(113, 113, 113, 0.2)
    }
  }
  &.table-mask{
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.5)));
  }
  thead{
    &.dark-header{
      td,th{
        color:#000;
      }
    }
    th{
      position: relative;
      color: $secondary-color;
      background: #fff;
      border-bottom:0px;
      .sort{
        position: absolute;
        margin-left: 5px;
        margin-top: 5px;
        .fa{
          position: absolute;
          cursor: pointer;
          &.fa-caret-up{
            top:-3px;
          }
          &.fa-caret-down{
            top:6px;
          }
        }
      }
    }
    .separator th{
      padding: 0px;
      background: none;
      height: 4px;
    }

  }
  tbody{
    th,td{
      color: $dark-text;
      background: transparent;
      white-space: nowrap;
      transition: 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28) all;
    }
    .separator{
      th{
        padding: 0px;
        background: none;
        height: 7px;
      }
    }
    .row-action{
      cursor: pointer;
      color: $dark-text;
      margin-right: 10px;
      background: none;
      border:0px;
      padding:0px;
      &[disabled]{
        color:#c5c5c5;
        cursor: not-allowed;
      }
    }
    .row-status{
      color: $dark-text;
      margin-right:10px;
      >span{
        margin-right: 5px;
        width: 5px;
        height: 5px;
        display: inline-block;
        border-radius: 50%;
        margin-bottom: 2px;
      }
      .success{
        background: #009e00;
      }
      .danger{
        background: #c00000;
      }
      .dropdown{
        .dropdown-toggle{
          cursor:pointer;
        }
        .dropdown-menu{
          margin-left: -20px;
          min-width: 20px;
          background: #ddd;
          border: 0px;
          border-radius: 0px;
          .dropdown-item{
            cursor: pointer;
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
  }
  &.table-hover{
    tr{
      &:hover{
        background-color:inherit;
        td,th{
          background:#fff;
        }
      }
    }
  }
  // &.table-hover{
  //   tbody{
  //     tr{
  //       &:hover{
  //         th,td{
  //           color:#fff;
  //           background:#4e4e4e;
  //           .row-status,.row-action{
  //             color:#fff;
  //           }
  //         }
  //       }
  //       &.separator:hover{
  //         th,td{
  //           background:none;
  //         }
  //       }
  //     }
  //   }
  // }
}
/*** box ***/
.box{
  background:#fff;
  padding:20px;
  .primary-title{
    color: $dark-text;
    display: inline-block;
    padding-bottom: 30px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight:400;
    text-transform: capitalize;
  }
  .secondary-title{
    font-size:20px;
    color:$primary-color;
  }
  &.grey{background:$light-background;border-radius:5px;}
}
/*** app-page-items ****/
// .page-items-title{
//   font-size: 18px;
//     text-align: center;
//     margin-bottom: 20px;
// }
// .app-page-items{
//   padding-right:10px;
//   .item{
//     color: #fff;
//     position: relative;
//     cursor: pointer;
//     margin: 10px 0px;
//     font-size: 14px;
//     padding: 25px;
//     border-radius: 5px;
//     background: $primary-color;
//     &:first-child{
//       margin-top:0px;
//     }
//     .actions{
//       position: absolute;
//       right: 13px;
//       top: 23px;
//       a{
//         cursor: pointer;
//         color: $dark-text;
//         margin: 0px 2px;
//         &:hover{
//           color: #000;
//         }
//       }
//     }
//   }
//   &.grey-items{
//     padding-right: 10px;
//     .item{
//       background:$light-background;
//       color:$dark-text;
//       padding: 8px 18px;
//       &:first-child{
//         margin-top:0px;
//       }
//       p{
//         line-height:19px;
//         margin-bottom:0px;
//       }
//       .actions{
//         position: absolute;
//         right: 10px;
//         top: 11px;
//       }
//     }
//   }
// }


/*** icons ***/
.social-icon{
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  &.facebook{
    background:$facebook-color;
  }
  &.twitter{
    background:$twitter-color;
  }
  &.google-plus{
    background:$google-plus-color;
  }
  &.instagram{
    background:$instagram-color;
  }
  &.linkedin{
    background:$linkedin-color;
  }
  &.pinterest{
    background:$pinterest-color;
  }
}

/*** Form Elements ***/
.btn-group label.btn {
  background: none;
  box-shadow: none;
  border: 1px solid #ddd;
  color: $dark-text;
  &.active{
    background: $secondary-color;
    color: #fff;
  }
}
.form-control{
  color: $dark-text;
  font-weight: 400;
  // border-color: 1px solid #cecece;
  // background-color:rgba($dark-text,0.04);
  border:0px;
  //background: rgba(221, 221, 221, 0.53);
  // box-shadow: inset 0px 0px 10px #ddd;
  box-shadow:none;
  background: none;
  border: 1px solid #ddd;
  box-shadow: none;
  &.dummy-control{
    height:38px;
    background-color: rgba(68, 68, 68, 0.11);
    border: 1px solid rgba(68, 68, 68, 0.11);
  }
  &:focus,&:active{
    border-color:$secondary-color;
    box-shadow: none;
    color: #5a5a5a;
    border-color: #02a09a;
    box-shadow: inset 0px 0px 10px #ddd;
    //background: #dcdcdc;
    // box-shadow: inset 0px 0px 10px rgba(183, 183, 183, 0.81);
  }
}
/***  Made by @rahul  ***/
.form-check{
  margin-top: 13px;
}
/*** buttons ***/
// .btn{
//   font-size:14px;
//   background: #fff;
//   color: $dark-text;
//   cursor:pointer;
//   transition: all 1s ease;
//   span.active{
//     color:$secondary-color;
//   }
// }
// .btn-theme{
//   background-color: $theme-button-bg-color;
//   color:#fff;
//   &:hover{
//     background-color:lighten($theme-button-bg-color, 10% );
//   }
//   &.btn-pill{
//     padding: 7px 35px;
//     border-radius:50px;
//   }
// }
.btn{
  color:#fff;
  cursor:pointer;
  background:#eaeaea;
  border:0px;
  padding: 10px 30px;
  &.btn-sm{padding: .6rem 1.4rem;font-size:14px;line-height: 1rem;}
  &.btn-xs{padding: .2rem 0.35rem;font-size:14px;}
  &:active{
    color:#fff;
    background-color: darken($dark-background,10%);
    border-color:darken($dark-background,10%);
  }
  &:active{
    box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.3);
  }
  &.btn-striped{
    color:#fff;
    border:1px solid #fff;
    background:none;
  }
}
.btn-primary{
  background-color:$primary-color;
  border-color:$primary-color;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
  box-shadow: 0 2px 2px 0 rgba($primary-color,0.14), 0 3px 1px -2px rgba($primary-color,0.2), 0 1px 5px rgba($primary-color,0.12);
  &.focus{
    box-shadow: none;
  }
  &:hover,&:active{
    background-color: darken($primary-color,10%);
    border-color:darken($primary-color,10%);
    box-shadow: 0 14px 26px -12px rgba($primary-color,.42), 0 4px 23px 0 rgba($primary-color,.12), 0 8px 10px -5px rgba($primary-color,.2);
  }
  &.active{
    background-color: $primary-color;
    border-color: $primary-color;
  }
  &.disabled,&:disabled{
    background-color: lighten($primary-color,10%);
    border-color: lighten($primary-color,10%);
  }
}
.btn-secondary{
  background-color:$secondary-color;
  border-color:$secondary-color;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
  box-shadow: 0 2px 2px 0 rgba($secondary-color,0.14), 0 3px 1px -2px rgba($secondary-color,0.2), 0 1px 5px rgba($secondary-color,0.12);
  &:hover,&:active{
    color:#fff;
    background-color: darken($secondary-color,10%);
    border-color:darken($secondary-color,10%);
    box-shadow: 0 14px 26px -12px rgba($secondary-color,.42), 0 4px 23px 0 rgba($secondary-color,.12), 0 8px 10px -5px rgba($secondary-color,.2);
  }
  &.disabled,&:disabled{
    background-color: lighten($secondary-color,10%);
    border-color: lighten($secondary-color,10%);
  }
}
.btn-danger{
  background:$danger;
  color:#fff;
  border-color:$danger;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
  box-shadow: 0 2px 2px 0 rgba($danger,0.14), 0 3px 1px -2px rgba($danger,0.2), 0 1px 5px rgba($danger,0.12);
  &:hover,&:active{
    background-color: darken($danger,10%);
    border-color:darken($danger,10%);
    box-shadow: 0 14px 26px -12px rgba($danger,.42), 0 4px 23px 0 rgba($danger,.12), 0 8px 10px -5px rgba($danger,.2);
  }
  &.disabled,&:disabled{
    background-color: lighten($danger,10%);
    border-color: lighten($danger,10%);
  }
}
.btn-google{
  color:#fff;
  font-size:18px;
  padding: 10px;
  background:$google-plus-color;
  &:hover,&:active,&:focus{
    background: lighten($google-plus-color,5%);
  }
}
.btn-facebook{
  color:#fff;
  background:$facebook-color;
  &:hover,&:active,&:focus{
    background: lighten($facebook-color,5%);
  }
}
.sub-page-title{
  font-size: 14px;
  color: $secondary-color;
  margin-top: 11px;
  font-weight: bold;
  text-transform: uppercase;
}
.page-actions{
  text-align: right;
  margin-top: 10px;
  &.top-align{
    position: absolute;
    right: 15px;
    top: -54px;
  }
}
/*** vertical modal ***/
.modal {
  // &.show .modal-dialog {
  //     transition: 0.25s all;
  //     opacity: 0;
  //     transform: translate(0, 5vh) scale( 0.8);
  // }

  &.custom-show .modal-dialog {
    opacity: 1;
    transform: translate(0, 0) scale( 1);
  }
}
.modal-content{
  width:450px;
  border:0px;
  padding:25px 25px;
  //border-radius: 8px;
  //box-shadow: 0px 0px 70px $dark-text;
  border-radius: 4px;
  box-shadow: 0px 0px 40px #c5c5c5;
  .modal-sm &{
    min-width:300px;
  }
  .modal-md &{
    min-width:500px;
  }
  .modal-lg &{
    min-width:800px;
  }
}
.modal {
  text-align: center;
  padding: 0!important;
  .modal-header{
    border-bottom:0px;
    padding:0px;
    .modal-title{
      color:$secondary-color;
      margin:0 auto;
      font-weight:400;
      font-size:22px;
    }
  }
  .modal-body{
    font-size:16px;
    padding: 15px 25px;
    p{
      text-align:center;
    }
    .btn-group{
      .btn{
        padding: 7px 13px;
      }
    }
  }
  .modal-footer{
    justify-content: center;
    border-top:0px;
    padding:0px;
    .btn-sm{
      min-width: 110px;
    }
  }
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/*** page common styles ***/
.page-title{
  font-size:30px;
  .social-icon{
    width: 35px;
    height: 35px;
    font-size: 21px;
    line-height: 35px;
    margin-right: 10px;
  }
  &.facebook-color{
    color:$facebook-color;
  }
}
.sub-title{
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
}

/*** page - navbar ***/
.page-navbar{
  background: #fff;
  box-shadow: 0 14px 26px -12px rgba(119, 119, 119, 0.17), 0 4px 23px 0 rgba(113, 113, 113, 0.12), 0 8px 10px -5px rgba(113, 113, 113, 0.2);
  // box-shadow: 0px 2px 5px #b3b3b3;
  // border-bottom: 2px solid #eceeef;
  margin-bottom:10px;
  .navbar-nav{
    .nav-item{
      position: relative;
      .nav-link{
        text-transform: uppercase;
        padding:12px 15px;
        color:$primary-color;
        // border-bottom:3px solid transparent;
      }
      &.active{
        .nav-link{
          // border-bottom:3px solid $primary-color;
          background:rgba($primary-color, 0.15);
        }
        &:after{
          content: '';
          position: absolute;
          width:100%;
          height:3px;
          bottom: -2px;
          background:$primary-color;
        }
      }
    }
  }
}

/*** page-left-sidebar ****/
.page-left-sidebar{
  padding: 0px;
  .list-group{
    .list-group-item{
      margin-top:2px;
      border-radius:0px;
      padding:0px;
      border:none;
      text-transform: uppercase;
      background:rgba(255, 255, 255, 0.50);
      &:hover{
        background:rgba(#fff,0.7);
        a{color:$dark-text;}
      }
      &.active{
        color: #fff;
        background:$primary-color;
        a{color:#fff;}
        .actions{
          a{color:rgba(255, 255, 255, 0.50);}
        }
        box-shadow: 0 2px 2px 0 rgba(2, 160, 154, 0.14), 0 3px 1px -2px rgba(2, 160, 154, 0.2), 0 1px 5px rgba(2, 160, 154, 0.12);
      }
      .title{
        cursor: pointer;
        display:block;
        padding:14px 20px;
      }
      .actions{
        display: block;
        position: absolute;
        right: 20px;
        text-align: right;
        top: 8px;
        a{cursor: pointer;color:$light-text;margin-left: 6px;}
      }
      a{
        color:$dark-text;
        text-decoration: none;
        width:100%;
        border: none;
        font-size: 14px;
        line-height: 14px;
      }
    }
  }
}

/*** page - center - content ***/
// .page-center-content{
//   padding: 20px;
//   background: #fff;
//   .page-content-title{
//       font-size: 20px;
//       color:$secondary-color;
//   }
//   .table{
//     thead{
//       // border-bottom:2px solid $dark-text;
//       text-align:center;
//       th{
//         font-size:16px;
//         text-align:center;
//         color:$dark-text;
//         border-bottom:0px;
//       }
//     }
//     & td, & th{
//       border-top: 0px;
//     }
//     .add-link{
//       color: #3e3e3e;
//       font-size: 14px;
//       font-weight: 600;
//       &:hover{
//         color: $dark-text;
//       }
//     }
//   }
// }

/***created by mani singh, image upload box,span and input***/
.image-upload-box {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 5px;
  border: 1px solid #ddd;
  text-align: center;
  background: #fff;
  position: relative;
  box-shadow: 2px 2px 1px #ddd;
  border-style:dashed;
  height:100px;
  width:100px;
}

.image-upload-box span {
  font-size: 60px;
  color: #ddd;
}

.image-upload-box input[type='file'] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  opacity: 0;
  top: 0px;
}
.page-content-wrapper{
  width: 100%;
  min-width:992px;
  transition: 0.8s ease filter;
  &.blurred{
    filter: blur(2px);
  }
  layout-header{
    display:block;
    position: fixed;
    padding:15px 65px 10px 65px;
    z-index: 9;
    width:100%;
    // background: #f7f7f8;
    // box-shadow: 1px 1px 22px #e2e2e2;
    // border-bottom: 1px solid #e6e6e6;
    // background: linear-gradient(to bottom, rgba(228,231,234,1) 0%,rgba(242,245,247,0.92) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f6f6+0,f5f6f6+100&1+0,0.9+69,0.94+88,0.4+100 */
    // background: linear-gradient(to bottom, rgba(245,246,246,1) 0%,rgba(245,246,246,0.9) 69%,rgba(245,246,246,0.94) 88%,rgba(245,246,246,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#66f5f6f6',GradientType=0 ); /* IE6-9 */
    // .is-sticky{
    //   .sticky-el{
    //     position: fixed !important;
    //     z-index: inherit !important;
    //     bottom: inherit !important
    //   }
    // }
  }
  .page-content{
    margin-top: 0;
    min-height: 100vh;
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 90px);
    margin: 0 auto;
    padding-top: 55px;
    overflow: hidden;
    app-root{
      .sticky{

      }
    }
  }
}

.left-sidebar-wrapper{
  position: fixed;
  left:0px;
  top:0px;
  width: 45px;
  float:left;
  z-index:10;
  .sidebar{
    height:100vh;
    background: linear-gradient(180deg, darken($primary-color , 25%) 0%,$primary-color 100%);
    /*
    hover if sub-menu system is required!
    &:hover{
        .sidebar-menu{
            width:206px;
        }
    }
    */
    .sidebar-menu{
      width: 45px;
      /*
      transition if sub-menu system is required!
      transition: 0.5s ease-in-out all;
      */
      list-style:none;
      padding:0px;
      margin:0px;
      li{
        border-left: 4px solid transparent;
        a{
          display:block;
          padding:5px 14px 5px 10px;
          i{
            display:inline-block;
            color: rgba(white,0.6);
            width: 18px;
            text-align:center;
            font-size:18px;
          }
          .title{
            display: none;
          }
        }
        &.active{
          border-left: 4px solid $primary-color;
          border-color: rgba(19, 67, 67, 0.81);
          a{
            background: rgba(230, 230, 230, 0.2);
            i{
              color:#82b0b1;
            }
          }
        }
        &.link:hover{
          border-left: 4px solid #058e89;
          a{
            width: 206px;
            box-shadow: 0px 0px 1px $secondary-color;
            border-left: 0px;
            background:#01736f;
            box-shadow:-3px 0px 0px rgba(192, 192, 192, 0.39);
            position: relative;
            z-index: 10000;
            display: block;
            .title{
              display: block !important;
              position: absolute;
              left: 52px;
              top: 4px;
              color:#fff;
            }
          }
        }
        &.sidebar-logo{
          padding: 20px 0px 40px 0px;
        }
        &.end{
          position: absolute;
          bottom: 10px !important;
        }
      }
    }
  }
}
layout-right-sidebar{
  position: fixed;
  z-index:10;
  top:0px;
  right:0px;
}
.right-sidebar-wrapper{
  width: 45px;
  float: right;
  .sidebar{
    width: 45px !important;
    height:100vh;
    //background: $dark-background;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fafafa+0,cccccc+100 */
    background: rgb(250,250,250); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    .sidebar-menu{
      width: 45px !important;
      list-style:none;
      padding:0px;
      margin:0px;
      li{
        position: relative;
        a{
          img{
            width: 45px;
            height: 45px;
            margin: auto;
            display: block;
            padding: 9px;
            border-radius: 50%;
          }
        }
        &.active{
          &:before{
            content: '';
            position: absolute;
            height: 7px;
            width: 7px;
            background: $primary-color;
            border-radius: 50%;
            left: 10px;
            top: 9px;
            box-shadow: 1px 1px 0px rgba(102, 102, 102, 0.72);
          }
        }
      }
    }
  }
}




/** header **/
.page-title{
  padding: 0;
  font-size: 28px;
  letter-spacing: -1px;
  display: block;
  color:$primary-color;
  margin: 0 0 15px 0;
  font-weight: 300;
}
.master-search-form{
  position: relative;
  .results-container{
    position: absolute;
    overflow: hidden;
    height: 204px;
    width: 100%;
    top: 50px;
    .suggest-result{
      position: absolute;
      z-index: 9998;
      width: 100%;
      top: 0px;
      background: #fff;
      border: 1px solid #ddd;
      box-shadow: 0px 0px 1px #ddd;
      padding: 10px;
      transition: transform .2s,visibility .2s;
      transform: translateY(-202px);
      max-height: 200px;
      &.open{
        transform: translateY(0px);
      }
    }
  }
  .site-search{
    font-family:$font-stack;
    width: 100%;
    text-align: center;
    height: 45px;
    border-radius: 5px!important;
    background-color: #f1f1f1;
    border: 0;
    font-size: 22px;
    outline: none;
    font-weight: 300;
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      font-size:18px;
      color:    #b0b0b0;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      font-size:18px;
      color:    #b0b0b0;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      font-size:18px;
      color:    #b0b0b0;
    }
    &:-ms-input-placeholder { /* Microsoft Edge */
      font-size:18px;
      color:    #b0b0b0;;
    }
  }
}
.top-nav .nav-item{
  position: relative;
  .nav-link{
    cursor: pointer;
    padding: 0.4em 1.3rem;
  }
  img{
    width:auto;
    height:22px;
  }
  &.active a:before{
    content: '';
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background: $active-notification-color;
  }
  &.notifications{
    // .noti-count{
    //   background: #a70000;
    //   padding: 0px;
    //   position: absolute;
    //   top: -5px;
    //   right: -4px;
    //   font-size: 9px;
    //   line-height: 20px;
    //   color: #fff;
    //   border-radius: 50%;
    //   width: 20px;
    //   height: 20px;
    //   text-align: center;
    // }
    .dropdown-toggle{
      &:after{
        display: none;
      }
    }
    .dropdown-menu{
      width: 380px;
      left: -340px;
      margin: 0px;
      padding: 0px;
      border-radius: 0px;
      border: 0px;
      .notifications-title{
        font-size: 14px;
        border-bottom:1px solid #ddd;
        padding-left: 10px;
      }
      .notifications-container{
        height: 400px;
        overflow: auto;
        overflow-x: hidden;
        .item{
          display:flex;
          cursor: pointer;
          padding: 10px 15px;
          border-bottom: 1px solid #ddd;
          &:hover{
            background: $light-background;
          }
          &.un-read{
            background: #f7f8f9;
          }
          .user-data{
            flex: 0 0 15%;
            max-width:15%;
            img{
              width: 45px;
              height: 45px;
            }
          }
          .app-data{
            padding-left:0px;
            padding-right:0px;
            flex: 0 0 12%;
            max-width:12%;
            text-align: center;
            font-size:16px;
            line-height: 16px;
            img{
              width: 45px;
              height: 45px;
              display: block;
              margin: 0 auto;
            }
            p{
              font-size: 12px;
              margin-bottom: 0px;
              line-height: 12px;
              margin-top: 0px;
            }
          }
          .content{
            flex: 0 0 85%;
            max-width: 85%;
            padding-left:12px;
            padding-right: 0px;
            &.has-image{
              flex: 0 0 73%;
              max-width: 73%;
              padding-right:12px;
            }
            .title{
              margin-top: 6px;
              margin-bottom:0px;
              font-size: 12px;
              line-height: 9px;
              color: $light-text;
            }
            .desc{
              margin-bottom:0px;
              color: $dark-text;
              font-size: 14px;
              line-height: 14px;
              margin-top: 0px;
              .user{
                color:$secondary-color;
              }
            }
          }
        }
      }
      .view-all{
        text-align: center;
        cursor: pointer;
        border-top: 1px solid #ddd;
        font-size: 14px;
        padding-left: 10px;
      }
      .notifications-status{
        padding: 5px 10px;
        font-size: 14px;
        font-style: italic;
      }
    }
  }
  &.user-pic{
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin-left: 10px;
    border-radius:50%;
    box-shadow: 1px 2px 1px #cacaca;
    .dropdown-toggle{
      &:after{
        display: none;
      }
    }
    .dropdown-menu{
      left: -125px;
      border-radius: 0px;
      box-shadow: 0px 0px 11px #ababab;
      border: 0px;
      &:before{
        position: absolute;
        right: 0px;
        top: -20px;
        border-top: 10px solid rgba(0, 0, 0, 0);
        border-right: 10px solid rgba(0, 0, 0, 0);
        border-bottom: 10px solid rgb(255, 255, 255);
        border-left: 10px solid rgba(0, 0, 0, 0);
      }
      .dropdown-item.active, .dropdown-item:active{
        color:#fff;
        background-color: $secondary-color;
      }
    }
    .nav-link{
      padding:0px;
      img{
        width: 35px;
        height: 35px;
        border-radius:50%;
      }
    }
    &.active:before{
      left: 27px;
      top: 25px;
      width: 8px;
      height: 8px ;
      background: linear-gradient(0deg, $primary-color 0%,$primary-color 100%);
    }
  }
}


/******* Page Specific CSS *********/

/*
 * 1). all-apps
*/
.app-search{
  line-height: 44px;
  .control-label{
    font-size: 16px;
    color: #4a4a4a;
  }
  .filters{
    transition: 0.5s ease opacity;
    background: rgba($dark-text,0.02);
    border-radius: 6px;
    margin-right: 10px;
    padding:0 10px;
    border: 1px solid rgba(68, 68, 68, 0.01);
    &.open{
      opacity: 1;
    }
    ng-selectize{
      .selectize-control{
        line-height: 10px;
        min-width: 200px;
        .selectize-input{
          padding: 5px 8px;
          font-size: 12px;
          background: #fff;
          box-shadow: 0 1px 0 rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.8), 0 1px 1px rgba(116, 117, 117,0.1);
        }
        .selectize-dropdown{
          top: 28px !important;
          [data-selectable]{
            padding: 3px 7px;
            font-size: 12px;
            &.active{
              background: rgba(136, 136, 136, 0.14);
            }
          }
        }
      }
    }
  }
  // .custom-select,.form-control{
  //   background-color: rgba(255, 255, 255, 0.75);
  //   border: 1px solid #d6d6d6;
  //   color: #0a5d7b;
  //   height: 40px;
  //   box-shadow: 0px 0px 1px #efefef;
  // }
  .btn-group{
    padding: 3px;
    background: #fff;
    background: #fff;
    color: #444;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    .btn{
      font-size: 12px;
      background: none;
      padding: 5px 18px;
      line-height: 14px;
      color: $dark-text;
      border-radius: 3px !important;
      border: 0px !important;
      &.active{
        color: #0a5d7b;
        background: #ddd;
        border: 1px solid #ddd;
      }
      &:active{
        box-shadow: none;
      }
    }
  }
  .filter-actions{
    margin-left: 10px;
    .btn{
      padding:7px 20px;
      &:first-child{
        margin-right:5px;
      }
    }
  }
  .app-search-input{
    button{
      position: absolute;
      right: 0px;
      border: 0px;
      color: $dark-background;
      background: none;
      padding: 5px 10px;
      cursor: pointer;
      &:hover{
        color: $light-text;
      }
    }
    .form-control{
      width:150px;
      padding-right: 25px;
      background:#fff;
    }
  }
}
/*** app-details draggable component ***/
app-details-draggable{
  position: absolute;
  z-index: 9999;
  right: 70px;
  top: 50px;
  .app-details{
    width: 300px;
    height: 600px;
    height: calc(100vh - 140px);
    background: #fff;
    box-shadow: 0px 0px 40px #d2d2d2;
    border-radius: 4px;
    overflow: hidden;
    .header{
      background: #d2d2d2;
      font-size: 16px;
      text-align: center;
      padding: 10px 20px;
      color: $secondary-color;
    }
    .body{
      padding: 10px 20px;
      color: #9c9c9c;
      background: #f7f7f7;
      font-size: 14px;
      height: 408px;
      height: calc(100vh - 232px);
      .scrollbar{
        height: 400px;
        overflow-y:scroll;
        overflow-x:hidden;
      }
      p{
        font-size: 14px;
        line-height: 17px;
      }
      label{
        text-transform: uppercase;
        font-size: 14px;
        color: #0a5d7b;
        margin-bottom: 0px;
      }
      .actions{
        cursor: pointer;
        margin-left:10px;
      }
    }
    .footer{
      cursor: pointer;
      border-top: 1px solid #e8e8e8;
      text-transform: uppercase;
      background: #fff;
      font-size: 16px;
      text-align: center;
      padding: 10px 20px;
      color: $secondary-color;
    }
  }
}
/*** create-app page ***/
create-app-page{
  .create-steps{
    text-align:left;
    .list-group-item{
      border:0px;
      border-radius:0px;
      background:none;
      padding:0px;
      .btn{
        position: relative;
        text-align:left;
        border-radius:0px;
        width:100%;
        background:none;
        color:lighten($light-text,10%);
        font-size: 13px;
        padding: 11px 20px;
        text-transform: uppercase;
        i{
          position: absolute;
          right: 10px;
        }
      }
      &.active{
        .btn{
          color: #fff;
          background-color:$primary-color;
          border-color:$primary-color;
          background-color: $primary-color;
          border-color: $primary-color;
          box-shadow: 0px 0px 3px darken($primary-color,10%);
          border: 1px solid $primary-color;
        }
      }
      &.filled{
        .btn{
          background: #edeef0;
          box-shadow: none;
          border: 1px solid #edeef0;
          color: $primary-color;
        }
      }
    }
  }

  .selection{
    height: calc(100vh - 110px);
    .sub-title{
      color:$secondary-color;
      line-height: 20px;
      margin-bottom: 20px;
    }
    /*** category-selection ***/
    &.category{
      .category-item{
        float:left;
        width: 90px;
        margin-right: 50px;
        margin-bottom: 10px;
        .app-category{
          padding:10px;
          background:$primary-color;
          img{
            width: 70px;
            height: 70px;
            padding: 15px;
          }
        }
        .category-title{
          text-align: center;
          text-overflow: ellipsis;
          color:#000;
          font-size:16px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
    /*** template-selection ***/
    &.template{
      .template-item{
        width: 135px;
        float:left;
        margin-right: 20px;
        margin-bottom: 10px;
        .template-preview{
          position: relative;
          &:hover{
            .backdrop{
              opacity: 0.85;
            }
            .actions{
              opacity: 1;
            }
          }
          img{
            width: 135px;
          }
          .actions{
            position:absolute;
            opacity:0;
            transition: 1s ease opacity;
            z-index: 2;
            top: 80px;
            text-align: center;
            .btn{
              width: 90px;
              margin-top: 10px;
              padding: 7px;
              font-size: 14px;
            }
          }
          .backdrop{
            position: absolute;
            width:100%;
            height:100%;
            left:0px;
            top:0px;
            opacity: 0;
            z-index: 1;
            transition: 1s ease all;
            background:$primary-color;
          }
        }
        .template-title{
          text-align: center;
          text-overflow: ellipsis;
          text-transform: uppercase;
          color: $secondary-color;
          font-size: 14px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .template-price{
          text-align:center;
          font-size:16px;
        }
      }
    }
  }
  .category-selection{
    .sub-title{
      color:$secondary-color;
      line-height: 20px;
      margin-bottom: 20px;
    }
    .category-item{
      float:left;
      width: 90px;
      margin-right: 50px;
      margin-bottom: 10px;
      .app-category{
        padding:10px;
        background:$primary-color;
        img{
          width: 70px;
          height: 70px;
          padding: 15px;
        }
      }
      .category-title{
        text-align: center;
        text-overflow: ellipsis;
        color:#000;
        font-size:16px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

/*** app-feature-form ***/
.app-feature-form{
  .edit-form-action{
    text-align: right;
    a{
      cursor: pointer;
      color:$secondary-color;
      font-size:14px;
      font-weight:400;
      &:hover{
        color: darken($secondary-color,5%);
      }
    }
  }
}
// /*** gallery page {p3p1} ***/
// .page-gallery{
//   .item{
//     margin-right: 22px;
//     margin-left: 22px;
//     width: 100px;
//     float: left;
//     text-align: center;
//     .item-image{
//       width: 100px;
//       height: 100px;
//       float: left;
//       text-align: center;
//       margin-right: 10px;
//       position: relative;
//       img{
//         position: relative;
//         width:100px;
//         height:100px;
//         border-radius:50%;
//       }
//       .overlay{
//         opacity: 0;
//         position: absolute;
//         background: rgba($secondary-color, 0.8);
//         width: 100%;
//         height: 100%;
//         top: 0px;
//         border-radius: 50%;
//         z-index: 999;
//         transition: 0.8s ease opacity;
//         .actions{
//           position: absolute;
//           font-size:16px;
//           top: 35px;
//           left: 44px;
//           color: #fff;
//           a{cursor: pointer;}
//         }
//       }
//       &:hover{
//         .overlay{
//           opacity: 1;
//         }
//       }
//     }
//   }
// }
/*** slick carousel component ****/
slick-carousel{
  &.iphone-carousel{
    margin-top: -90px;
    width: 280px;
    background: url('assets/img/iphone6s.png');
    padding: 78px 35px;
    background-size: contain;
    background-repeat: no-repeat;
    .slick-slide{
      img{
        width:100%;
        pointer-events: none;
      }
    }
  }
}




/*** collaborators ***/
.collaborator{
  margin-top: 10px;
  position: relative;
  img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .title{
    font-size: 18px;
    margin-left: 10px;
  }
  .form-control{
    text-align: center;
    background: none;
    border: 1px solid $light-text;
    color: $dark-text;
    padding-right: 60px;
  }
  button{
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    min-width: 50px;
    background: #fff;
    border: 1px solid $light-text;
    outline: none;
    color: $secondary-color;
    &:focus{
      box-shadow: inset 1px 1px 3px rgba(68, 68, 68, 0.3);
    }
  }
}
.collaborators-list{
  font-size: 16px;
  .add-collaborator{
    margin: 10px 0px;
    .icon{
      border-radius: 50%;
      background: $secondary-color;
      color: #fff;
      width: 25px;
      height: 25px;
      display: inline-block;
      text-align: center;
      line-height: 22px;
      .fa{
        font-size:12px;
      }
    }
    .title{
      margin-left:20px;
    }
  }
  .collaborator-item{
    margin: 15px 0px;
    position: relative;
    &:hover{
      .title{
        color: $secondary-color;
      }
      .actions{
        button{
          .fa-pencil{color: $secondary-color}
          .fa-trash{color:$danger;}
        }
      }
    }
    img{
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }
    .title{
      margin-left: 20px;
    }
    .actions{
      position: absolute;
      right: 0px;
      button{
        border:0px;
        background: none;
        margin-left: 10px;
        color:$dark-text;
      }
    }
  }
  //created by rahul
  .facebook-box{
    margin: 15px 0px;
    position: relative;
    &:hover{
      .title{
        color: $secondary-color;
      }
      .actions{
        button{
          .fa-pencil{color: $secondary-color}
          .fa-trash{color:$danger;}
        }
      }
    }
    img{
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }
    .title{
      margin-left: 20px;
    }
    .actions{
      position: absolute;
      right: 0px;
      button{
        border:0px;
        background: none;
        margin-left: 10px;
        color:$dark-text;
      }
    }
  }

}


// .file-upload{
//   .modal-content{
//     width: 450px;
//     min-height: 440px;
//     padding:0px;
//     .title{
//       font-size:18px;
//       color:$secondary-color;
//       padding:25px 25px 15px 25px;
//       text-align: center;
//     }
//     .content{
//       position: relative;
//       .progress-container{
//         position: absolute;
//         top: 140px;
//         width: 100%;
//         .upload-progress{
//           width: 90%;
//           margin: 0 auto;
//           h3{
//             font-size: 14px;
//             margin-bottom: 10px;
//             font-weight: bold;
//           }
//           .progress{
//             border-radius: 0;
//             .progress-bar{
//               width: 59%;
//               background: $secondary-color;
//               border-radius: 0%;
//               height: 10px;
//               transition: .5s ease all;
//             }
//           }
//         }
//       }
//       .nav-tabs{
//         box-shadow: 0px 2px 2px rgba(68, 68, 68, 0.08);
//         padding: 0px 12px 0px 12px;
//         .nav-item{
//           text-transform: uppercase;
//           margin-bottom:0px;
//           .nav-link{
//             color: #464a4c;
//             background-color: #fff;
//             border:0;
//             padding: 5px 8px;
//             &.active{
//               border-bottom: 1px solid $primary-color;
//             }
//           }
//         }
//       }

//         .form-container{
//           position: relative;
//           min-height: 260px;
//           padding: 0px;
//           &.drag-in{
//             background: rgba(10, 93, 123, 0.1);
//           }
//           .image-upload{
//             position: relative;
//             text-align: center;
//             padding: 40px 25px;
//             img{
//               width:150px;
//               height:150px;
//               display: block;
//               margin: 0 auto;
//             }
//             input{
//               opacity: 0;
//               display: none;
//             }
//           }
//           .image-preview{
//             max-width: 80%;
//             padding: 20px;
//             margin: 0 auto;
//             text-align: center;
//             img{width:100%;}
//           }
//         }
//         .form-footer{
//           text-align: center;
//           padding: 20px;
//           box-shadow: 0px -2px 2px rgba(68, 68, 68, 0.08);
//           border-top: 1px solid #ddd;
//           .disable-footer{
//             position: absolute;
//             width: 80%;
//             height: 34px;
//             background: rgba(255, 255, 255, 0.25);
//           }
//           .btn{
//             padding: 8px 20px;
//             font-size: 14px;
//             margin-right: 5px;
//           }
//         }

//     }
//   }
// }

/*** toaster css ***/
#toast-container{
  left: 10px;
  bottom: 0px;
  .toast{
    background-position: 15px 10px;
    padding: 5px 15px 5px 50px;
    box-shadow: 0px 0px 10px #888;
    .toast-title{
      font-weight:900;
      line-height: 20px;
    }
    .toast-message{
      line-height: 15px;
    }
  }
}
/*** breadcrumbs ***/
.breadcrumb{
  background-color: rgba(255, 255, 255, 0);
  padding-left: 0px;
  padding-bottom: 0px;
  .breadcrumb-item{
    a{
      color: $secondary-color;
    }
  }
}

/*** ajax loader ***/
.loader {
  position:absolute;
  right:-20px;
  top:10px;
  border: 3px solid #d6d6d6;
  border-radius: 50%;
  border-top: 3px solid #0a5d7b;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*** app-status-component ***/
.app-status-user{
  background: #fff;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: 0px 1px 1px rgba(162, 162, 162, 0.68);
  .user{
    color: $secondary-color;
    margin-bottom: 0px;
    font-size: 16px;
    .user-name{
      color: $primary-color;
      margin-left: 5px;
      text-transform: uppercase;
    }
  }
}
/**** app-feature-form ***/
.app-feature-form{
  .control-label{
    color:$secondary-color;
    font-weight: 400;
    font-size: 16px;
  }
}
/*** folders & files css ***/
.app-page{
  background: #fff;
  padding: 20px;
  height: calc(100vh - 180px);
  overflow-y: auto;
  .primary-title{
    text-transform: capitalize;
    font-size:20px;
  }
}
.file-container{
  margin-top:10px;
  .file-item{
    position: relative;
    width: 250px;
    background: #f7f7f8;
    border-radius: 5px;
    float:left;
    margin-right: 15px;
    margin-bottom: 15px;
    .file-image{
      display: block;
      width: 100px;
      height: 100px;
      margin: 0 auto;
      border-radius: 50%;
      margin-top: 30px;
    }
    .file-bg-image{
      width: 100%;
      height: 160px;
      border-radius: 5px 5px 0px 0px;
      background-size: cover;
    }
    .file-content{
      padding:10px;
      .title{
        color:$secondary-color;
        text-align: center;
        font-size: 18px;
        margin: 10px 0px 10px 0;
      }
      .desc{
        text-align: center;
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        height: 85px;
        overflow-y: auto;
        margin-top: 0px;
        word-wrap: break-word;
        &.desc-sm{
          height: 35px;
        }
      }
    }
    .actions{
      position: absolute;
      top: 5px;
      right: 5px;
      color: $dark-text;
      a{cursor: pointer;margin-right:5px;}
    }
  }
}
/*** datepicker & timepicker ***/
ngb-datepicker{
  &:focus{
    outline:none;
  }
  ngb-datepicker-month-view{
    .ngb-dp-day{
      .btn-secondary{
        background:none;
        &:hover{
          color:#000;
        }
      }
    }
  }
}
ngb-timepicker{
  .ngb-tp-meridian{
    .btn{
      background: $secondary-color;
    }
  }
}
/*** helpers ***/
@import './helpers.scss';
.custom-select{
  padding: 5px 30px 5px 10px;
  height: 32px;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%2306394c' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
  background-size: 7px 14px;
  border: 1px solid rgba($dark-text,0.05);
}
@import './animations.scss';
.pac-container{z-index: 1051;}
/** * minimize ***/
.full-screen-action{
  .fa-window-maximize{display:block;}
  .fa-window-minimize{display:none;}
  &.maximize{
    .fa-window-maximize{display:none;}
    .fa-window-minimize{display:block;}
  }
}
.full-screen{
  position: fixed;
  z-index:1039;
  width:100%;
  height: 100%;
  left:0px;
  top:0px;
  .table-data-wrapper{
    height: auto;
  }
}
/*** workbench2 ***/
.workbench-container{
  overflow-x:scroll;
}
.workbench{
  width:1800px;
  .bench-column{
    flex: 0 0 360px;
    max-width: 360px;
    padding: 0 15px;
  }
  .panel{
    background: #f2f4f6;
    padding: 10px;
    margin-bottom:10px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(68, 68, 68, 0.37);
    .panel-header{
      padding: 0px 0px 0px 0px;
      position: relative;
      margin-bottom: 10px;
      .form-control{
        padding-top:10px;
        padding-right: 130px;
        padding-bottom:10px;
        border:0px;
        box-shadow: none;
        &:focus{
          background:#fff;
        }
      }
      .title{
        font-size:16px;
        padding-top: 7px;
        display: inline-block;
        padding-bottom: 7px;
      }
      .actions{
        position: absolute;
        right: 0px;
        top: 0px;
        padding-top: 7px;
        .search,.calendar,.device-type,.app-status{
          cursor: pointer;
        }
        a{
          font-size: 15px;
          margin-right: 6px;
          &.active{
            color:$light-text;
          }
          &:hover{
            .fa{color:$light-text;}
          }
          .fa{
            color: #bbb;;
          }
        }
      }
    }
    .panel-body{
      margin-right: -8px;
      .scrollbar{
        height: calc(100vh - 250px);
        padding-right: 12px;
      }
      .list-group-item{
        padding: 0px;
        box-shadow: none;
        border: 0px;
        background:none;
        .droppable-zone{
          width:100%;
          background:#fff;
          margin-bottom: 5px;
          border-radius: 4px !important;
          border: 1px solid #e8e8e8;
          box-shadow: 0px 0px 4px #dadada;
          padding: 10px 15px;
          .app-data{
            img{
              width: 30px;
              height: 30px;
              border-radius: 50%;
              box-shadow: 1px 1px 1px #545454;
              margin-right: 10px;
            }
          }
          .actions{
            position: absolute;
            right: 10px;
            a{
              color:$light-text;
              margin-right: 3px;
              font-size: 16px;
              &:hover,&.active{
                color:$dark-text;
              }
              &.date{
                background: lighten($primary-color,10%);
                color: #fff !important;
                border-radius: 2px;
                font-size: 12px;
                padding: 1px 3px;
                text-align: center;
              }
              &.device-type{
                &.active{
                  .fa-android{
                    color: $primary-color;
                  }
                }
              }
              &.app-status{
                color: $danger;
                .fa{transform: rotate(90deg);transition: 0.5s ease all;}
                &.active{
                  color: $primary-color;
                  .fa{
                    transform: rotate(0deg)
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.suggestion-selector{
  text-align: center;
  width: 120px;
  margin: 0 auto;
  cursor: pointer;
  .circle{
    border: 1px solid #0a5d7b;
    padding: 13px;
    border-radius: 50%;
    width: 100px;
    margin: 0 auto;
    height: 100px;
    line-height: 69px;
    position: relative;
    .fa{
      font-size: 30px;
      color:$secondary-color;
    }
  }
  p{
    font-size: 13px;
    font-weight: bold;
    color:$secondary-color;
    margin-bottom: 0px;
    margin-top: -43px;
  }
  .upload{
    position: absolute;
    width:100%;
    height:100%;
    opacity: 0;
    left:0;
    top:0;
    cursor: pointer;
  }
}

/**** web uploading modal ****/
.web-uploading{
  .header{
    .search-box{
      .form-control{
        max-width: 660px;
        text-align: center;
        height: 45px;
        border: 0;
        font-size: 22px;
        outline: none;
        font-weight: 300;
        background: #f1f1f1;
        margin-bottom: 30px;
        margin: 0 auto;
        margin-bottom: 40px;
        font-size: 19px;
        font-weight: 400;
        color: $secondary-color;
        &::-webkit-input-placeholder {
          color: $secondary-color;
        }
        &:focus{
          background: #f7f7f7;
          box-shadow: none;
        }
      }
    }
  }
  .close{
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;
    border-radius: 50%;
    background: #ddd;
    width: 44px;
    height: 44px;
  }
}
/*** uploader ***/
.uploader{
  width: 300px;
  height: 400px;
  transition: 0.1s ease all;
  background: #fff;
  display: block;
  position: fixed;
  bottom:-400px;
  right: 64px;
  box-shadow: 1px 1px 21px #d2d2d2;
  z-index: 9999;
  overflow-y: auto;
  border-radius: 2px;
  &.open{
    bottom: 0px;
  }
  &.minimize{
    bottom: -355px;
  }
  .header{
    background-color: $primary-color;
    color:#fff;
    position: relative;
    .title{
      font-size:16px;
      color:#fff;
      padding: 10px;
    }
    .actions{
      position: absolute;
      right: 10px;
      font-size: 22px;
      top: 10px;
      .minimize-btn,.maximize-btn{
        cursor: pointer;
        position: absolute;
        right:20px;
        top:0px;
        color:#fff;
      }
      .close-btn{
        cursor: pointer;
        position: absolute;
        color:#fff;
        right:0px;
        top:5px;
        font-size: 14px;
      }
    }
  }
  .upload-items{
    margin-top: 10px;
    padding: 0px 10px;
    margin-bottom: 10px;
    .item{
      margin-bottom: 10px;
      .progress{
        width: 40px;
        height: 40px;
        float: left;
        vertical-align: top;
        margin-right: 5px;
        background:transparent;
        .contour{
          transform: scale(.2);
          text-align: center;
          float: left;
          transform-origin: 0 0;
          margin: 0px;
        }
      }
      image{
        background-image: url(https://assets.servedby-buysellads.com/p/manage/asset/id/26626);
        width: 40px;
        height: 40px;
        background-size: cover;
        border-radius: 50%;
        float: left;
        margin-right: 10px;
        padding: 0px;
      }
      .content{
        float: left;
        width: calc(100% - 50px);
        margin-top: 4px;
        .meta{font-size:12px;line-height:14px;}
        .title{
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
  }
}

/*** progress bar ***/
.circle-svg circle {
  stroke-dashoffset: 0;
  // transition: stroke-dashoffset 1s linear;
  stroke-width: 0.5em;
}
.circle-svg .circle-bar {
  stroke: $primary-color;
}
.contour {
  display: block;
  height: 200px;
  width: 200px;
  margin: 2em auto;
  border-radius: 100%;
  position: relative;
  &:after{
    position: absolute;
    display: block;
    height: 160px;
    width: 160px;
    left: 50%;
    top: 50%;
    content: attr(data-pct)"%";
    margin-top: -80px;
    margin-left: -80px;
    border-radius: 100%;
    line-height: 160px;
    font-size: 4em;
    font-weight: bold;
    color: $secondary-color;
  }
  &.completed{
    &:after{
      content: '\f00c';
      font: normal normal normal 123px/1 FontAwesome;
      margin-top: -30px;
      color: #02a09a;
      font-size: 66px;
      line-height: 50px;
    }
  }
  &.error{
    .circle-svg .circle-bar{
      stroke: $danger;
      stroke-dashoffset: 65.1327;
    }
    &:after{
      content: "\f071";
      font: normal normal normal 123px/1 FontAwesome;
      margin-top: -30px;
      color: $danger;
      font-size: 66px;
      line-height: 50px;
    }
  }
}
/*** progress bar ***/
/*** checkout ***/
.checkout-table-container{
  .table-header{
    td,th{text-align:center;}
  }
  .table th, .table td{
    // padding: .45rem .35rem;
    // text-align: center;
    &.actions{
      .fa{
        cursor: pointer;
        padding: 5px;
        background: $light-text;
        color:#fff;
        &:hover{
          color:#fff;
          background-color: $secondary-color;
        }
      }
    }
  }
  .table{
    tbody:hover{
      td,th{
        background: rgba(255, 255, 255, 0.7);
      }
    }
  }
  .description-row{
    td{
      // border-top: 0px;
      padding:0px;
      .bill-item{
        padding-left: 58px;
        font-weight: bold;
        background: none;
        border-bottom: 0;
        .desc{
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }
  .bill-item{
    .name{
      color:#000;
      text-transform: uppercase;
    }
    .desc{
      font-size:12px;
      text-transform: uppercase;
    }
  }
}
.checkout-details{
  box-shadow: 0 14px 26px -12px rgba(119, 119, 119, 0.17), 0 4px 23px 0 rgba(113, 113, 113, 0.12), 0 8px 10px -5px rgba(113, 113, 113, 0.2);
  .header{
    background:$dark-background;
    padding: 0px 10px;
    .table{
      text-transform: uppercase;
      td{
        color:#000;
        border:0;
        background: none;
        font-weight:bold;
        width:30%;
        // padding: 5px 8px;
      }
      td:first-child{
        width:70%;
      }
    }
  }
  .body{
    padding: 0px 10px;
    background: #fff;
    &.empty{
      img{
        width: 120px;
        margin-top: 30px;
      }
      h3{
        padding-top: 10px;
        font-size: 20px;
      }
      p{
        font-size: 12px;
        padding-bottom: 30px;
        .add-btn{
          background: #ddd;
          display: inline-block;
          line-height: 12px;
          font-weight: bold;
          padding: 2px;
          margin-right: 2px;
        }
      }
    }
    .table-body{
      border-bottom: 2px solid #ddd;
      padding-bottom: 5px;
    }
    .bill-items{
      .item{
        width:70%;
        white-space: inherit;
        .title{
          white-space: nowrap;
        }
      }
      .item-actions{
        width:30%;
        text-align:right;
        position: relative;
        .remove-action{
          cursor:pointer;
          color:$danger;
          position: absolute;
          right:10px;
          bottom:0px;
          .fa{
            cursor: pointer;
            background: $light-text;
            border-radius: 50%;
            line-height: 19px;
            padding: 0px 5px;
            font-size: 10px;
            &:hover{
              color:#fff;
              background: $danger;
            }
          }
        }
      }
    }
    .highlight{
      padding:2px 5px;
    }
    td{
      border-top:0px;
      font-size:14px;
      color:#000;
      text-transform:uppercase;
      padding: 5px 8px;
      vertical-align: top;
      .title{
        font-weight:bold;
      }
      .desc{
        font-size:10px;
        line-height:10px;
      }
    }
  }
  .footer{
    .btn{
      width: 100%;
      border-radius: 0;
      padding:15px 20px;
    }
  }
}



/*** content suggestion ***/
content-suggestion{
  margin-left: 5px;
}
.suggestion-img{
  box-shadow: 0px 0px 16px rgba(99, 99, 99, 0.48);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.form-control+content-suggestion{
  position: absolute;
  right: -30px;
  top: 4px;
}


/*** file upload ***/
.file-upload{
  .modal-header{
    .modal-title{
      font-size: 17px;
      margin-bottom: 20px;
    }
  }
  .modal-footer{
    margin-top: 20px;
  }
}


/*** Invite people to your app**/
.invite-text{
  margin-top:120px;

  .invite{

    text-align: center;
    display:inline-block;
  }
  img{
    padding: 10px;
  }
}


/**facebook**/
.invite{
  .page-title{
    font-size: 150%;
  }
  .message{
    font-size: 120%;
    color:#02a09a;

  }
  .template{
    font-size: 120%;
    color:#02a09a;
  }
  .friend{
    font-size: 120%;
    color:#02a09a;
    margin-left: 40px;
  }
  .img2{
    margin-left: -108px;
  }
  .label1{
    margin-right: 100px;
  }

}
textboxclass {
  height: 100px;
  width: 100px;
}
img{
  margin-right: 10px;

}

.SelectedBox{
  margin-top: 10px;
}
.facebook-box{
  .title{
    margin-right: 10px;
  }
}
.mail{
  h6{
    margin: 17px;
    padding-bottom: 8px;
    font-size: 27px;
  }
}


