
<div class="modal-header">
  <h4 class="modal-title">Delete File</h4>

</div>
<div class="modal-body">
  Are you sure you want to delete File?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="deleteFile(stringContent)">Delete</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Close</button>
</div>
