/* Colors */
$color-primary: #488aff;
$color-secondary: #32db64;
$color-danger: #f53d3d;
$color-light: #f4f4f4;
$color-dark: #222;
/*** mixins ***/
@function convert-angle($value, $unit) {
  $convertable-units: deg grad turn rad;
  $conversion-factors: 1 (10grad/9deg) (1turn/360deg) (3.1415926rad/180deg);
  @if index($convertable-units, unit($value)) and index($convertable-units, $unit) {
    @return $value
             / nth($conversion-factors, index($convertable-units, unit($value)))
             * nth($conversion-factors, index($convertable-units, $unit));
  }
  @warn "Cannot convert `#{unit($value)}` to `#{$unit}`.";
}

@function is-direction($value) {
  $is-direction: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
  $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));
  @return $is-direction or $is-angle;
}


@function legacy-direction($value) {
  @if is-direction($value) == false {
    @warn "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be an angle or a direction";
  }

  $conversion-map: (
    to top          : bottom,
    to top right    : bottom left,
    to right top    : left bottom,
    to right        : left,
    to bottom right : top left,
    to right bottom : left top,
    to bottom       : top,
    to bottom left  : top right,
    to left bottom  : right top,
    to left         : right,
    to left top     : right bottom,
    to top left     : bottom right
  );

  @if map-has-key($conversion-map, $value) {
    @return map-get($conversion-map, $value);
  }

  @return 90deg - convert-angle($value, 'deg');
}


@mixin linear-gradient($direction, $color-stops...) {
  @if is-direction($direction) == false {
    $color-stops: ($direction, $color-stops);
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}


/*** colors ***/
$font-stack: 'Lato', sans-serif;
$primary-color: #02a09a;
$secondary-color: #0a5d7b;

$dark-text: #444444;
$light-text: #888888;
$light-background: #eeeeee;
$dark-background: #cccccc;

$danger: #920000;


//$primary-font-color: #333;

//$theme-color:#0f403f;
//$theme-light-color:#02a09a;
//$theme-secondary-color: #0a5d7f;
//$theme-secondary-light-color: #077ba5;

// $background-gradient-start : $light-background;
// $background-gradient-end :$dark-background;

$active-notification-color :  $secondary-color;

/*** dashboard colors ***/
$nice-blue: #1c95c1;
$teal: #02a09a;
$puke: #a09e02;
$purple-blue: #4e1cc1;

/*** buttons colors ***/
$theme-button-bg-color : #077ba5;


/*** social icons ***/
$facebook-color: #4d69a3;
$twitter-color: #66b5f1;
$google-plus-color: #e05f54;
$instagram-color: #7c5a51;
$linkedin-color: #1288c1;
$pinterest-color: #d1333a;
