<div class="row">
  <div class="col-md-12">

      <table class="table table-header active">
        <thead>
        <tr>
          <th width="3%"># <sorter [config]="getListSortData('createdOn')" (sortData)="setListSorting($event)"></sorter></th>
          <th width="17%">NAME <sorter [config]="getListSortData('name')" (sortData)="setListSorting($event)"></sorter>
          </th>
          <th width="11%">TYPE <sorter [config]="getListSortData('type')" (sortData)="setListSorting($event)"></sorter>
          </th>
          <th width="10%">Route <sorter [config]="getListSortData('route')" (sortData)="setListSorting($event)"></sorter>
          </th>
          <th width="18%">DESCRIPTION <sorter [config]="getListSortData('description')" (sortData)="setListSorting($event)"></sorter></th>
          <th width="14%">ACTIONS</th>
        </tr>
        </thead>
      </table>

    <div class="table-data-wrapper mask-data" style="height: calc(100vh - 200px);" infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="400"
         (scrolled)="onScroll()"
         [scrollWindow]="false">
        <table class="table">
          <tbody>
          <tr [ngClass]="{'emphasis': (!component.isLeaf)}" *ngFor="let component of components;let index = index;" >

            <th width="3%">{{index+1}}</th>
            <td class="cursor-pointer" width="17%"  class="cursor-pointer"(click)="ViewChildComponents(component)">
              {{component.resourceID.name}}
            </td>
            <td width="11%">{{component.type}}</td>
            <td width="10%">{{component.route}}</td>
            <td width="18%">{{component.description}}</td>
            <td width="14%" class="text-center">
           <div class="row">
             <div *ngIf="component.isLeaf" class="col-md-12">
               <a (click)="editComponent(component)" class="row-action"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
               <a (click)="deleteComponent(component)" class="row-action"><i class="fa fa-trash" aria-hidden="true"></i></a>
             </div>
             <div *ngIf="!component.isLeaf" class="col-md-12">
               <a (click)="editComponent(component)" class="row-action"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
               <a  class="row-action"><i class="fa fa-trash" aria-hidden="true"></i></a>
             </div>
           </div>
            </td>

          </tr >
          </tbody>
        </table>
      </div>
  </div>
</div>
