<div class="dashboard">
	<div class="row">
		<div class="col-8 dashboard-cards">
			<div class="row">
				<div class="col-4">
					<div class="card">
						<div class="card-img nice-blue">
							<img src="assets/img/user-outline.png"
								srcset="assets/img/user-outline@2x.png 2x,
										assets/img/user-outline@3x.png 3x">
						</div>
						<h2 class="title">Apps</h2>
						<p class="card-data">147</p>
						<a routerLink="/all-apps" class="view-link">View more</a>
					</div>
				</div>
				<div class="col-4">
					<div class="card">
						<div class="card-img teal">
							<img src="assets/img/user.png"
								srcset="assets/img/user@2x.png 2x,
										assets/img/user@3x.png 3x">
						</div>
						<h2 class="title">Users</h2>
						<p class="card-data">5468</p>
						<a routerLink="/all-users" class="view-link">View more</a>
					</div>
				</div>
				<div class="col-4">
					<div class="card">
						<div class="card-img puke">
							<img src="assets/img/dollar.png"
								srcset="assets/img/dollar@2x.png 2x,
										assets/img/dollar@3x.png 3x">
						</div>
						<h2 class="title">Revenue</h2>
						<p class="card-data">$8500</p>
						<a href="#" class="view-link">View more</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<div class="card">
						<div class="card-img purple-blue">
							<img src="assets/img/wallet.png"
								srcset="assets/img/wallet@2x.png 2x,
										assets/img/wallet@3x.png 3x">
						</div>
						<h2 class="title">Wallet</h2>
						<p class="card-data">$96200</p>
						<a href="#" class="view-link">View more</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="dashboard-notifications">
				<div class="data-time">
					<!--<h2 class="time">10:08 AM</h2>
					<p><img src="assets/img/temperature.png"
     srcset="img/temperature@2x.png 2x,
             img/temperature@3x.png 3x"
     class="temperature"> 38<sup>o</sup>C<img src="assets/img/location.png"
     srcset="img/location@2x.png 2x,
             img/location@3x.png 3x"
     class="location"> New Delhi</p>-->
					<h4 class="message">Good Morning!</h4>
					<h4 class="user-name">{{currentUser.name}}</h4>
				</div>
			</div>
			<div class="dashboard-activities">
				<div class="header">
					<span class="title">Activities</span>
					<a href="#" class="reload" alt="reload">
						<img src="assets/img/reload.png">
					</a>

				</div>
				<div class="body-container">
					<div class="item">

<img src="assets/img/avatar-009.png"
     srcset="assets/img/avatar-009@2x.png 2x,
             assets/img/avatar-009@3x.png 3x"
     class="activity-img">
						<div class="content">
							<p class="time-ago">2 hours ago</p>
							<p class="desc">
								Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet
							</p>
						</div>
					</div>
					<div class="item">
<img src="assets/img/avatar-009.png"
     srcset="assets/img/avatar-009@2x.png 2x,
             assets/img/avatar-009@3x.png 3x"
     class="activity-img">
						<div class="content">
							<p class="time-ago">2 hours ago</p>
							<p class="desc">
								Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet
							</p>
						</div>
					</div>
					<div class="item">
<img src="assets/img/avatar-009.png"
     srcset="assets/img/avatar-009@2x.png 2x,
             assets/img/avatar-009@3x.png 3x"
     class="activity-img">
						<div class="content">
							<p class="time-ago">2 hours ago</p>
							<p class="desc">
								Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet
							</p>
						</div>
					</div>
					<div class="item">
<img src="assets/img/avatar-009.png"
     srcset="assets/img/avatar-009@2x.png 2x,
             assets/img/avatar-009@3x.png 3x"
     class="activity-img">
						<div class="content">
							<p class="time-ago">2 hours ago</p>
							<p class="desc">
								Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet
							</p>
						</div>
					</div>
					<div class="item">
<img src="assets/img/avatar-009.png"
     srcset="assets/img/avatar-009@2x.png 2x,
             assets/img/avatar-009@3x.png 3x"
     class="activity-img">
						<div class="content">
							<p class="time-ago">2 hours ago</p>
							<p class="desc">
								Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
