.dashboard .dashboard-cards {
  padding-top: 45px;
  height: calc(100vh - 110px);
  overflow: auto; }

.dashboard .dashboard-cards .card {
  padding: 20px 15px;
  font-weight: 300;
  border: 0px;
  margin-bottom: 30px;
  border-radius: 5px; }


.dashboard .dashboard-cards .card .card-img {
  position: absolute;
  right: 15px;
  top: -15px;
  padding: 15px;
  width: 60px;
  height: 60px;
  text-align: center;
  img{
    width: 22.5px;
    height: 22.5px;
    margin-right: 0px;
  }
}

.dashboard .dashboard-cards .card .card-img.nice-blue {
  background-color: #1c95c1;
  //box-shadow: 1px 1px 1px #1c95c1;
  box-shadow: 0 14px 26px -12px rgba(28, 149, 193, 0.42), 0 4px 23px 0 rgba(28, 149, 193, 0.12), 0 8px 10px -5px rgba(28, 149, 193, 0.2);
}

.dashboard .dashboard-cards .card .card-img.teal {
  background-color: #02a09a;
  //box-shadow: 1px 1px 1px #02a09a;
  box-shadow: 0 14px 26px -12px rgba(2, 160, 164, 0.42), 0 4px 23px 0 rgba(2, 160, 164, 0.12), 0 8px 10px -5px rgba(2, 160, 164, 0.2);
}

.dashboard .dashboard-cards .card .card-img.puke {
  background-color: #a09e02;
  //box-shadow: 1px 1px 1px #a09e02;
  box-shadow: 0 14px 26px -12px rgba(160, 158, 2, 0.42), 0 4px 23px 0 rgba(160, 158, 2, 0.12), 0 8px 10px -5px rgba(160, 158, 2, 0.2);
}

.dashboard .dashboard-cards .card .card-img.purple-blue {
  background-color: #4e1cc1;
  //box-shadow: 1px 1px 1px #4e1cc1;
  box-shadow: 0 14px 26px -12px rgba(78, 28, 193, 0.42), 0 4px 23px 0 rgba(78, 28, 193, 0.12), 0 8px 10px -5px rgba(78, 28, 193, 0.2);
}

.dashboard .dashboard-cards .card .title {
  font-size: 18px; }

.dashboard .dashboard-cards .card .card-data {
  color: #1c95c1;
  font-size: 30px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 0px;
  line-height: 36px; }

.dashboard .dashboard-cards .card .view-link {
  text-align: right;
  color: #888888;
  font-size: 14px; }

.dashboard .dashboard-notifications .data-time {
  text-align: right; }

.dashboard .dashboard-notifications .data-time h2, .dashboard .dashboard-notifications .data-time h4, .dashboard .dashboard-notifications .data-time p {
  color: #888888;
  font-weight: 300;
  margin: 0px; }

.dashboard .dashboard-notifications .data-time .location, .dashboard .dashboard-notifications .data-time .temperature {
  width: 15px;
  margin: 0px 8px; }

.dashboard .dashboard-activities {
  margin-top: 20px; }

.dashboard .dashboard-activities .header .title {
  font-size: 18.5px;
  font-weight: 300;
  color: #888888; }

.dashboard .dashboard-activities .header .reload {
  float: right;
  opacity: 0.3; }

.dashboard .dashboard-activities .header .reload img {
  width: 13px; }

.dashboard .dashboard-activities .body-container {
  height: calc(100vh - 274px);
  padding-right: 10px;
  overflow: auto;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0.3))); }

.dashboard .dashboard-activities .body-container .item {
  position: relative;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #f1f2f2; }

.dashboard .dashboard-activities .body-container .item .activity-img {
  position: absolute;
  left: 10px;
  top: 20px;
  width: 40px; }

.dashboard .dashboard-activities .body-container .item .content {
  padding-left: 40px;
  color: rgba(0, 0, 0, 0.5); }

.dashboard .dashboard-activities .body-container .item .content .time-ago {
  margin: 0px;
  line-height: 16px; }

.dashboard .dashboard-activities .body-container .item .content .desc {
  font-size: 15px;
  line-height: 15px;
  margin: 5px 0px; }
