<div class="app-page clearfix">
  <div class="row">
    <div class="col-6">
      <h4 class="primary-title">{{pageName}}</h4>
    </div>
    <div class="col-6 text-right">
      <button (click)="addP5()" class="btn btn-sm btn-secondary">+ Add Story</button>
      <button fullScreen [container]="'.app-page'" class="btn btn-sm full-screen-action btn-secondary">
        <i class="fa fa-window-maximize"></i>
        <i class="fa fa-window-minimize"></i>
      </button>
    </div>

  </div>
    <!-- folders -->
    <div class="file-container clearfix">
      <div class="table-data-wrapper mask-data" style="height:calc(100vh - 200px);" infiniteScroll
           [infiniteScrollDistance]="2"
           [infiniteScrollThrottle]="400"
           (scrolled)="onScroll()"
           [scrollWindow]="false">
      <div class="file-item" *ngFor="let p5data of p5; let index = index;" >
        <div class="actions">
          <a (click)="editP5(p5data)" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a (click)="deleteP5(p5data)" placement="top" ngbTooltip="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </div>
        <div class="file-bg-image" [style.background-image]="getBackground(p5data.path)"></div>
        <div class="file-content">
          <h3 class="title">{{p5data.title.substr(0,20)}}<span *ngIf="p5data.title.length>20">...</span></h3>
          <div class="desc">
            {{p5data.description.substr(0,100)}}<span *ngIf="p5data.description.length>100">...</span>
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- folders -->
</div>
