<div class="box">
  <div class="row">
    <div class="col-8">
      <h4 class="primary-title">STALLS</h4>
    </div>
  </div>

<div class="row">
  <div class="col-4">col-4
    
      <div class="left-list">1. RECEPTION
          <span class="actions">
            <a href="#">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a href="#">
            <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </span>
      </div>
   
      <div class="left-list">2. MANDAP
          <span class="actions">
            <a href="#"> 
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a href="#">
               <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </span>
      </div>
  

    
      <div _ngcontent-c2="" class="image-upload-box">
        <span>+</span>
        <input type="file" name="somename">
        </div>
       
      

</div>

  <div class="col-8">Details
       <div class="middle-list">
          <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>

    <div class="row">
        <div class="col-md-4">
            <img src="assets/img/avatar009_480.png" class="img-fluid">
        </div>            
          <div class="col-8">       

            <table>
                <tr>
                    <td>STALL NAME</td>
                    <td>:</td>
                    <td>RECEPTION</td>
                </tr>
                <tr>
                    <td>STALL NAME</td>
                    <td>:</td>
                    <td>RECEPTION</td>
                </tr>
                <tr>
                    <td>STALL NAME</td>
                    <td>:</td>
                    <td>RECEPTION</td>
                </tr>
            </table>
          </div>    
    </div>
</div>
   
      