<!-- <form name="Form" (ngSubmit)="submitForm()" novalidate >
  <div class="modal-header">
    <h4 class="modal-title"> {{files._id ? 'Edit':'Add'}} Group</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <div class="modal-body">

    <div class="form-group row">
      <div class="col-md-3">Icon</div>
      <div class="col-md-8">
        <div class="image-uploader">
          <i [hidden]="imagePreview" class="fa fa-camera"></i>
          <input type="file" (change)="selectFile($event)" />
          <img *ngIf="imagePreview" [src]="imagePreview" width="100" height="100" />
        </div>
      </div>
    </div>

  </div>


  <div class="modal-footer">
    <button type="button" [disabled]="isSubmitting" class="btn btn-primary" type="submit">
      <span *ngIf="!isSubmitting">SAVE</span><span *ngIf="isSubmitting">SAVING...</span></button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">CANCEL</button>
  </div>
</form> -->
<div class="modal-header">
  <h4 class="modal-title"> Add Suggestion</h4>

</div>
<div class="row mt-10 justify-content-md-center">
  <div class="col-4 text-center">
    <div class="suggestion-selector">
        <div class="circle">
          <i class="fa fa-desktop"></i>
        </div>
        <p class="title">From Computer</p>
        <input type="file" class="upload" (change)="selectFile($event)">
    </div>
  </div>
  <div class="col-4">
    <div class="suggestion-selector" (click)="openWebWizard()">
        <div class="circle">
          <i class="fa fa-globe"></i>
        </div>
        <p class="title">From Online</p>
      </div>
  </div>
</div>
