<div class="modal-header">
  <h4 class="modal-title">Delete Resource</h4>

</div>
<div class="modal-body">
  Are you sure you want to delete "{{resource.name}}" Resources?
</div>
<div class="modal-footer">
  <button type="button" [disabled]="submitting" class="btn btn-danger" (click)="delete(resource)">Delete</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Close</button>
</div>
