<div class="row">
    <div class="col-md-12">
      <breadcrumb></breadcrumb>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <ul class="list-group create-steps">
            <li class="list-group-item filled">
                <button class="btn" (click)="goToStep('category')">1. Select Category
                    <!-- <i class="fa fa-check"></i> -->
                </button>
            </li>
            <li class="list-group-item active">
                <button class="btn" (click)="goToStep('template')">2. Select Template
                    <!-- <i class="fa fa-check"></i> -->
                </button>
            </li>
            <li class="list-group-item">
                <button class="btn" (click)="goToStep('category')">3. Fill Details
                    <!-- <i class="fa fa-check"></i> -->
                </button>
            </li>
        </ul>
    </div>
    <div class="col-10">
        <router-outlet></router-outlet>
    </div>   
</div>